<% provide(:title, 'loobIN') %>
<% if logged_in? %>
  <div class="container">
    <div class="row">
      <div class="col-sm-2">
        <div>
          <%= render 'shared/user_info' %>
          <%= render 'shared/plazas_info' %>
        </div>
        <div class="stats">
          <%# render 'shared/stats' %>
        </div>
      </div>
      <div class="col-sm-6">
        <%= render 'static_pages/sigue_plaza' %> 
        <section class="micropost_form" style="margin-top: 15px;">
          <%= render 'shared/micropost_form' %>
        </section>
        <div class="home_popular">
          <ul>
            <li class="home">
              <%= link_to "Home", root_url %>
            </li>
            <li class="popular">
              <%= link_to "Most voted", '/popular' %>
            </li>
          </ul>
        </div>
        <div style="background-color: white; padding-left: 10px; padding-top: 5px; font-family: Georgia, sans-serif, serif; color: grey;">
          <b>BEST IN DEMOS</b>
        </div>
        <div class="scroll_masvotados">
          <% @posts_masvotados.first(6).each do |posts_popular| %>
            <% @posts_popular = Micropost.where(id: posts_popular) %>
            <% @posts_popular.first(6).each do |post_popular| %>
              <li>
                <%= link_to micropost_path(id: post_popular), style: "color: black;" do %>
                  <div>
                    <% if post_popular.picture? %>
                      <%= image_tag (post_popular.picture.url), class: "img", size: 180, style: "position: absolute, bottom: 0px;" %>
                      <%= truncate(post_popular.content,length: 100, omission: '... (read)') %>
                    <% else %>
                      <% if post_popular.link? %>
                        <% doc = Nokogiri::HTML(open(post_popular.link), nil, 'UTF-8', 'ISO-8859') %>
                        <div class= "title-link">
                          <%= truncate((@title = doc.at_css("title").text), length: 150) %>
                        </div>
                        <div class="enlace_texto">
                          <%= truncate(post_popular.link.scan( /([^>]*)./).first.last, :length => 30) %>
                        </div>
                      <% else %>
                        <%= truncate(post_popular.content,length: 100, omission: '... (read)') %>
                      <% end %>
                    <% end %>
                  </div>
                <% end %>
                <span style="color: grey; font-size: 12px;">
                  <i class="fa fa-commenting-o" aria-hidden="true"></i>
                  <%= post_popular.comments.count %> comments | 
                  <i class="fa fa-thumbs-o-up" aria-hidden="true"></i><i class="fa fa-thumbs-o-down" aria-hidden="true"></i>&nbsp;<%= post_popular.votes.count %> points 
                </span>
              </li>
            <% end %>
        <% end %>  
        </div>
        <% if @feed_items.any? %>
          <%= render 'shared/feed' %>
        <% else %>
          <div class="instrucciones">
            Aún no dispones de posts dentro de tu red política, echa un vistazo a los más populares, o empieza a seguir a otros usuarios, colabora con círculos de tu interés o donde vives y participa en acciones o apoya causas que quieras defender 
          </div>
           <%= link_to "Lo más votado", '/popular' %>
        <% end %>
      </div>
      <div class="col-sm-4">
        <%= render 'microposts/petition_short' %>

        <%= render 'plazas/action_short' %>

        <%= render 'plazas/causa_short' %>
        <h5><b>Iniciativas que tienes pendientes</b></h5>
        <h5><b>Filtrar por tus intereses</b></h5>

        <h5><b>Nuestros candidatos</b></h5>
        <%= render 'shared/lista' %>
        <%= link_to "New petition!", '/petition', class: "btn btn-lg btn-link" %>
      </div>
    </div>
  </div>

<% else %>
  <div class="backgroundimg">
    <div class="container" >
      <h1 style="font-size: 45px; line-height: 18px;">Welcome to <span style="font-size: 60px;">assemblyn <span style="font-size: 30px;">(name in beta)</span></span> <p>Best party ever.</p></h1> 
      <h3><span style="padding-right: 50px; ">Candidates.</span><span style="padding-right: 50px; padding-left: 50px;">Platform.</span><span style=" padding-left: 50px;">Petitions.</span></h3>
      <div class="container" >
        <h1 class="h1"></h1>
        <div class="wrapper">
          <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
          <%= link_to "Login", login_path, class: "btn btn-lg btn-primary" %>
        </div>
      </div>
    </div>   
  </div>

  <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <div class="new_inicio">
              <% provide(:title, 'Sign up') %>
              
              <div class="titulo">
                <h3>Para comenzar, tenemos que crear su cuenta.</h3>
                <h5 style="margin-top: 25px;">Resgistrarse en assemblyn es fácil y gratis; además tú eliges el momento de ser representante de algún círculo administrativo.</h5>  
              </div>

              <ul class="titulo">
                  <li class="element">
                    <ul>
                        <li>
                            <i class="fa fa-university fa-2x" aria-hidden="true"></i>
                        </li>
                        <li>
                            <b>Que és XXX?</b>
                            <p><h5>XXX nace con la vocación de darte una identidad lo más fiel posible desde un punto de vista político con la que defender tus ideas.</h5></p>
                        </li>
                    </ul>   
                  </li>
                  <li class="element">
                    <ul>
                        <li>
                            <i class="fa fa-cogs fa-2x" aria-hidden="true"></i>

                        </li>
                        <li>
                            <b>Plataforma</b>
                            <p><h5>Pensamos que de la interacción de todos los perfiles políticos surge una red de networking que empodera a las personas y acerca a la política actual al futuro.</h5></p>
                        </li>
                    </ul>               
                  </li>
                  <li class="element">
                    <ul>
                        <li>
                            <i class="fa fa-users fa-2x" aria-hidden="true"></i>
                        </li>
                        <li>
                            <b>Representantes</b>
                            <p><h5>Assemblyn tiene como una de sus fuciones principales dar a cualquiera la posibilidad de representar a sus ciudadanos en la toma de decisiones.</h5></p>
                        </li>
                    </ul>               
                  </li>
                  <li class="element">
                    <ul>
                        <li>
                            <i class="fa fa-arrow-left fa-2x" aria-hidden="true" style="color: blue;"></i>
                            <i class="fa fa-arrow-right fa-2x" aria-hidden="true"></i>
                        </li>
                        <li>
                            <b>Ideología</b>
                            <p><h5>En XXX no tenemos ideología, tenemos ideas, y creemos que pensar en izquierdas o derechas, conservadores o demócratas es una visión muy simple de una persona. Quizá en el pasado los partidos suplieran esa necesidad pero en el momento actual no representan la complejidad de una sociedad ni están preparados para liderar la sociedad del futuroñ.</h5></p>
                        </li>
                    </ul>               
                  </li>
                  <li class="element">
                    <ul>
                        <li>
                            <i class="fa fa-arrow-left fa-2x" aria-hidden="true" style="color: blue;"></i>
                            <i class="fa fa-arrow-right fa-2x" aria-hidden="true"></i>
                        </li>
                        <li>
                            <b>Partidos políticos</b>
                            <p><h5>En XXX no tenemos ideología, tenemos ideas, y creemos que pensar en izquierdas o derechas, conservadores o demócratas es una visión muy simple de una persona. Quizá en el pasado los partidos suplieran esa necesidad pero en el momento actual no representan la complejidad de una sociedad ni están preparados para liderar la sociedad del futuroñ.</h5></p>
                        </li>
                    </ul>               
                  </li>
              </ul>
              <ul class="titulo">
                <li class="element">
                  <ul>
                      <li>
                          <i class="fa fa-circle-o fa-2x" aria-hidden="true"></i>

                      </li>
                      <li>
                          <b>Círculos</b>
                          <p><h5>Los círculos son agrupaciones de personas que comparten algún interés común. Los puede haber administrativos, que nos representan a todos según donde vivamos y de los cuales se obtienen los representantes. Los círculos están dedicados a la colaboración de sus integrantes, presentando problemas y debatiendo  consultas.</h5></p>
                      </li>
                  </ul>   
                </li>
                <li class="element">
                  <ul>
                      <li>
                          <i class="fa fa-file-text-o fa-2x" aria-hidden="true"></i>
                      </li>
                      <li>
                        <b>Consultas</b>
                        <p><h5>Uno de los elementos principales para el funcionamiento de la plataforma, son objetos empleados para que expresar opinión y debatir. Si son populares y se votan más de 2/3 partes de los integrantes y resulta favorable se combierten en resoluciones que representan a cada círculo.</h5></p>
                      </li>
                  </ul>               
                </li>
                
                <li class="element">
                  <ul>
                    <li>
                        <i class="fa fa-bolt fa-2x" aria-hidden="true"></i>
                    </li>
                    <li>
                      <b>Acciones</b>
                      <p>
                        <h5>
                          <i class="fa fa-file-text-o" aria-hidden="true"></i>
                          <i class="fa fa-circle-o" aria-hidden="true"></i>
                          <i class="fa fa-bolt" aria-hidden="true"></i>
                          <i class="fa fa-heart-o" aria-hidden="true"></i>
                          <h5></p>Las acciones son iniciativas orientadas a ejecutarse por los usuarios, desde afrontar un problema común, acciones por el medio ambiente, para con los animales...<p><h5>
                        </h5>
                      </p>
                    </li>
                  </ul>               
                </li>
                <li class="element">
                  <ul>
                    <li>
                        <i class="fa fa-heart-o fa-2x" aria-hidden="true"></i>
                    </li>
                    <li>
                      <b>Causas</b>
                      <p>
                        <h5>
                          <i class="fa fa-file-text-o" aria-hidden="true"></i>
                          <i class="fa fa-circle-o" aria-hidden="true"></i>
                          <i class="fa fa-bolt" aria-hidden="true"></i>
                          <i class="fa fa-heart-o" aria-hidden="true"></i>
                          <h5></p>Las causas defienden unos ideas con las sentirte identificad. Cada persona se representada por múltiples causas o ideas que en su conjunto, junto con las acciones y los cículos conforman una identidad compleja pero individualizada que seguramente no encajaría en ningún partido político actual.<p><h5>
                        </h5>
                      </p>
                    </li>
                  </ul>               
                </li>    
              </ul>
            </div>
          </div>
        </div>
    <div class="center jumbotron">
      <h4>Party its a place where choose the future representatives of all places, from your small town to yout conuntry.</h4>
      <h4>Its a place where you can express yourself about all around you and make changes about it.</h4>

       <h3>You can participate two differents ways, being part of the election where you have to defend the decission are taken in the assembliess or</h3>

       <h3>You can participate in the assemblies were decide the mains lines of each specialty, Environment, Architecture, Health, Education, Guns...</h3>
      <h3 style="text-align: left">PARTY it´s a new technology driven political platform for everyone.<p>It´s have 3 main pillars:</p>
        <p><b>Representatives:</b> everyone now can be a representative. They are the conexion with the political field.</p>
        <p><b>Platform:</b> Where we express ourselves in a political way, discover needs in your community, detects and support detected problems in your expertise field, show to the worls what's you really love...</p>
        <p><b>Petitions:</b> Take action pillar, sometime we need to take decisions. Elaborate by ourselves, approved and corrected by expertise lobbies and sended to the person that needs to know.</p>
      </h3>
      <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
    </div>
  </div>
<% end %>