<% content_for :head do %>
  <!-- Open Graph tags -->
  <meta property="og:title" content="ConstructUX" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://www.constructux.com" />
  <meta property="og:description" content="ConstructUX, donde diseñar tu reforma y tu presupuesto a tu medida." />
  <meta property="og:image" content="partida_default.jpg"  />  

<% end %> 

<% provide(:title) %>
<% if logged_in? %>

  <div class="container">
    <div class="row">

      <div class="col-md-10 col-md-offset-1">


      <% if current_user.empresa != true %>
      <div class="texto"> 
        <li class="search" style="list-style: none; padding: 0px; width: 100%;">
          <ul class="search_form" style="width: 100%; list-style: none; padding: 0px;">
            <%= form_tag(root_url, method: :get) do %>
            <li style="display: inline-flex; width: 100%;">
              <h5 class="search" style="width: 100%; "><%= text_field_tag :tern, params[:tern], placeholder: 'Prueba con albañiles, baldosas...', style: "margin: 0px; width: 100%; padding: 10px; border-radius: 15px;" %><%= submit_tag 'Search', class: "btn btn-primary btn-sm", style: "margin: 0px; padding: 3px 6px; background-color: white; color: #46b8da; border: 2px solid #46b8da; font-weight: 600; margin-left: -80px; font-size: 15px; border-radius: 10px;" %></h5>
            </li>
            <li class="boton_search" style="display: inline-flex;">
              <h5 style="font-weight: 600;"></h5>
            </li>
            <% end %>
          </ul>
        </li>  

      </div> 
      <% end %>  

      <% if params[:tern] != nil %>
        <div class="campos" style="">

          <% if @partidas.where.not(empresa: nil).any? %>
            <h3 style="font-weight: bold;">Ofertas para tí</h3>
            <ul class="lista_principal" style="">
                <% @partidas.where.not(empresa: nil).take(10).map do |partida| %>
                  <li class="lista_oferta" style="width: 23%; margin: 5px;">
                    <ul class="elemento" style=" font-family: 'Open Sans'; width: 230px; margin: 5px;">
                      <%= link_to partida_path(partida) do %>
                        <li>
                          <div class="card mb-3" style="">
                            <div class="card2" style="overflow-x: hidden; overflow-y: hidden; height: 150px; border-radius: 10px;">
                              <div class="img_prueba" style="position: relative; display: inline-block; bottom: -50%; right: -50%;">
                                <% if partida.foto? %>
                                  <%= image_tag(partida.foto.url, class: "img_prueba") %>
                                <% else %>
                                  <%= image_tag(("partida_default.jpg"), class: "img_prueba") %>
                                <% end %>
                              </div>
                            </div>
                          </div>
                        
                      </li>
                      <div class="texto" style="">
                        <li class="nombre">
                          <div class="nombre">
                              <button type="button" class="btn btn-sm btn-info" style="background-color: white; border: 1px solid grey;" ><i class="fa fa-info" aria-hidden="true" style="color: grey;"></i></button>
                              <%= partida.titulo if partida.titulo != nil %>
                          </div>
                        </li>
                        <li>
                          <div class="description" style="height: 80px; overflow: hidden;"><h5><%= partida.description if partida.description != nil %></h5> </div>
                        </li>
                        <li class="empresa" style="padding-left: 0px;">
                          <% if partida.empresa != nil %>
                            <% @empresa = Empresa.find( partida.empresa) %>
                            <% @user_empresa = User.find(@empresa.user_id) %>
                          <% end %>
                          <span style="display: block; font-weight: 600;"><%= @user_empresa.name %></span>
                          <span class="stars" style="display: block; padding-bottom: 10px;font-weight: 600; color: #008489 !important;"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i> 0 valoraciones</span>
                        </li>                           
                        <li class="precio_oferta" style="padding-left: 0px;">
                          <span style="font-size: 14px; padding-top: 10px;">Presupuesto: <span style="font-size: 16px;"><b><%= partida.importe if partida.importe != nil %> €/<%= partida.um if partida.um %></b></span></span>
                        </li>
                        <li>
                          <h5 style="font-weight: 300; color: grey;"></h5>
                        </li>
                        <% end %>
                        <li class="iconos">
                          <button type="button" class="btn btn-sm btn-info" data-toggle="popover" title="Tiempo" data-content="<%= partida.rendimiento if partida.rendimiento != nil %> h/<%= partida.um %>" style="background-color: white; border: none; padding: 5px 5px;" ><i class="fa fa-clock-o" aria-hidden="true" style="color: #d9534f;"></i></button>

                          <button type="button" class="btn btn-sm btn-info" data-toggle="popover" title="Mano de Obra" data-content="<%= partida.man_obra if partida.man_obra != nil %>" style="border: none; background-color: white; border: none; padding: 5px 5px;" ><i class="fa fa-users" aria-hidden="true" style="color: #d9534f;"></i></button>
                          
                          <button type="button" class="btn btn-sm btn-info" data-toggle="popover" title="Material incluido" data-content="<%= partida.mat_incluidos if partida.mat_incluidos != nil %>" style="border: none; background-color: white; border: none; padding: 5px 5px;" ><i class="fa fa-briefcase" aria-hidden="true" style="color: #d9534f;"></i></button>

                          <button type="button" class="btn btn-sm btn-info" data-toggle="popover" title="Fases" data-content="<%= partida.fases if partida.fases != nil %>" style="border: none; background-color: white; border: none;" ><i class="fa fa-info-circle" aria-hidden="true" style="color: #d9534f;"></i></button>

                          <button type="button" class="btn btn-sm btn-info" data-toggle="popover" title="Cond. Terminación" data-content="<%= partida.cond_terminacion if partida.cond_terminacion != nil %>" style="border: none; background-color: white; border: none; padding: 5px 5px;" ><i class="fa fa-info-circle" aria-hidden="true" style="color: #d9534f;"></i></button>

                          <% if partida.mat_aportar != nil %>
                          <div style="float: right;">
                              <button type="button" class="btn btn-sm btn-info" data-toggle="popover" title="Aportar" data-content="<%= partida.mat_aportar if partida.mat_aportar != nil %>" data-placement="left" style="background-color: white; border: 1px solid #d9534f; padding: 5px 5px;" ><i class="fa fa-briefcase" aria-hidden="true" style="color: #d9534f;"><i class="fa fa-plus" aria-hidden="true" style="color: #d9534f;"></i></i></button>
                          </div>
                          <% end %>
                        </li>
                      </div>
                    </ul>
                  </li>                      
                <% end %>        
            </ul>
          <% else %>
            <h3>Lo sentimos, aún no tenemos ninguna oferta relacionada con los términos de búsqueda, prueba con términos más generales.</h3>
            <h5>Nuestra base de datos crece muy rápido y en unos días tendremos, seguro, lo que estás buscando.</h5>
          <% end %>
        </div> 
      <% end %>           

        <div class="constructor">

          <div class="campos" style="">

            <% if current_user.admin? %>
              <% Micropost.all.each do |post| %>
              <h5>
                <% if post.hashtag1 == "cliente" %>
                  <% @cliente = User.find(post.user_id) %>
                  <% @reforma = Reform.find(post.hashtag2) %>
                  <%= @cliente.name %>
                  <%= post.created_at %>
                  <%= @reforma.nombre %>
                  <%= @reforma.id %>
                <% end %>
              </h5>
              <% end %>
            <% end %>

            <% if  current_user.empresa == true %>

              <div class="iconos_inicio">

                <h3 style="font-weight: bold; margin-top: 50px;">Saca el máximo partido a tu empresa</h3>
                <ul style="list-style: none; width: 100%; padding: 0px; margin: 0px;" class="">

                  <li style="align-items: center; text-align: center; padding: 10px;">
                    <% if Empresa.find_by(user_id: current_user.id) != nil %>
                      <%= image_tag('contractor_partidas.jpg', size: "80", class: 'oferta_imagen' ) %> <span style=""><h5 style="font-size: 22px; color: #444;"><b><i class="fas fa-shopping-basket"></i> <%= link_to "Marketplace", empresa_path(id: current_user.id, partidas_ofertadas: true), style: "color: #444;" %></b></h5> <h5><span style="font-size: 14px; line-height: 10px;">Partidas personalizadas creadas y diseñadas por tí, que formarán parte del marketplace.</span></h5></span>
                    <% else %>
                    <% end %>
                  </li>

                  <li style="align-items: center; text-align: center; padding: 10px;">
                    <% if Empresa.find_by(user_id: current_user.id) != nil %>
                      <%= link_to empresa_path(id: current_user.id) do %>
                        <%= image_tag('tus_datos.jpg', size: "80", class: 'oferta_imagen' ) %> <span style=""><h5 style="font-size: 22px; color: #444;"><b><i class="fas fa-database"></i> Tus Datos</b></h5><h5><span style="font-size: 14px;">Los datos que quieres compartir con nosotros. Desde los datos por partidas del diseñador de reformas hasta las partidas personalizadas.<span style="color: #666; font-size: 13px; font-weight: 600; line-height: 13px; display: block;">(Para tu seguridad los datos sólo son accesibles por tí)</span></span></h5></span>
                      <% end %>
                    <% else %>
                      <%= link_to new_empresa_path do %>
                        <%= image_tag('retirar_friso_madera.jpg', size: "60", class: 'oferta_imagen' ) %> <span style=""><h5 style="font-size: 22px; color: #444;"><b><i class="fas fa-database"></i> Tus datos</b></h5><h5><span style="font-size: 14px;">Los datos que quieres compartir con nosotros. Datos generales de partidas estandar junto con tus partidas personalizadas.</br>Para tu seguridad todo lo que ves aquí solo lo puedes ver tú con tu contraseña.</span></h5></span>
                      <% end %>                    
                    <% end %>
                  </li>
                  <li style="align-items: center; text-align: center; padding: 10px;">
                    <%= link_to presupuestos_path do %>
                        <%= image_tag('clientes.jpg', size: "60", class: 'oferta_imagen' ) %> <span style=""><h5 style="font-size: 22px; color: #444;"><b><i class="far fa-handshake"></i> Tus clientes</b></h5><h5><span style="font-size: 14px;">Clientes que buscan empresas para tu proyecto. Puedes rellenarlo con un solo click o personalizar el coste de cada partida</span></h5></span>
                    <% end %> 
                  </li>
                  <li style="align-items: center; text-align: center; padding: 10px;">
                    <%= image_tag('mercado.jpg', size: "60", class: 'oferta_imagen' ) %> <span style=""><h5 style="font-size: 22px; color: #444;"><b>Estadísticas y mercado</b></h5> <h5><span style="font-size: 14px;">(* en desarrollo)</span></h5></span>                    
                  </li>                                         
                </ul>

              </div>

            <% else %>

              <div class="iconos_inicio">

                <h3 style="font-weight: bold; margin-top: 50px;">Empieza en ConstructUX</h3>
                <ul style="list-style: none; width: 100%; padding: 0px; margin: 0px;" class="">

                  <li style="align-items: center; text-align: center; padding: 10px;">
                    <%= image_tag('nueva_vivienda.jpg', size: "60", class: 'oferta_imagen_grande' ) %> <span style=""><h5 style="font-size: 22px; color: #444;"><b>Nueva vivienda</b></h5> <h5><span style="font-size: 14px;">(* en desarrollo)</span></h5></span>
                  </li>

                  <li style="align-items: center; text-align: center; padding: 10px;">
                    <%= link_to new_reform_path do %>
                      <%= image_tag('retirar_friso_madera.jpg', size: "150x150", class: 'oferta_imagen_grande' ) %> <span style=""><h5 style="font-size: 22px; color: #444;"><b>Nueva Reforma</b></h5></span>
                    <% end %>
                  </li>
                  <li style="align-items: center; text-align: center; padding: 10px;">
                    <%= link_to reforms_path do %>
                        <%= image_tag('nuevo_proyecto.jpg', size: "60", class: 'oferta_imagen_grande' ) %> <span style=""><h5 style="font-size: 22px; color: #444;"><b>Tus proyectos</b></h5></span>
                    <% end %> 
                  </li>                         
                </ul>

              </div>

            <% end %>

            <% if current_user.empresa != true %>

            <%= render 'shared/lista_ofertas' %>

            <% end %>

          </div>
        </div>
      </div>


    </div>
  </div>

<% else %>
</div>
</div>
</div>
  <div class="background_image">
    <div class="col-md-1"></div>
      <div class="texto">
        <% if params[:tern] == nil %>
          <div class="oculto">
            <h1 style="font-weight: lighter; color: white;">Nos hemos propuesto democratizar el sector de la construcción y las reformas.</h1>
            <h2 class="encabezado_gordo" style="font-weight: bolder; color: white;">Con nuestro diseñador de reformas ajusta el presupuesto al máximo. Ofertas, presupuestos gratis y sin compromisos. </h2>

          </div>
        <% end %>    

        <div class="wrapper" style="padding-bottom: 30px;">
          <h3 style="font-weight: 400; color: white; font-weight: 700;">¿Quieres probar con tu primer proyecto?</h3>
          <%= link_to "Crea tu primer proyecto", '/reforma', class: "btn btn-lg btn-primary",  style: "background-color: white; border: 3px solid #ff5050; color: #ff5050; font-weight: 700; border-radius: 15px;" %>
        </div> 

        <h2 class="encabezado_gordo" style="font-weight: bolder; color: white; text-align: center;">¿Qué quieres renovar de casa?</h2>
        <li class="search" style="list-style: none; padding: 0px; width: 100%;">
          <ul class="search_form" style="width: 100%; list-style: none; padding: 0px;">
            <%= form_tag(root_url, method: :get) do %>
            <li style="display: inline-flex; width: 100%;">
              <h5 class="search" style="width: 100%; "><%= text_field_tag :tern, params[:tern], placeholder: 'Prueba con albañiles, baldosas...', style: "margin: 0px; width: 100%; padding: 10px; border-radius: 15px;" %><%= submit_tag 'Search', class: "btn btn-primary btn-sm", style: "margin: 0px; padding: 3px 6px; background-color: white; color: #46b8da; border: 2px solid #46b8da; font-weight: 600; margin-left: -80px; font-size: 15px; border-radius: 10px;" %></h5>
            </li>
            <li class="boton_search" style="display: inline-flex;">
              <h5 style="font-weight: 600;"></h5>
            </li>
            <% end %>
          </ul>
        </li>  

      </div>
      
  </div>
  <div class="col-sm-12" style="">   
  <div class="container">
    <div class="row">

      <div class="col-md-10 col-md-offset-1">

        <div style="background-color: white;">
          <!-- <h1 style="font-weight: lighter;">La mejor manera de diseñar tu reforma o construir tu vivienda.</h1> -->
          <!-- <h1 style="font-weight: lighter;">Nos hemos propuesto devolver el control de las reformas a sus usuarios.</h1>
          <h2 class="encabezado_gordo" style="font-weight: bolder;">Diseña tu reforma según el precio de cada partida, añade o quita elementos para ajustarte a tu presupuesto, con ofertas seleccionadas para tí y con presupuestos a un click sin compromiso. </h2>-->

<%
=begin%>
          <div class="wrapper" style="padding-top: 20px;">
            <!-- tenemos desactivado lo de empresa -->
            <%# link_to "Hazte usuario!", signup_path, class: "btn btn-lg btn-primary",  style: "background-color: white; border: 1px solid #0084B4; color: #0084B4;" %>

            <%# link_to "¿Ya eres usuario?", login_path, class: "btn btn-lg btn-primary", style: "background-color: #0084B4; color: white;" %>
          </div>

          <div class="wrapper" style="padding-top: 30px;">
            <h3 style="font-weight: 400;">¿Quieres probar con tu primer proyecto?</h3>
            <%= link_to "Crea tu primer proyecto", '/reforma', class: "btn btn-lg btn-primary",  style: "background-color: white; border: 1px solid #ff5050; color: #ff5050;" %>
          </div>
<%
=end%>            

          <div style="text-align: center;">
            <h3 style="font-weight: 400;">Por favor si te gusta compártelo con tus amigos, gracias!!</h3>
            <!-- FACEBOOK share button -->
            <div class="fb-share-button" 
            data-href="https://www.constructux.com" 
            data-layout="button_count"
            data-size="large"
            style= "display: inline-flex; padding-left: 0px;"></div> 

            <!-- TWITTER share button -->
            <div style="display: inline-flex;"><a href="https://twitter.com/share" class="twitter-share-button" data-url="https://www.constructux.com" data-size="large"></a></div>
            <script src="//platform.twitter.com/widgets.js"></script>                      
          </div> 

            <!-- <h2>Una vez tengas diseñado el presupuesto de tu reforma, lo mandamos a las mejores empresas constructoras, albañiles, fontaneros, carpinteros... valoradas por los usuarios para que en muy poco tengas todas los prespuestos de las empresas en tu móvil, sin hancer nada. A claro, es GRATIS, para siempre. </h2> -->

        </div>
        <% if params[:tern] != nil %>
          <div class="campos" style="margin-top: 30px;">
        <% else %>
          <div class="campos" style="">
        <% end %>

          <% if @partidas.where.not(empresa: nil).any? %>
            <h3 style="font-weight: bold;">Ofertas para tí</h3>
            <ul class="lista_principal" style="">
                <% @partidas.where.not(empresa: nil).take(10).map do |partida| %>
                  <li class="lista_oferta" style="width: 23%; margin: 5px;">
                    <ul class="elemento" style=" font-family: 'Open Sans'; width: 230px; margin: 5px;">
                      <%= link_to partida_path(partida) do %>
                        <li>
                          <div class="card mb-3" style="">
                            <div class="card2" style="overflow-x: hidden; overflow-y: hidden; height: 150px; border-radius: 10px;">
                              <div class="img_prueba" style="position: relative; display: inline-block; bottom: -50%; right: -50%;">
                                <% if partida.foto? %>
                                  <%= image_tag(partida.foto.url, class: "img_prueba") %>
                                <% else %>
                                  <%= image_tag(("partida_default.jpg"), class: "img_prueba") %>
                                <% end %>
                              </div>
                            </div>
                          </div>
                        
                      </li>
                      <div class="texto" style="">
                        <li class="nombre">
                          <div class="nombre">
                              <button type="button" class="btn btn-sm btn-info" style="background-color: white; border: 1px solid grey;" ><i class="fa fa-info" aria-hidden="true" style="color: grey;"></i></button>
                              <%= partida.titulo if partida.titulo != nil %>
                          </div>
                        </li>
                        <li>
                          <div class="description" style="height: 80px; overflow: hidden;"><h5><%= partida.description if partida.description != nil %></h5> </div>
                        </li>
                        <li class="empresa" style="padding-left: 0px;">
                          <% if partida.empresa != nil %>
                            <% @empresa = Empresa.find( partida.empresa) %>
                            <% @user_empresa = User.find(@empresa.user_id) %>
                          <% end %>
                          <span style="display: block; font-weight: 600;"><%= @user_empresa.name %></span>
                          <span class="stars" style="display: block; padding-bottom: 10px;font-weight: 600; color: #008489 !important;"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i> 0 valoraciones</span>
                        </li>                           
                        <li class="precio_oferta" style="padding-left: 0px;">
                          <span style="font-size: 14px; padding-top: 10px;">Presupuesto: <span style="font-size: 16px;"><b><%= partida.importe if partida.importe != nil %> €/<%= partida.um if partida.um %></b></span></span>
                        </li>
                        <li>
                          <h5 style="font-weight: 300; color: grey;"></h5>
                        </li>
                        <% end %>
                        <li class="iconos">
                          <button type="button" class="btn btn-sm btn-info" data-toggle="popover" title="Tiempo" data-content="<%= partida.rendimiento if partida.rendimiento != nil %> h/<%= partida.um %>" style="background-color: white; border: none; padding: 5px 5px;" ><i class="fa fa-clock-o" aria-hidden="true" style="color: #d9534f;"></i></button>

                          <button type="button" class="btn btn-sm btn-info" data-toggle="popover" title="Mano de Obra" data-content="<%= partida.man_obra if partida.man_obra != nil %>" style="border: none; background-color: white; border: none; padding: 5px 5px;" ><i class="fa fa-users" aria-hidden="true" style="color: #d9534f;"></i></button>
                          
                          <button type="button" class="btn btn-sm btn-info" data-toggle="popover" title="Material incluido" data-content="<%= partida.mat_incluidos if partida.mat_incluidos != nil %>" style="border: none; background-color: white; border: none; padding: 5px 5px;" ><i class="fa fa-briefcase" aria-hidden="true" style="color: #d9534f;"></i></button>

                          <button type="button" class="btn btn-sm btn-info" data-toggle="popover" title="Fases" data-content="<%= partida.fases if partida.fases != nil %>" style="border: none; background-color: white; border: none;" ><i class="fa fa-info-circle" aria-hidden="true" style="color: #d9534f;"></i></button>

                          <button type="button" class="btn btn-sm btn-info" data-toggle="popover" title="Cond. Terminación" data-content="<%= partida.cond_terminacion if partida.cond_terminacion != nil %>" style="border: none; background-color: white; border: none; padding: 5px 5px;" ><i class="fa fa-info-circle" aria-hidden="true" style="color: #d9534f;"></i></button>

                          <% if partida.mat_aportar != nil %>
                          <div style="float: right;">
                              <button type="button" class="btn btn-sm btn-info" data-toggle="popover" title="Aportar" data-content="<%= partida.mat_aportar if partida.mat_aportar != nil %>" data-placement="left" style="background-color: white; border: 1px solid #d9534f; padding: 5px 5px;" ><i class="fa fa-briefcase" aria-hidden="true" style="color: #d9534f;"><i class="fa fa-plus" aria-hidden="true" style="color: #d9534f;"></i></i></button>
                          </div>
                          <% end %>
                        </li>
                      </div>
                    </ul>
                  </li>                      
                <% end %>        
            </ul>
          <% else %>
            <h5 style="font-weight: 600; font-size: 16px; margin-bottom: 0px;">Lo sentimos, aún no tenemos ningún producto relacionado con los términos de búsqueda, prueba con términos más generales.</h5>
            <h5>Nuestra base de datos crece muy rápido y en unos días tendremos, seguro, lo que estás buscando.</h5>
          <% end %> 
        </div>        

        <div class="constructor">
          <%= render 'shared/lista_ofertas' %>
        </div>

        <div class="wrapper" style="margin-top: 100px;">
          
          <h3>¿Eres una empresa del sector de la construcción y te gustaría trabajar con nosotros?</h3>
          <h1 style="font-size: 28px;">Una nueva forma de conseguir clientes. Marketplace donde promocionarte y presupuestos a 1 click.</h1>
          <%= link_to "Registrarme gratis", signup_path(empresa: true), class: "btn btn-lg btn-primary",  style: "background-color: white; border: 1px solid #008489; color: #008489;" %>

          <div class="descripcion_empresa">
            <div>
              <h3>Sólo por registrarte tendrás derecho a:</h3>
              <h5><i class="far fa-check-circle"></i> Tu ficha personal donde podrás colgar imágenes, recibir información y comunicarte con tus clientes</h5>
              <h5><i class="far fa-check-circle"></i> Avisos instatáneos al correo electrónico de los presupuestos de nuestros usuarios</h5>
              <h5><i class="far fa-check-circle"></i> Podrás crear hasta 20 fichas de partidas  en nuestro marketplace gratis durante los primeros 2 meses </h5>
              <h5><i class="far fa-check-circle"></i> Información actualizada de tu actividad frente a tu competencia</h5>
            </div>
            <div class="imagen_ordena" style="width: 400px; overflow: hidden;">
              <%= image_tag('ordena.jpg', style: "width: 300px;") %>
            </div>
          </div>

          <h3 style="color: #444; text-align: left; margin-top: 30px;">¿Cómo funciona?</h3>
          <div class="funcionamiento">
            <div class="colum_funcionamiento"><i class="far fa-file-powerpoint fa-4x" style="color: #555;"></i><i class="far fa-check-circle fa-3x" style="color: #008489; margin-left: -10px;"></i>
              <h5>Los usuarios completan su proyecto y piden presupuesto en nuestras páginas </h5></div>
            <div class="colum_funcionamiento"><i class="far fa-file-powerpoint fa-4x" style="color: #555;"></i><i class="far fa-share-square fa-3x" style="color: #008489; margin-left: 0px;"></i>
              <h5>Al instante mandamos la información seleccionada para tí</div>
            <div class="colum_funcionamiento"><i class="fas fa-mobile-alt fa-4x" style="color: #555;"></i><i class="far fa-check-circle fa-3x" style="color: #008489; margin-left: -10px;"></i><h5>Eliges cómo creas el presupuesto, desde nuestra web con un solo click, o mandando el presupuesto directamente al cliente</h5></div>
          </div>



          <h5 style="margin-top: 80px;">Necesitas más información o contactar con nosotros, mándanos un correo a la siguiente dirección y en breve nos pondremos en contacto: </h5>
          <h3 style="font-size: 26px; color: #444; margin-top: 0px;">constructux@constructux.com</h3>
        </div> 

        <h3 style="font-size: 18px; padding-top: 40px;">Mira otras reformas creadas por otros usuarios</h3>

        <% @reforms.each do |reform| %>
          <div style="display: block; font-family: 'Open Sans'; font-size: 16px; ">
            <span style="margin-top: 25px; display: inline-flex;">reforma:</span> <span style="margin-top: 0px; margin-bottom: 15px; display: inline-flex; color: #666; font-weight: bolder;"><%= link_to reform.nombre, "/reforma/#{reform.id}" %></span>
          <span style="margin-top: 0px; margin-bottom: 15px; display: inline-flex; color: #008489 !important; font-weight: 500; font-size: 15px;"><%= link_to "Ver presupuesto ", "/reforma/presupuesto/#{reform.id}", style: "color: #008489 !important;" %></span>
          </div>
        <% end %>

      </div>
    </div>
  </div>
<% end %>


   



<script>
  $(function () {
  $('[data-toggle="popover"]').popover()
  })
</script> 
