<% provide(:title, 'loobIN') %>
<% if logged_in? %>
  <div class="container">
    <div class="row">
      <aside class="col-sm-2">
        <section class="user_info">
          <%= render 'shared/user_info' %>
          <%= render 'shared/plazas_info' %>          
        </section>
        <div class="stats">
          <%# render 'shared/stats' %>
        </div>
      </aside>
      <div class="col-sm-6">
        <%= render 'static_pages/sigue_plaza' %> 
        <section class="micropost_form">
          <%= render 'shared/micropost_form' %>
        </section>

        <div style="background-color: white; padding-left: 10px; padding: 5px; border-bottom: 1px solid #e6e9ec;">
          <span style="font-size: 18px;">lo más popular en <b>politir</b></span>
          <span style="float: right;">Scroll right &nbsp;<i class="fa fa-arrow-right" aria-hidden="true"></i></span>
        </div>
        <div class="scroll_masvotados">
          <% @posts_masvotados.first(6).each do |posts_popular| %>
            <% @posts_popular = Micropost.where(id: posts_popular) %>
            <% @posts_popular.first(6).each do |post_popular| %>
              <li>
                <%= link_to micropost_path(id: post_popular), style: "color: black;" do %>
                  <div>
                    <% if post_popular.picture? %>
                      <div class="img" style="max-height: 100px;">
                        <%= image_tag (post_popular.picture.url), class: "img", size: 200, style: "position: absolute, bottom: 0px; width: 100%; margin-top: -50px;" %>
                      </div>  
                        <%= truncate(post_popular.content,length: 150, omission: '... (read)') %>
                      
                    <% else %>
                      <% if post_popular.link? %>
                        <div class= "title-link">
                          <div class="img">
                            <% if post_popular.photo_link != nil %>
                              <div style="max-height: 100px;">
                                <%= image_tag (post_popular.photo_link), class: "img", size: 200, style: "position: absolute, bottom: 0px; width: 100%; margin-top: -50px;" %>                                
                              </div>

                            <% end %>                             
                          </div>
                         
                          <% if post_popular.title_link != nil %>
                            <%= truncate(post_popular.title_link, length: 150) %>
                          <% end %>
                        </div>
                        <div class="enlace_texto" style="padding-left: 10px;">
                          <%= link_to truncate(post_popular.link.scan( /([^>]*)./).first.last, :length => 30), post_popular.link %>
                        </div>
                      <% else %>
                        <%= truncate(post_popular.content, length: 200, omission: '... (read)') %>
                      <% end %>
                    <% end %>
                  </div>
                <% end %>
                <span style="color: grey; font-size: 12px; float: bottom; padding-left: 10px;">
                  <i class="fa fa-commenting-o" aria-hidden="true"></i>
                  <%= post_popular.comments.count %> comments | 
                  <i class="fa fa-thumbs-o-up" aria-hidden="true"></i><i class="fa fa-thumbs-o-down" aria-hidden="true"></i>&nbsp;<%= post_popular.votes.count %> points 
                </span>
              </li>
            <% end %>
        <% end %>  
        </div>
        <div class="home_popular">
          <ul>
            <li class="home">
              <%= link_to "HOME", root_url %>
            </li>
            <li class="popular">
              <%= link_to "POPULAR", '/popular', style: "color: grey;" %>
            </li>
          </ul>
        </div>
        <% if @feed_items.any? %>
          <%= render 'shared/feed' %>
        <% else %>
          <div class="instrucciones">
            Aún no dispones de posts dentro de tu red política, echa un vistazo a los más populares, o empieza a seguir a otros usuarios, colabora con círculos de tu interés o donde vives y participa en acciones o apoya causas que quieras defender 
          </div>
           <%= link_to "Lo más votado", '/popular' %>
        <% end %>
      </div>
      <div class="col-sm-4">
        <%= render 'microposts/petition_short' %>

        <%= render 'plazas/action_short' %>

        <%= render 'plazas/causa_short' %>
        <h5><b>Iniciativas que tienes pendientes</b></h5>
        <h5><b>Filtrar por tus intereses</wb></h5>

        <h5><b>Nuestros candidatos</b></h5>
        <%= render 'shared/lista' %>
        <%= link_to "New petition!", '/petition', class: "btn btn-lg btn-link" %>
      </div>
    </div>
  </div>

<% else %>
  <div class="home_page">

    <div class="container-fluid" style="background-color: white;">
      <h1 style="font-weight: lighter;">El mejor partido político de la historia</h1>
      <h1 style="line-height: 22px;">Las decisiones nos pertecen.</h1>
      <div class="wrapper">
        <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary",  style: "background-color: white; border: 1px solid #0084B4; color: #0084B4;" %>
        <%= link_to "Login", login_path, class: "btn btn-lg btn-primary", style: "background-color: #0084B4;" %>
      </div>      
    </div>

    <div class="imagen_principal">
      <div class="container-fluid" style="margin: 0px; width: 50%; max-width: 1000px; min-width: 200px; background-color: #0084B4; position: relative; top: 120px; ">
        <span style="background-color: #0084B4; color: white; font-weight: lighter;">Una nueva relación con la política, y los políticos.</span>
      </div>   
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <div class="new_inicio">
            <% provide(:title, 'Sign up') %>
            <ul class="titulo">
              <li class="element" style="width: 100%;">
                <ul>
                  <li>
                    <h1 style="margin-bottom: 60px;"><i class="fa fa-university fa-3x" aria-hidden="true" style="font-size: 30px;"></i>&nbsp;&nbsp;Nuestros principios:</h1>
                  </li>
                  <li style="margin-bottom: 50px;">
                    <h1 style="font-weight: lighter;">1. Uber-like para la política.</h1> 
                    <h3>¿Te gustaría tener la posibilidad de formar parte del gobierno de tu ciudad?</h3>
                    <h5>polittizen nace con el objetivo de que cualquier persona tenga la posibilidad de ser un cargo público electo, olvídate de partidos políticos y de sus estructuras.</h5>
                    <h5>Si cualquiera pudiera acceder a ser un cargo electo en su ciudad, ¿para qué servirían los actuales partidos?</h5>
                  </li>
                  <li style="margin-bottom: 50px;">
                    <h1 style="font-weight: lighter;">2. Tecnología y futuro.</h1> 
                    <h3>La estructura de los partidos políticos no ha cambiado nada en >100 años. ¿Que está pasando en otros sectores, como el automovil, la banca o el taxi?</h3>
                    <h5>Hemos diseñado herramientas para que la suma de los millones de perfiles políticos de los ciudadanos nos conformen una representación real de la sociedad y de su forma de pensar, a la cual los políticos deben de escuchar. Sistema que sea eficiente y legítimo. Recopilación y análisis de datos para la toma de decisiones del futuro.</h5>
                  </li>
                </ul>   
              </li>
            </ul>

            <div style="text-align: center;">
              <%= link_to "Echa un vistazo a lo que está pasando!", popular_path, class: "btn btn-lg btn-primary", style: "background-color: white; border: 1px solid #0084B4; color: #0084B4;" %>
            </div>

            <ul class="titulo">
                <li class="element">
                  <ul>
                    <li>
                      <h1 style="margin-bottom: 30px;">Nuestra propuesta está basada en tres pilares:</h1>
                      <h3 style="font-weight: lighter; margin-bottom: 40px;">Plataforma | Candidatos | Consultas</h3>
                    </li>                    
                    <li style="text-align: left; margin-top: 20px; margin-bottom: 20px;">
                        
                    </li>
                    <li>
                        <h3 style="color: #0084B4; font-weight: lighter;"><i class="fa fa-cogs fa-3x" aria-hidden="true" style="font-size: 22px;"></i>&nbsp;&nbsp;Plataforma</h3>
                        <h5>Herramienta tecnológica que te permite por un lado crear una representación fiel de tus ideas y por otro lado compartirlo todo con todos tus amigos.</h5>
                        <h5>De la interacción de todos los perfiles políticos surge una red política que nos permita recrear una imagen real de la sociedad, sobre la que basar la toma de decisiones del futuro (comunmente llamado política).</h5>
                    </li>
                  </ul>               
                </li>
                <li class="element">
                  <ul>
                    <li>
                        <h3 style="color: #0084B4;; font-weight: lighter;"><i class="fa fa-users fa-3x" aria-hidden="true" style="font-size: 22px;"></i>&nbsp;&nbsp;Candidatos y asesores</h3>
                        <h5>Si queremos cambiar la política debemos conseguir que cualquier persona que quiera participar en la política activa de su ciudad pueda hacerlo.</h5>
                        <h5>Pensamos que en la política del futuro serán los ciudadanos los que decidan quienes son sus candidatos, por eso la elección dentro de polittizen es entre todos, por todos y para todos, en iguales condiciones; tus ganas de participar y tus ideas te representan.</h5>
                        <h5>Son igual de necesarios usuarios que decidan participar de forma activa dentro de la política en forma de profesionales, asesorando e informando sobre cuentiones en las que son los mayores expertos.</h5>
                        <h5 style="background-color: #fc7676; padding: 10px;">¿Te imaginas que sólo te dieran a alegir entre 3 ó 4 candidatos que no conces para que decida por ti los próximos 4 años sin tener en cuenta tu opinión ni una sola vez? Absurdo verdad.</h5>
                    </li>
                  </ul>               
                </li>
                <li class="element">
                  <ul>
                    <li>
                      <h3 style="color: #0084B4; font-weight: lighter;"><i class="fa fa-envelope-o fa-3x" aria-hidden="true" style="font-size: 22px;"></i>&nbsp;&nbsp;Consultas y apoyos</h3>
                      <h5>¿Quién mejor que nosotros mismos para decidir sobre nuestros propios problemas?</h5>
                      <h5>Los problemas y debates deben surgir de los propios ciudadanos los que filtren los problemas verdaderamente importantes, a mayor afectación de personas mayor importancia.</h5>
                      <h5>Estas consultas, se debates y se expresa la opinión de cada uno dando lugar a resoluciones, donde se recogen las diferentes opiniones y una votación final para que sea el político responsable quien se haga responsable de la puesta en marcha de las iniciativas propuestas.</h5>
                    </li>
                  </ul>               
                </li>                
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="ideal"></div>

    <div class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <div class="new_inicio">            
            <ul class="titulo">
              <li class="element" style="width: 100%;">
                <ul>
                  <li style="margin-bottom: 30px;">
                      <h1>Nuestra visión:</h1>
                      <h1 style="font-weight: lighter;"> Una política con la que todos nos sintamos identificados y que esté preparada para los retos del futuro.</h1> 
                      <h5>En Politizen recopilamos la información que se genera todos los días dentro de la plataforma para detectar problemas, necesidades o tendencias dentro de la sociedad mediante el análisis de datos, generando información útil para los diferenctes gobiernos e instituciones que mejoren la vida de todos.</h5>
                  </li>
                </ul>   
              </li>
            </ul>

            <ul class="titulo">
              <li class="element">
                <ul>
                    <li>
                        <i class="fa fa-arrow-left fa-2x" aria-hidden="true" style="color: blue;"></i>
                        <i class="fa fa-arrow-right fa-2x" aria-hidden="true"></i>
                    </li>
                    <li>
                        <b>Ideología</b>
                        <p><h5>En XXX no tenemos ideología, tenemos ideas, y creemos que pensar en izquierdas o derechas, conservadores o demócratas es una visión muy simple de lo que es una persona. Quizá en el pasado los partidos suplieran esa necesidad pero en el momento actual no representan la complejidad de una sociedad ni están preparados para liderar la sociedad del futuro.</h5></p>
                        <p><h5>Desde Polittizen nos hemos planteado cómo debe ser la sociedad del futuro y en todos los escenarios, las tecnología al servicio de la política es el principal actor. La suma de millones de perfiles políticos crea una representación fiel se la sociedad, con sus problemas y sus soluciones; Ideales de derechas, izquierdas, conservadores, republicanos o demócratas pertenecen a una sociedad antigua que ya no es la nuestra.</h5></p>
                    </li>
                </ul>               
              </li>
              <li class="element">
                <ul>
                  <li>
                      <i class="fa fa-arrow-left fa-2x" aria-hidden="true" style="color: blue;"></i>
                      <i class="fa fa-arrow-right fa-2x" aria-hidden="true"></i>
                  </li>
                  <li>
                      <b>Partidos políticos</b>
                      <p><h5>Adaptar a los partidos y los politicos a la era de las nuevas tecnológías, información, big data y análisis de datos para la toma de decisiones y la evalución de problemas.</h5></p>
                      <p><h5>Imagínate que nuestros gobernantes no tuvieran partido político. Todo el tiempo que utilizan en batallas con otros partidos políticos, el tiempo que destinan a batallas internas dentro de su propio partido, el que dedican a buscar inversores para su próxima campaña, todos los conflictos de intereses que se mueven dentro de un partido con sus inversores y las decisiones que se toman y que nos afectan a todos justo por todo lo anterior es una de las mayores ineficiencias de nuestra sociedad.</h5></p>
                      <p><h5>Queremos recuperar todo el tiempo que se pierde, queremos evitar batallas inútiles, queremos evitar intereses ocultos y devolver la eficiencia a nuestro sistema político para que esté preparado para los retos del futuro. Una eficiencia basada en el uso de herramientas de interconexión de personas, recogida y en el análisis de esos datos al servicio de todos.</h5></p>
                  </li>
                </ul>               
              </li>                  
            </ul>
            <ul class="titulo">
              <li class="element">
                <ul>
                  <li>
                      <i class="fa fa-circle-o fa-2x" aria-hidden="true"></i>
                  </li>
                  <li>
                      <b>Círculos</b>
                      <p><h5>Los círculos son agrupaciones de personas que comparten algún interés común. Los puede haber administrativos, que nos representan a todos según donde vivamos y de los cuales se obtienen los representantes. Los círculos están dedicados a la colaboración de sus integrantes, presentando problemas y debatiendo  consultas.</h5></p>
                  </li>
                </ul>   
              </li>
              <li class="element">
                <ul>
                  <li>
                      <i class="fa fa-file-text-o fa-2x" aria-hidden="true"></i>
                  </li>
                  <li>
                    <b>Consultas</b>
                    <p><h5>Uno de los elementos principales para el funcionamiento de la plataforma, son objetos empleados para que expresar opinión y debatir. Si son populares y se votan más de 2/3 partes de los integrantes y resulta favorable se combierten en resoluciones que representan a cada círculo.</h5></p>
                  </li>
                </ul>               
              </li>
              
              <li class="element">
                <ul>
                  <li>
                      <i class="fa fa-bolt fa-2x" aria-hidden="true"></i>
                  </li>
                  <li>
                    <b>Acciones</b>
                    <p>
                      <h5>
                        <i class="fa fa-file-text-o" aria-hidden="true"></i>
                        <i class="fa fa-circle-o" aria-hidden="true"></i>
                        <i class="fa fa-bolt" aria-hidden="true"></i>
                        <i class="fa fa-heart-o" aria-hidden="true"></i>
                        <h5></p>Las acciones son iniciativas orientadas a ejecutarse por los usuarios, desde afrontar un problema común, acciones por el medio ambiente, para con los animales...<p><h5>
                      </h5>
                    </p>
                  </li>
                </ul>               
              </li>
              <li class="element">
                <ul>
                  <li>
                      <i class="fa fa-heart-o fa-2x" aria-hidden="true"></i>
                  </li>
                  <li>
                    <b>Causas</b>
                    <p>
                      <h5>
                        <i class="fa fa-file-text-o" aria-hidden="true"></i>
                        <i class="fa fa-circle-o" aria-hidden="true"></i>
                        <i class="fa fa-bolt" aria-hidden="true"></i>
                        <i class="fa fa-heart-o" aria-hidden="true"></i>
                        <h5></p>Las causas defienden unos ideas con las sentirte identificad. Cada persona se representada por múltiples causas o ideas que en su conjunto, junto con las acciones y los cículos conforman una identidad compleja pero individualizada que seguramente no encajaría en ningún partido político actual.<p><h5>
                      </h5>
                    </p>
                  </li>
                </ul>               
              </li>    
            </ul>
          </div>
        </div>
      </div>
      <div class="center jumbotron">
        <h4>Party its a place where choose the future representatives of all places, from your small town to yout conuntry.</h4>
        <h4>Its a place where you can express yourself about all around you and make changes about it.</h4>

         <h3>You can participate two differents ways, being part of the election where you have to defend the decission are taken in the assembliess or</h3>

         <h3>You can participate in the assemblies were decide the mains lines of each specialty, Environment, Architecture, Health, Education, Guns...</h3>
        <h3 style="text-align: left">PARTY it´s a new technology driven political platform for everyone.<p>It´s have 3 main pillars:</p>
          <p><b>Representatives:</b> everyone now can be a representative. They are the conexion with the political field.</p>
          <p><b>Platform:</b> Where we express ourselves in a political way, discover needs in your community, detects and support detected problems in your expertise field, show to the worls what's you really love...</p>
          <p><b>Petitions:</b> Take action pillar, sometime we need to take decisions. Elaborate by ourselves, approved and corrected by expertise lobbies and sended to the person that needs to know.</p>
        </h3>
        <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
      </div>
    </div>
  </div>
<% end %>