<% provide(:title, 'loobIN') %>
<% if logged_in? %>
  <div class="container">
    <div class="row">
        <div class="col-sm-2">
          <div>
            <%= render 'shared/user_info' %>
          </div>
          <div class="stats">
            <%= render 'shared/stats' %>
          </div>
        </div>

      <div class="col-sm-6">
        <%= render 'static_pages/sigue_plaza' %> 
        <section class="micropost_form">
          <%= render 'shared/micropost_form' %>
        </section>
        
        <div class="home_popular">
          <ul>
            <li class="home">
              <%= link_to "Home", root_url %>
            </li>
            <li class="popular">
              <%= link_to "Most voted", '/popular' %>
            </li>
          </ul>
        </div>
        <%= render 'shared/feed' %>
      </div>
      <aside>
          <div class="col-sm-4">
            <%= render 'microposts/petition_short' %>
            <h5><b>Iniciativas que tienes pendientes</b></h5>
            <h5><b>Filtrar por tus intereses</b></h5>

            <h5><b>Nuestros candidatos</b></h5>
            <%= render 'shared/lista' %>
            <%= link_to "New petition!", '/petition', class: "btn btn-lg btn-link" %>
          </div>
      </aside>

  </div>
</div>

<% else %>
<div class="backgroundimg">
    <div class="container" >
      <h1 style="font-size: 45px; line-height: 18px;">Welcome to <span style="font-size: 60px;">loobIN <span style="font-size: 30px;">(name in beta)</span></ span> <p>Best party ever.</p></h1> 
      <h3><span style="padding-right: 50px; ">Candidates.</span><span style="padding-right: 50px; padding-left: 50px;">Platform.</span><span style=" padding-left: 50px;">Petitions.</span></h3>
        <div class="container" >
            <h1 class="h1"></h1>
              <div class="wrapper">
                <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
                <%= link_to "Login", login_path, class: "btn btn-lg btn-primary" %>
              </div>
        </div>

    </div>
      
  </div>

  <div class="container">
   <div class="center jumbotron">
      <h4>Party its a place where choose the future representatives of all places, from your small town to yout conuntry.</h4>
      <h4>Its a place where you can express yourself about all around you and make changes about it.</h4>

       <h3>You can participate two differents ways, being part of the election where you have to defend the decission are taken in the assembliess or</h3>

       <h3>You can participate in the assemblies were decide the mains lines of each specialty, Environment, Architecture, Health, Education, Guns...</h3>
      <h3 style="text-align: left">PARTY it´s a new technology driven political platform for everyone.<p>It´s have 3 main pillars:</p>
        <p><b>Representatives:</b> everyone now can be a representative. They are the conexion with the political field.</p>
        <p><b>Platform:</b> Where we express ourselves in a political way, discover needs in your community, detects and support detected problems in your expertise field, show to the worls what's you really love...</p>
        <p><b>Petitions:</b> Take action pillar, sometime we need to take decisions. Elaborate by ourselves, approved and corrected by expertise lobbies and sended to the person that needs to know.</p>
      </h3>
      <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
    </div>
  </div>
  <% end %>