<% provide(:title) %>
<% if logged_in? %>
  <div class="container">
    <div class="row">

      <div class="col-md-10 col-md-offset-1">

        <div class="constructor">

          <div class="campos" style="">

            <% if  current_user.empresa == true %>

              <div class="iconos_inicio">

                <h3 style="font-weight: bold; margin-top: 50px;">Saca el máximo partido a tu empresa</h3>
                <ul style="list-style: none; width: 100%; padding: 0px; margin: 0px;" class="">

                  <li style="align-items: center; text-align: center; padding: 10px;">
                    <%= image_tag('retirar_friso_madera.jpg', size: "60", class: 'oferta_imagen' ) %> <span style=""><h5 style="font-size: 22px; color: #444;"><b>Crear anuncio</b></h5> <h5><span style="font-size: 14px;">(* en desarrollo)</span></h5></span>
                  </li>

                  <li style="align-items: center; text-align: center; padding: 10px;">
                    <% if Empresa.find_by(user_id: current_user.id) != nil %>
                      <%= link_to empresa_path(id: current_user.id) do %>
                        <%= image_tag('retirar_friso_madera.jpg', size: "60", class: 'oferta_imagen' ) %> <span style=""><h5 style="font-size: 22px; color: #444;"><b>Tus Datos</b></h5></span>
                      <% end %>
                    <% else %>
                      <%= link_to new_empresa_path do %>
                        <%= image_tag('retirar_friso_madera.jpg', size: "60", class: 'oferta_imagen' ) %> <span style=""><h5 style="font-size: 22px; color: #444;"><b>Crea tu base de datos para acceder a todas las ofertas</b></h5></span>
                      <% end %>                    
                    <% end %>
                  </li>
                  <li style="align-items: center; text-align: center; padding: 10px;">
                    <%= link_to presupuestos_path do %>
                        <%= image_tag('retirar_friso_madera.jpg', size: "60", class: 'oferta_imagen' ) %> <span style=""><h5 style="font-size: 22px; color: #444;"><b>Tus clientes</b></h5></span>
                    <% end %> 
                  </li>
                  <li style="align-items: center; text-align: center; padding: 10px;">
                    <%= image_tag('retirar_friso_madera.jpg', size: "60", class: 'oferta_imagen' ) %> <span style=""><h5 style="font-size: 22px; color: #444;"><b>Estadísticas y mercado</b></h5> <h5><span style="font-size: 14px;">(* en desarrollo)</span></h5></span>                    
                  </li>                                         
                </ul>

              </div>

            <% else %>

              <div class="iconos_inicio">

                <h3 style="font-weight: bold; margin-top: 50px;">Empieza en Constructor</h3>
                <ul style="list-style: none; width: 100%; padding: 0px; margin: 0px;" class="">

                  <li style="align-items: center; text-align: center; padding: 10px;">
                    <%= image_tag('nueva_vivienda.jpg', size: "60", class: 'oferta_imagen_grande' ) %> <span style=""><h5 style="font-size: 22px; color: #444;"><b>Nueva vivienda</b></h5> <h5><span style="font-size: 14px;">(* en desarrollo)</span></h5></span>
                  </li>

                  <li style="align-items: center; text-align: center; padding: 10px;">
                    <%= link_to new_reform_path do %>
                      <%= image_tag('retirar_friso_madera.jpg', size: "150x150", class: 'oferta_imagen_grande' ) %> <span style=""><h5 style="font-size: 22px; color: #444;"><b>Nueva Reforma</b></h5></span>
                    <% end %>
                  </li>
                  <li style="align-items: center; text-align: center; padding: 10px;">
                    <%= link_to reforms_path do %>
                        <%= image_tag('nuevo_proyecto.jpg', size: "60", class: 'oferta_imagen_grande' ) %> <span style=""><h5 style="font-size: 22px; color: #444;"><b>Tus proyectos</b></h5></span>
                    <% end %> 
                  </li>                         
                </ul>

              </div>

            <% end %>

            <%= render 'shared/lista_ofertas' %>

          </div>
        </div>
      </div>


    </div>
  </div>

<% else %>
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">

        <div class="container-fluid" style="background-color: white; margin-top: 80px; margin-bottom: 150px;">
          <h1 style="font-weight: lighter;">La mejor manera de reformar o construir tu vivienda.</h1>
          <h1 style="line-height: 40px; font-weight: bolder;">Devolver el control del diseño y la obra a sus usuarios.</h1>

          <div class="wrapper">
            <%= link_to "Sign up now!", signup_path(empresa: false), class: "btn btn-lg btn-primary",  style: "background-color: white; border: 1px solid #0084B4; color: #0084B4;" %>

            <%= link_to "¿Ya eres usuario?", login_path, class: "btn btn-lg btn-primary", style: "background-color: #0084B4;" %>
          </div>

          <div class="wrapper">
            <h3>¿Quieres probar a crear tu primer proyecto?</h3>
            <%= link_to "Crea tu primer proyecto", new_habitacion_path, class: "btn btn-lg btn-primary",  style: "background-color: white; border: 1px solid #ff5050; color: #ff5050;" %>
          </div>          

          <div class="wrapper" style="margin-top: 100px;">
            <h3>¿Eres una empresa del sector de la construcción y te gustaría trabajar con nosotros?</h3>
            <%# link_to "Participa!", signup_path(empresa: true), class: "btn btn-lg btn-primary",  style: "background-color: white; border: 1px solid #0084B4; color: #0084B4;" %>
            <h5>Mándanos un correo a la siguiente dirección y en breve nos pondremos en contacto: </h5>
            <h3 style="font-size: 26px;">constructux@constructux.com</h3>
          </div>

        </div>

        <div class="constructor">
          <%= render 'shared/lista_ofertas' %>
        </div>
      </div>
    </div>
  </div>
<% end %>


   



<script>
  $(function () {
  $('[data-toggle="popover"]').popover()
  })
</script> 
