<% provide(:title, 'Popular') %>
  <div class="container">
    <div class="row">
      <div class="col-sm-12" style="text-align: center; width: 100%; padding: 0px;">
        <h1 style="font-size: 35px;">Lo más votado en</h1>
      </div>
      

      <aside class="col-sm-4">
          <%# render 'shared/user_info' %>
          <%= render 'microposts/petition_short' %>
        <section class="stats">
          <%# render 'shared/stats' %>
        </section>
      </aside>

      <div class="col-sm-8">
      <% if logged_in? %>
        <%= render 'static_pages/sigue_plaza' %>
      <% end %>
        <div class="home_popular" style="margin-top: 15px;">
          <ul>
            <li class="popular">
              <%= link_to "HOME", root_url, style: "color: grey;" %>  
            </li>
            <li class="home">
              <%= link_to "POPULAR", '/popular'  %>
            </li>
          </ul>
        </div>
        <ul class="microposts">
          <%# render @microposts %>
          <% @posts_masvotados.take(15).each do |posts_masvotados| %>
            <% @microposts = Micropost.where(id: posts_masvotados).paginate(page: params[:page]) %>
            <%= render @microposts %>
          <% end %>
          <div class="instrucciones">
            Para tener más post, sigue a más personas, participa en más círculos o colabora con más acciones o causas.
          </div>
        </ul>
      </div>
  </div>
</div>