  <div class="background-imagen2">
    <div class="container">
    <% provide(:title, "Log in") %>
    <h1 style="color: white;">Log in</h1>

    <div class="row">
      <div class="col-md-6 col-md-offset-3"  style="background-color: white; padding: 10px; border: 1px solid #0084B4; border-radius: 15px;">
        <%= form_for(:session, url: login_path) do |f| %>

          <span><%= f.label :email %></span>
          <%= f.email_field :email, class: 'form-control' %>

          <span><%= f.label :password %></span>
          <b><%= link_to "(forgot password)", new_password_reset_path %></b>
          <%= f.password_field :password, class: 'form-control' %>

          <%= f.label :remember_me, class: "checkbox inline", style: "font-size: 14px;" do %>
            <%= f.check_box :remember_me %>
            <span>Remember me on this computer</span>
          <% end %>

          <%= f.submit "Log in", class: "btn btn-primary" %>
        <% end %>

        <span>New user? <%= link_to "Sign up now!", signup_path %></span>
      </div>
    </div>
  </div>
</div>