 <div class="container" style="background-color: white; width: 100%;">
    <% provide(:title, "Log in") %>
    

    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div style=" border-bottom: 1px solid grey;">
          <h1 style="font-size: 35px; text-align: left; margin: 20px 0px; ">Log in</h1>  
        </div>
        <div style="padding: 10px 0px;">
          <%= form_for(:session, url: login_path) do |f| %>
            <span>
              <i class="fa fa-envelope-o fa-lg" aria-hidden="true"></i>
              <%= f.label :email %>
            </span>
            
            <%= f.email_field :email, class: 'form-control' %>

            <span>
              <i class="fa fa-key fa-lg" aria-hidden="true"></i>
              <%= f.label :password %>
            </span>
            
            <b><%= link_to "(forgot password)", new_password_reset_path %></b>
            <%= f.password_field :password, class: 'form-control' %>

            <%= f.label :remember_me, class: "checkbox inline", style: "font-size: 14px;" do %>
              <%= f.check_box :remember_me %>
              <span>Remember me on this computer</span>
            <% end %>

            <%= f.submit "Log in", class: "btn btn-primary" %>
          <% end %>
          <span>New user? <%= link_to "Sign up now!", signup_path %></span>  
        </div>
        
      </div>
    </div>
  </div>