<%= form_for(blog) do |f| %>
  <% if blog.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(blog.errors.count, "error") %> prohibited this blog from being saved:</h2>

      <ul>
      <% blog.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :user_id, value: current_user.id %>

  <div class="field">
    h1
    <%= f.text_field :title, style: "width: 100%;" %>
  </div>  

  <div class="field">
    h2
    <%= f.text_field :description, style: "width: 100%;" %>
  </div>

  <div class="field">
    p
    <%= f.text_area :content %>
  </div>

  <div class="field">
   imagen
    <%= f.file_field :foto_primera %>
  </div>  

  <div class="field">
    h2
    <%= f.text_area :description_segunda %>
  </div> 

  <div class="field">
    p
    <%= f.text_area :content_segundo %>
  </div> 

  <div class="field">
    h3
    <%= f.text_field :subtitle, style: "width: 100%;" %>
  </div> 

  <div class="field">
    p
    <%= f.text_area :content_tercero %>
  </div>   

  <div class="field">
    Imagen
    <%= f.file_field :foto_segunda %>
  </div>    

  <div class="field">
    h3
    <%= f.text_field :subtitle_segundo, style: "width: 100%;" %>
  </div> 

  <div class="field">
    p
    <%= f.text_area :content_cuarto %>
  </div>   

  <div class="field">
    h3
    <%= f.text_field :subtitle_tercero, style: "width: 100%;" %>
  </div> 

  <div class="field">
    p
    <%= f.text_area :content_quinto %>
  </div>  

  <div class="field">
    <%= f.label :foto_tercera %>
    <%= f.file_field :foto_tercera %>
  </div>     

  <div class="field">
    h3
    <%= f.text_field :subtitle_cuarto, style: "width: 100%;" %>
  </div>   

  <div class="field">
    p
    <%= f.text_area :content_sexto %>
  </div>  

  <div class="field">
    h3
    <%= f.text_field :subtitle_quinto, style: "width: 100%;" %>
  </div>  

  <div class="field">
    p
    <%= f.text_area :content_septimo %>
  </div>   

   

  <%= f.select :hashtag, [
    'Arquitectura',
    'Diseño',
    'Decoración',
    'Hazlo tú mismo',
    'Reformas',
    'Baño',
    'Cocina',
    'Dormitorio',
    'Infantil',
    'Otros espacios',
    'Presupuestos reforma',
    'Antes y después',
    'Exterior'] %>
  <div style="padding-top: 10px;">
    <%= f.select :hashtag_segundo, [
      'Arquitectura',
      'Diseño',
      'Decoración',
      'Hazlo tú mismo',
      'Reformas',
      'Baño',
      'Cocina',
      'Dormitorio',
      'Infantil',
      'Otros espacios',
      'Presupuestos reforma',
      'Antes y después',
      'Exterior'] %>  
  </div>

  <div style="padding-top: 10px;">
    <%= f.select :hashtag_tercero, [
      'Arquitectura',
      'Diseño',
      'Decoración',
      'Hazlo tú mismo',
      'Reformas',
      'Baño',
      'Cocina',
      'Dormitorio',
      'Infantil',
      'Otros espacios',
      'Presupuestos reforma',
      'Antes y después',
      'Exterior'] %>    
  </div>
        



  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
