<% content_for :head do %>
  <meta charset="UTF-8">
  <meta name="description" content="<%= @blog.title %>">
  <meta name="keywords" content="<%= @blog.description %>">
  <meta name="author" content="Contructu.X">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Open Graph tags -->
  <meta property="og:title" content="<%= @blog.title %>" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://www.constructux.com/blogs/<%= @blog.slug %>" />
  <meta property="og:description" content="ConstructUX, <%= @blog.description %>" />
  <% if @blog.foto_primera? %>
    <meta property="og:image" content="<%= image_url(@blog.foto_primera.url) %>" />  
  <% else %>
    <meta property="og:image" content="<%= image_url('partida_default.jpg') %>" />  
  <% end %>
<% end %> 

<% provide(:title,  @blog.title) %>

<body style="background-color: rgb(244, 244, 244);">
<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2" style="padding: 0px;">
      <div class="blog">
        <div class="row" style="padding-top: 20px;">
          <div class="col-md-1" style="padding-right: 5px;">
            <% @blog_user = User.find(@blog.user_id) %>
            <%= image_tag(@blog_user.foto.url, class: "img-circle", size: 40, style: "width: auto;") %>
          </div>
          <div class="col-md-11" style="">            
            <h1><span class="titulo"><%= @blog.title %></span></h1>
            <div class="compartir" style="text-align: left;">
              <!-- FACEBOOK share button -->
              <h3 style="margin: 0px; display: inline-flex;">
              <a href="https://www.facebook.com/sharer/sharer.php?u=https://www.constructux.com/blogs/<%= @blog.slug %>" style="color: #444;">
                  <i class="fab fa-facebook fa-lg"></i>
              </a>              

              <!-- TWITTER share button -->
              <div style="display: inline-flex; margin-top: -5px; padding-top: 5px; padding-left: 10px;"><a href="https://twitter.com/share"  data-url="=https://www.constructux.com/blogs/<%= @blog.slug %>" data-size="large" style="color: #444;"><i class="fab fa-twitter fa-lg"></i></a></div>
              <script src="//platform.twitter.com/widgets.js"></script></h3>                     
            </div>                   
            <div class="content" style=" padding-top: 0px;">Autor: <%= link_to @blog_user.name, @blog_user, style: "margin-bottom: 10px; font-weight: 600;" %></div>

            <h2><span class="description">topics: <%= @blog.description %></span></h2>

            <p><div class="content"><%= simple_format(@blog.content) if @blog.content? %></div></p>

            <%= image_tag(@blog.foto_primera.url, alt:@blog.title) if @blog.foto_primera? %>

            <h2><span class="description" style="padding-top: 15px;">topics: <%= @blog.description_segunda %></span></h2>            

            <p><div class="content"><%= simple_format(@blog.content_segundo) if @blog.content_segundo? %></div></p>

            <h3><%= simple_format(@blog.subtitle) if @blog.subtitle %></h3>

            <p><div class="content"><%= simple_format(@blog.content_tercero) if @blog.content_tercero? %></div></p>    

            <%= image_tag(@blog.foto_segunda.url, alt:@blog.description) if @blog.foto_segunda? %>

            <div class="boton_reforma" style=" text-align: center;">
              <%= link_to "Diseña tu propio proyecto", '/reforma', class: "btn btn-lg btn-primary",  style: "background-color: white; border: 2px solid #ff5050; color: #ff5050; font-weight: 600; border-radius: 15px; font-size: 13px; padding: 10px; margin-top: 10px;" %>
            </div>            

            <h3><%= simple_format(@blog.subtitle_segundo) if @blog.subtitle_segundo %></h3>

            <p><div class="content"><%= simple_format(@blog.content_cuarto) if @blog.content_cuarto? %></div></p>


            <h3><%= simple_format(@blog.subtitle_tercero) if @blog.subtitle_tercero %></h3>

            <p><div class="content"><%= simple_format(@blog.content_quinto) if @blog.content_quinto? %></div></p>

            <%= image_tag(@blog.foto_tercera.url, alt:@blog.hashtag) if @blog.foto_tercera? %>             

            <h3><%= simple_format(@blog.subtitle_cuarto) if @blog.subtitle_cuarto %></h3>

            <p><div class="content"><%= simple_format(@blog.content_sexto) if @blog.content_sexto? %></div></p>


            <h3><%= simple_format(@blog.subtitle_quinto) if @blog.subtitle_quinto %></h3>

            <p><div class="content"><%= simple_format(@blog.content_septimo) if @blog.content_septimo? %></div></p>                                                
            <div class="boton_reforma" style=" text-align: center;">
              <%= link_to "Diseña tu propio proyecto", '/reforma', class: "btn btn-lg btn-primary",  style: "background-color: white; border: 2px solid #ff5050; color: #ff5050; font-weight: 600; border-radius: 15px; font-size: 13px; margin-top: 10px; text-align: center;" %>
            </div> 
            <div class="topics">
              <div class="hashtag" style="display: inline-flex;"><h4>#<%= @blog.description %></h4></div> | 
              <% if @blog.hashtag? %>
                <div class="hashtag" style="display: inline-flex;"><h4>#<%= @blog.hashtag %></h4></div> | 
              <% end %>
              <% if @blog.hashtag_segundo? %>
                &nbsp;<div class="hashtag" style="display: inline-flex;"><h4>#<%= @blog.hashtag_segundo %></h4></div> | 
              <% end %>
              <% if @blog.hashtag_tercero? %>
                &nbsp;<div class="hashtag" style="display: inline-flex;"><h4>#<%= @blog.hashtag_tercero %></h4></div>
              <% end %>              
            </div>
          </div>          
        </div>
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
</body> 
