<% provide(:title, 'Todos los círculos') %>
	<div class="container">
    <div class="row">

      <aside class="col-sm-2" style="">
        <section class="user_info">
          <%= render 'shared/user_info' %>
        </section>
        <section class="stats">
          <%= render 'shared/stats' %>
        </section>
      </aside>

      <div class="col-sm-7">
        <div class="instrucciones" style="margin-top: 15px;">
          Tus candidatos de cada círculo administrativo. Los candidatos son aquellos que tienen una mayor compromiso dentro del círculo, expresada en número de seguidores pero también en forma de propuestas y votos.
        </div>
        <ul class="plazas">
          <li class="search">
            <ul class="search_form" style="width: 100%;">
              <%= form_tag('allplazas', method: :get) do %>
              <li class="boton_search">
                <%= submit_tag 'Search', class: "btn btn-primary btn-sm", style: "margin: 0px; padding: 3px 6px;" %>
                
              </li>
              <li style="display: inline-flex; width: 70%;">
                <%= text_field_tag :tern, params[:tern], placeholder: ' Enter search term...', style: "margin: 0px;" %>
              </li>
              <% end %>
            </ul>
          </li>  
          <li class="titulo">
            <ul>
              <li>
                <span style="font-size: 15px;"><b><%= link_to "Todos los círculos", 'allplazas' %></b></span>
              </li>
              <li class="right">
                <button type="button" class="btn btn-primary btn-sm"><span style="font-size: 13px;"><%= link_to "Nuevo círculo", new_user_plaza_path(:user_id => current_user.id), {style: "color: white"} %></span></button>
              </li>
            </ul>
          </li>
          <%# render @plazas %>

          

          <% @plazas.each do |plaza| %>
            <li style="padding-left: 0px; border-bottom: 1px solid #eeeeee;"> 
              <ul style="display: inline-flex; padding-left: 15px;">
                <li style="padding: 10px 0px;">
                  <%= image_tag plaza.foto.url, class: "img-circle", size: 55 if plaza.foto? %>
                </li>
                <li style="padding: 0px">
                  <ul class="texto_plaza" style="padding-left: 10px; padding-top: 5px;">
                    <li>
                      Círculo <b><%= link_to plaza.name, user_plaza_path(id: plaza.id, user_id: current_user.id) %></b>
                    </li>
                    <li style="font-size: 13px;">
                      <b><%= Group.where(:plaza_id => plaza.id).count %> seguidores.</b>
                    </li>
                    <li style="font-size: 13px; color: #8c8c8c;" >
                      <%= @peticiones = Micropost.where(:plaza_id => plaza.id).where(:petition => true).count %> peticiones.
                    </li>
                    <li>
                      <% if logged_in? %>
                        <% if current_user.admin?  %>
                          | <%= link_to "delete", plaza, method: :delete, data: { confirm: "You sure?" } %>
                        <% end %>
                      <% end %>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
          <% end %>
          <%= will_paginate %>
        </ul>
      </div>

      <aside>
        <div class="col-sm-3">
          <h4>Nuestros candidatos</h4>
        </div>
      </aside>

			<%= will_paginate %>
  	</div>
	</div>