<div class="container">
  <% provide(:title, 'New Plaza') %>
  <h1 style="font-size: 30px;">Nuevo círculo</h1>
  <% @nombre = params[:name] %>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= form_for(@plaza) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
        
        <% if @nombre != nil %>
            <p>Círculo <b><%= @nombre %></b></p>
            <%= f.hidden_field :name, value: [@nombre] %>
        <% else %>
            <%= f.label :name %>
            <%= f.text_field :name, class: 'form-control' %>
        <% end %>
         

        <%= f.label :description %>
        <%= f.text_field :description, class: 'form-control' %>


        <%= f.label :foto, "Foto del círculo" %>
        <%= f.file_field :foto, accept: 'image/jpeg,image/gif,image/png' %>

        <%= f.hidden_field :user_id, :value => current_user.id %>
        <%= f.submit "Create your Circle", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>