<div class="container">
  <% provide(:title, @plaza.name) %>
  <div class="row">
    <aside class="col-md-4">
      <section>
        <h1>
          <%= image_tag @plaza.foto.url, class: "img-rounded", size: 100 if @plaza.foto? %>
          <%= @plaza.name %>
        </h1>
      </section>
      <section class="stats">
        <%= render 'plazas/plaza_stats' %>
      </section>
      <section>
        <h5>
          <b>Mostrar si es administrativa</b>
        </h5>
        <h5>
          <b>Número de seguidores que tiene esta plaza</b>
          <h5><%= Group.where(:plaza_id => @plaza.id).count %> usuarios.</h5>
        </h5>
        <h5>
          <b>Número de peticiones de la plaza</b>
          <h5><%= Micropost.where(:plaza_id => @plaza.id).where(:petition => true).count %></h5>
        </h5>
        <h5>
          <b>Needs</b>
          <h5><%= Micropost.where(:plaza_id => @plaza.id).where(:hashtag2 => "needs").count %></h5>
        </h5>
        <h5>
          <b>Problemas</b>
          <h5><%= Micropost.where(:plaza_id => @plaza.id).where(:hashtag2 => "problems").count %></h5>
        </h5>
        <h5>
          <b>Love</b>
          <h5><%= Micropost.where(:plaza_id => @plaza.id).where(:hashtag2 => "love").count %></h5>
        </h5>
        <h5>
          <b>Si es administrativa mostrar los candidatos??</b>
        </h5>
      </section>
    </aside>
    <div class="col-md-8">
      <%= render 'groups/seguir_form' if logged_in? %>
      <%= render 'plazas/plaza_post_form' %>
      <% if @microposts.any? %>
        <h4>Posts (<%= @microposts.count %>)</h4>
        <ol class="microposts">
          <%= render @microposts %>
        </ol>
        <%= will_paginate @microposts %>
      <% end %>
      
    </div>
  </div>
</div>