<div class="container">
  <% provide(:title, @plaza.name) %>
  <div class="row">
    <div class="col-sm-2">
      <div class="plaza_stats">
        <div>
          <div class="background_img"></div>
          <ul class="plaza_name_img">
            <li>
              <ul>
                <li>
                  <div class="plaza_img">
                    <%= image_tag @plaza.foto.url, class: "img-circle", size: 100  if @plaza.foto? %> 
                  </div>
                </li>
                <li class="texto">
                  <ul style="list-style: none; padding: 0px;">
                    <li>
                      <div class="plaza_name">
                        <%= @plaza.name %>
                      </div>
                    </li>
                    <% if @plaza.description? %>
                    <li class="description">
                      <%= @plaza.description %>
                    </li>
                    <% end %>                
                  </ul>
                </li>                  
              </ul>
            </li>
            <li style="padding-top: 20px;">
              <%= render 'groups/seguir_form' if logged_in? %>
            </li>
          </ul>
        </div>
      </div>

      <div class="aside_content">
        <ul class="inline" style="margin-bottom: 0px;">
          <li class="titulo">
            <% if @grupo_seguidores.where(user_id: current_user).any? %>              
              <%= link_to "Nueva consulta", petition_path(plaza: params[:id]), class: "btn btn-primary" %>
            <% else %>
              Es necesario pertencer al cículo para realizar consultas en él, por favor, síguelo.
            <% end %>
          </li>
        </ul>
      </div>      

      <div class="aside_content">
        <ul class="principal">
          <li class="titulo">
            Comunidad
          </li>
          <li class="lista_block">
            <ul class="inline">
              <li>
                <i class="fa fa-user-o" aria-hidden="true"></i>   Seguidores
              </li>
              <li class="right">
                <%= @grupo_seguidores.count %>
              </li>
            </ul>
          </li>
          <li class="lista_block">
            <ul class="inline">
              <li>
                <i class="fa fa-envelope-open-o" aria-hidden="true"></i>   Iniciativas
              </li>
              <li class="right">
                <%= @peticiones.count %>
              </li>
            </ul>
          </li>
                    
          <li class="lista_block">
            <ul class="inline">
              <li>
                <i class="fa fa-envelope-open-o" aria-hidden="true"></i>   Posts
              </li>
              <li class="right">
                <% if @microposts.any? %>
                <%= @microposts.count %>
                <% end %>
              </li>
            </ul>
          </li>
          <li class="lista_block">
            <ul class="inline">
              <li>
                <i class="fa fa-hand-o-up" aria-hidden="true"></i>   Votos totales
              </li>
              <li class="right">
                <%= @votos.count %>
              </li>
            </ul>
          </li>
        </ul>
      </div>

    </div>

    <div class="col-md-6" style="margin-top: 15px; padding: 0px;">

      
      <div style="margin-top: 10px;">
       <%= render 'plazas/plaza_post_form'if logged_in? %>
      </div>
      <% if @microposts.any? %>
        <ol class="microposts">
          <%= render @microposts %>
        </ol>
        <%= will_paginate @microposts %>
      <% else %>
        El círculo <%= @plaza.name %> no tiene publicaciones. Sé el primero en publicar o mira los siguientes posts realizados en círculos relacionados.  
      <% end %>
    </div>
    <div class="col-md-4" style="margin-top: 12px;">

      <div class="aside_content">
        <ul class="principal">
          <li class="titulo">
            Posicion del usuario dentro del círculo
          </li>
          <li class="inline">
            0
          </li>
        </ul>
      </div>

      <div class="aside_content">
        <ul class="principal">
          <li class="titulo">
            Resoluciones (más de 2/3 seguidores)
            <%= @votos_seguidores.count if @votos_seguidores != nil %>
          </li>
          <% @peticiones.each do |petition| %>

          <% @votos = Vote.where(:micropost_id => petition) %>
          <% @votos_realizados = @votos.count %>
          <% if @grupo_seguidores.count == 0 %>
            <% @votos_completado = 0 %>
          <% else %>
            <% @votos_completado = (@votos_seguidores.count*100/(@grupo_seguidores.count)) %>
          <% end %>
          <% @votos_positivos = @votos.where(:like => true).count %>
          <% @porcentaje = (@votos_positivos*100/(@votos_realizados)) %>

          <% @valor_limite = 67 %>
            <li class="lista_block">
              <ul class="inline">
                <li class="inline">
                  <%= image_tag petition.picture.url, size: 55 if petition.picture? %>
                </li>
                <li class="inline" style="width: 60%;">
                  <span class="nombres"><%= link_to petition.title, micropost_path(id: petition) %></b></span>
                </li>
                <li class="right" style="align-items: center;">
                    <i class="fa fa-percent" aria-hidden="true"></i>
                  <%= @votos_completado %>
                  <% if @votos_completado >= @valor_limite %>
                    <% if @porcentaje >= 1/2*100 %>
                      <button type="button" class="btn btn-success">Aprobada</button>
                    <% else %>
                      <button type="button" class="btn btn-danger">Denegada</button>
                    <% end %>
                  <% else %>
                    &nbsp;<button type="button" class="btn btn-danger" style="background-color: white; border: 1px solid red; color: red;">In progress</button>
                  <% end %>
                </li>
              </ul>
            <% end %>
          </li>
        </ul>
      </div>

      <div class="aside_content">
        <ul class="principal">
          <li class="titulo">
            Iniciativas/Propuestas/Votaciones
          </li>
          <% if @peticiones.any? %>
          <% @peticiones.each do |petition| %>
          <li class="lista_block">
            <ul class="inline">
              <li class="inline">
                <%= image_tag petition.picture.url, size: 50 if petition.picture? %>
              </li>
              <li class="inline">
                <span class="nombres"><%= link_to petition.title, micropost_path(id: petition) %></b></span>
              </li>
              <li class="right" style="padding-top: 10px;">
                <% @votos = Vote.where(:micropost_id => petition) %>
                <% @votos_realizados = @votos.count %>
                <% @votos_positivos = @votos.where(:like => true).count %>
                <i class="fa fa-thumbs-o-up" aria-hidden="true"></i> <%= @votos_positivos*100/(@votos_realizados) %> %
              </li>
            </ul>
            <% end %>
          <% else %>
              Será necesario especificar que se puede crear una iniciativa pero debe de ser seguidor del circulo
          <% end %>
          </li>
        </ul>
      </div>

      <div class="aside_content">
        <ul class="principal">
          <li class="titulo">
            Otros usuarios
          </li> 
            <%# if @grupo_seguidores != 0 %> 
            <% @grupo_seguidores.count %>
            <% @grupo_seguidores.each do |seguidor| %>
              <% @usuario = User.where(:id => seguidor.user_id) %>
              <% if @usuario.any? %>
                <% @usuario.each do |usuario| %>
                  <% if usuario != current_user %>
                  <li class="lista_block">
                    <ul class="inline">
                      <li class="inline">
                        <%= image_tag usuario.foto.url, class: "img-circle", size: 55 if usuario.foto? %>
                      </li>
                      <li class="inline">
                        <span class="nombres"><%= link_to usuario.name, usuario %></b></span>
                      </li>
                      <li class="right">
                        <% if current_user.following?(usuario) %>
                          <button type="button" class="btn btn-light btn-sm">Siguiendo</button>
                        <% else %>
                          <button type="button" class="btn btn-primary btn-sm"><%= link_to "Seguir", usuario, {style: "color: white"} %></button>
                        <% end %>
                      </li>
                    </ul>
                  <% end %>
                <% end %>
              <% else %>
                No hay usuarios.
                Añade amigos para apoyar todo lo que se desarrolle aqui.
              <% end %>
            <% end %>
            <%# end %>  
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>