<%= form_for(partida, onsubmit: "return false") do |f| %>
  <% if partida.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(partida.errors.count, "error") %> prohibited this partida from being saved:</h2>

      <ul>
      <% partida.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="nueva_partida">
    <div class="field">
      <h3 style="">Título</h3>
      <h5><%= f.text_field :titulo, placeholder: 'Título para la partida' %></h5>
    </div>

    <div class="field">
      <h3>Descripción</h3>
      <h5><%= f.text_area :description, placeholder: 'Describe lo mejor que puedas lo que quieres hacer' %></h5>
    </div>

    <div class="field">
      <h3>Añade alguna foto para la partida, una foto de referencia</h3>
      <h5><%= f.file_field :foto, accept: 'image/jpeg,image/gif,image/png', placeholder: "Jpeg, gif, png" %></h5>
    </div>    

    <div class="field">
      <h3>Tu medición</h3>
      <h5 style="font-weight: bolder;"><%= f.text_field :medicion, style: "width: 40%; border: 1 px solid grey; padding: 5px; border-radius: 10px;", placeholder: "10.25", type: "number", step: "0.01" %> <span style="margin-left: -60px;">(Um)</span> </h5>
    </div>

    <div class="field">
      <h3>Comentario</h3>
      <h5><%= f.text_area :comentario, placeholder: "Añade algún comentario para que se pueda valorar mejor lo que buscas." %></h5>
    </div>

    <div class="field">
      <h3>Categoría</h3>
      <h5><%= f.text_field :categoria, placeholder: "Por ejemplo, porches, tapicerías o vidrieras." %></h5>
    </div>

    <% if params[:reform_id] != nil %>
      <%= f.hidden_field :reform_id, value: params[:reform_id] %>
    <% end %>

    <% if params[:habitacion_id] != nil %>
      <%= f.number_field :habitacion_id, value: params[:habitacion_id] %>
    <% end %>

    <%= f.hidden_field :user_id, value: current_user.id %>

    <div class="actions" style="font-weight: bolder;">
      <h3><%# f.submit %><h3>
      <h5><input type="button" value="Send" onclick="form.submit();" style="background-color: white; padding: 10px; color: #444; font-weight: 900; border-radius: 15px; color: green; border: 1px solid green;"></h5>         
    </div>
  </div>
<% end %>
