<%= form_for(@partida, onsubmit: "return false") do |f| %>
  <% if @partida.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@partida.errors.count, "error") %> prohibited this partida from being saved:</h2>

      <ul>
      <% @partida.errors.full_messages.each do |message| %>
        <li><%# message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<%= f.text_field :titulo, placeholder: "Nombre de empresa o contacto", style: "display: block; width: 100%; padding: 5px; margin-top: 10px; margin-bottom: 0px; border-bottom: 0px;" %>
<%= f.text_field :email_invitado, placeholder: "Dirección de correo de contacto", style: "display: block; width: 100%; padding: 5px;" %>
<%= f.text_area :description, placeholder: "Cuéntanos tu experiencia o tu especialidad", style: "display: block; width: 100%; padding: 5px;" %>

<%= f.hidden_field :comentario, value: "Soy un posible builder y estoy buscando información" %>

<h5 style="font-size: 14px; text-align: center;"><input type="button" value="Pedir información" onclick="form.submit();" style="background-color: white; padding: 5px; color: #333; font-weight: 500; border-radius: 5px; border-color: #333; display: block; color: #222;"></h5>   


<% end %>
