<% content_for :head do %>
  <!-- Open Graph tags -->
  <meta property="og:title" content="<%= @partida.titulo %>" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://www.constructux.com/partidas/<%= @partida.id %>" />
  <meta property="og:description" content="ConstructUX, <%= @partida.description %>" />
  <% if @partida.foto? %>
    <meta property="og:image" content="<%= image_url(@partida.foto.url) %>" />  
  <% else %>
    <meta property="og:image" content="<%= image_url('partida_default.jpg') %>" />  
  <% end %>
<% end %> 

<% provide(:title, @partida.titulo) %>

<div class="container">
  <div class="row">
    <% if @partida.empresa != nil %>
      <% @empresa = Empresa.find( @partida.empresa) %>
      <% @user_empresa = User.find(@empresa.user_id) %>
    <% end %>
    <div class="constructor_show_user">
      <div class="col-sm-1">
        <div class="imagen_usuario">
          <div class="card mb-3" style="width: 300px; border: 1px solid #ddd; border-radius: 10px; display: block;">
            <div class="" style="overflow-x: hidden; overflow-y: hidden; height: 250px; border-radius: 10px;">
              <div class="img_prueba" style="position: relative; display: inline-block; bottom: -50%; right: -50%;">          
                <% if @partida.foto? %>
                  <%= image_tag @partida.foto.url, class: "img_prueba" %>
                <% else %>
                  <%= image_tag('partida_default.jpg', size: 300, class: "img_prueba") %>  
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <div class="col-md-6">
        <div class="constructor">

          <p id="notice"><%= notice %></p>

          <ul class="lista_principal" style="list-style: none; padding-left: 0px;">
            <li class="lista_elemento" style=" border: none;">
              <ul class="elemento" id="" style="list-style: none; padding-left: 0px;">
                <li class="">
                    <h1 style="color: #666; margin-top: 0px;"><%= @partida.titulo if @partida.titulo? %></h1>
                    <% if @empresa != nil %>
                    <h5 style="font-size: 16px; margin: 0px; font-weight: 400; color: #666;">Empresa constructora</h5>
                    <h5 style="font-size: 16px; margin: 0px; font-weight: 400; color: #666;">Empresa: <%= link_to @user_empresa.name, user_path(@user_empresa), style: "color: #008489;" %></h5>
                    <% end %>
                </li>
                <li>
                  <div style="text-align: left;">
                    <h3 style="font-weight: 400;">Comparte esta partida con todos, gracias!!</h3>
                    <!-- FACEBOOK share button -->
                    <div class="fb-share-button" 
                    data-href="https://www.constructux.com" 
                    data-layout="button_count"
                    data-size="large"
                    style= "display: inline-flex; padding-left: 0px;"></div> 

                    <!-- TWITTER share button -->
                    <div style="display: inline-flex;"><a href="https://twitter.com/share" class="twitter-share-button" data-url="https://www.constructux.com" data-size="large"></a></div>
                    <script src="//platform.twitter.com/widgets.js"></script>                      
                  </div>                   
                </li>
                <li>
                  <div class="description">
                    <h3>Descripción</h3>
                    <h5 style="font-weight: 400; color: #666; font-size: 16px;"><%= @partida.description if @partida.description? %></h5> 
                  </div>
                </li>
                <% if @partida.desc_tecnica? %>
                  <li>
                    <div class="description">
                      <h3>Descripción técnica más detallada de la partida</h3>
                      <h5 style="font-weight: 400; color: #666; font-size: 16px;"><%= @partida.desc_tecnica %></h5> 
                    </div>
                  </li>                
                <% end %>
                <% if @partida.material? %>
                  <li>
                    <div class="description">
                      <h3>Los materiales que utilizaremos</h3>
                      <h5 style="font-weight: 400; color: #666; font-size: 16px;"><%= @partida.material %></h5> 
                    </div>
                  </li> 
                <% end %>  

                <% if @empresa != nil %>
                  <li>
                    <div class="description">
                      <h3>Datos importantes:</h3>
                  
                      <% if @partida.cond_previas? %>
                        <h5 style="font-weight: 400; color: #666; font-size: 16px;"><i class="fa fa-exclamation-triangle" aria-hidden="true" style="color: #d9534f;"></i>&nbsp;Condiciones previas: <%= @partida.cond_previas %></h5>
                      <% end %>
                      <% if @partida.cond_terminacion? %>
                        <h5 style="font-weight: 400; color: #666; font-size: 16px;"><i class="fa fa-paint-brush" aria-hidden="true" style="color: #d9534f;"></i>&nbsp;Condiciones de terminación: <%= @partida.cond_terminacion %></h5>
                      <% end %>                
                      <% if @partida.fases? %>
                        <h5 style="font-weight: 400; color: #666; font-size: 16px;"><i class="fa fa-info-circle" aria-hidden="true" style="color: #d9534f;"></i>&nbsp;Fases: <%= @partida.fases %></h5>
                      <% end %>
                      <% if @partida.man_obra? %>
                        <h5 style="font-weight: 400; color: #666; font-size: 16px;"><i class="fa fa-users" aria-hidden="true" style="color: #d9534f;"></i>&nbsp;Mano de obra: <%= @partida.man_obra %></h5>
                      <% end %> 
                      <% if @partida.rendimiento? %>
                        <h5 style="font-weight: 400; color: #666; font-size: 16px;"><i class="glyphicon glyphicon-time" aria-hidden="true" style="color: #d9534f; font-size: 15px;"></i>&nbsp;Rendimiento: <%= @partida.rendimiento %></h5>
                      <% end %> 
                      <% if @partida.mat_incluidos? %>
                        <h5 style="font-weight: 400; color: #666; font-size: 16px;"><i class="fa fa-briefcase" aria-hidden="true" style="color: #d9534f;"></i>&nbsp;Materiales incluidos: <%= @partida.mat_incluidos %></h5>
                      <% end %>  
                      <% if @partida.mat_aportar? %>
                        <h5 style="font-weight: 400; color: #666; font-size: 16px;"><i class="fa fa-briefcase" aria-hidden="true" style="color: #d9534f;"><i class="fa fa-plus" aria-hidden="true" style="color: #d9534f;"></i></i>&nbsp;Materiales a aportar por tí: <%= @partida.mat_aportar %></h5> 
                      <% end %>   
                    </div>
                  </li> 
                <% end %>

                <% if @partida.um? %>
                  <%# @partida.um %></h5>
                <% end %>                             
                <% if @partida.importe? %>
                  <li class="field">
                    <h3>Importe:</h3>
                    <h5 style="font-weight: 600; font-size: 18px;"><i class="fa fa-euro" aria-hidden="true" style="color: #d9534f;"></i> <%= @partida.importe %> <span style="margin-left: 40px;"> (<%= @partida.um %>)</span> </h5>
                  </li>                
                  
                <% end %>
                <% if @partida.medicion? %>
                  <li class="field">
                    <h3>Tus medidas:</h3>
                    <h5 style="font-weight: 400;"><%= @partida.medicion %> <span style="margin-left: 40px;">(Um)</span> </h5>
                  </li>                
                <% end %>                

                <% if @partida.comentario? %>
                <li class="comentarios">
                  <h3>Comentarios:</h3>
                  <h5 style="color: #666;"><%= @partida.comentario %></h5>
                </li>
                <% end %>
              </ul>
            </li>
          </ul>        

          <h5 style="margin: 0px;"><%# link_to 'Back', reform_path(id: params[:reform_id]) %></h5>
          
        </div>
      </div>

      <div class="col-sm-4">
        <div class="imagen_usuario_web">
          <div class="card mb-3" style="width: 300px; border: 1px solid #ddd; border-radius: 10px; display: block;">
            <div class="" style="overflow-x: hidden; overflow-y: hidden; height: 250px; border-radius: 10px;">
              <div class="img_prueba" style="position: relative; display: inline-block; bottom: -50%; right: -50%;">          
                <% if @partida.foto? %>
                  <%= image_tag @partida.foto.url, class: "img_prueba" %>
                <% else %>
                  <%= image_tag('partida_default.jpg', size: 300, class: "img_prueba") %>  
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>           

    </div>
  </div>
</div>
