<div class="render_user" style="text-align: center; margin-bottom: 30px; background-color: rgba(0, 0, 0, 0.6); padding: 30px;">

  <div style="opacity: 1;">
    <h1 style=" text-align: center; padding-left: 0px; font-weight: bolder; font-size: 22px; font-weight: 400; letter-spacing: -1px; color: white; margin-top: 0px;">Infórmate gratis</h1>

    <%= form_for(contacto) do |f| %>
      <% if contacto.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(contacto.errors.count, "error") %> prohibited this contacto from being saved:</h2>

          <ul>
          <% contacto.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
      <div style="display: inline-flex;">
        <%= f.text_field :email, placeholder: "Email o tu Teléfono", style: "min-width: 170px;" %>
        <%= f.hidden_field :tipo, value: "Usuario" %>
        <%# f.text_field :comentario %>
        <%= f.submit "Enviar", class: "btn btn-primary", style: "background-color: #008489; color: white; font-weight: 700; font-family: 'Open Sans'; " %>    
      </div>
    <% end %>    
  </div>



</div>