<div class="render_user">
<h1 style=" text-align: left; padding-left: 0px; font-weight: bolder; font-size: 22px; font-weight: 400; letter-spacing: -1px;">Hazte builder, trabaja cuando quieras y publica tus ofertas gratis</h1>

<%= form_for(@user) do |f| %>

    <%= f.text_field :name, :placeholder => "Tu Nombre o el de tu empresa" %>

    <%= f.text_area :description, style: "height: 50px;", placeholder: "¿Cuál es tu experiencia o tu especialidad?" %>

    <%= f.select :ciudad, [
        '',
        'Albacete',
        'Alicante',
        'Almería',
        'Álava',
        'Asturias',
        'Ávila',
        'Badajoz',
        'Illes Balears',
        'Barcelona',
        'Bizkaia',
        'Burgos',
        'Cáceres',
        'Cádiz',
        'Cantabria',
        'Castellón',
        'Ciudad Real',
        'Córdoba',
        'A Coruña',
        'Cuenca',
        'Gipuzkoa',
        'Girona',
        'Granada',
        'Guadalajara',
        'Huelva',
        'Huesca',
        'Jaén',
        'León',
        'Lleida',
        'Lugo',
        'Madrid',
        'Málaga',
        'Murcia',
        'Navarra',
        'Ourense',
        'Palencia',
        'Las Palmas',
        'Pontevedra',
        'La Rioja',
        'Salamanca',
        'Santa Cruz de Tenerife',
        'Segovia',
        'Sevilla',
        'Soria',
        'Tarragona',
        'Teruel',
        'Toledo',
        'Valencia',
        'Valladolid',
        'Zamora',
        'Zaragoza',
        'Ceuta',
        'Melilla'] %>

    <%= f.email_field :email, placeholder: "Tu email de contacto." %>

    <%# f.file_field :foto, accept: 'image/jpeg,image/gif,image/png', placeholder: "Jpeg, gif, png", style: "color: grey;" %>

    <%# f.text_field :direccion, :placeholder => "Dirección de tu empresa" %>




    <%# f.select :ciudad_secundaria, [
        '',
        'Albacete',
        'Alicante',
        'Almería',
        'Álava',
        'Asturias',
        'Ávila',
        'Badajoz',
        'Illes Balears',
        'Barcelona',
        'Bizkaia',
        'Burgos',
        'Cáceres',
        'Cádiz',
        'Cantabria',
        'Castellón',
        'Ciudad Real',
        'Córdoba',
        'A Coruña',
        'Cuenca',
        'Gipuzkoa',
        'Girona',
        'Granada',
        'Guadalajara',
        'Huelva',
        'Huesca',
        'Jaén',
        'León',
        'Lleida',
        'Lugo',
        'Madrid',
        'Málaga',
        'Murcia',
        'Navarra',
        'Ourense',
        'Palencia',
        'Las Palmas',
        'Pontevedra',
        'La Rioja',
        'Salamanca',
        'Santa Cruz de Tenerife',
        'Segovia',
        'Sevilla',
        'Soria',
        'Tarragona',
        'Teruel',
        'Toledo',
        'Valencia',
        'Valladolid',
        'Zamora',
        'Zaragoza',
        'Ceuta',
        'Melilla'] %>

    <%# f.select :ciudad_terciaria, [
        '',
        'Albacete',
        'Alicante',
        'Almería',
        'Álava',
        'Asturias',
        'Ávila',
        'Badajoz',
        'Illes Balears',
        'Barcelona',
        'Bizkaia',
        'Burgos',
        'Cáceres',
        'Cádiz',
        'Cantabria',
        'Castellón',
        'Ciudad Real',
        'Córdoba',
        'A Coruña',
        'Cuenca',
        'Gipuzkoa',
        'Girona',
        'Granada',
        'Guadalajara',
        'Huelva',
        'Huesca',
        'Jaén',
        'León',
        'Lleida',
        'Lugo',
        'Madrid',
        'Málaga',
        'Murcia',
        'Navarra',
        'Ourense',
        'Palencia',
        'Las Palmas',
        'Pontevedra',
        'La Rioja',
        'Salamanca',
        'Santa Cruz de Tenerife',
        'Segovia',
        'Sevilla',
        'Soria',
        'Tarragona',
        'Teruel',
        'Toledo',
        'Valencia',
        'Valladolid',
        'Zamora',
        'Zaragoza',
        'Ceuta',
        'Melilla'] %>

    <%= f.password_field :password, placeholder: "Contraseña" %>

    <%= f.password_field :password_confirmation, placeholder: "Confirma tu contraseña" %>

    <%= f.hidden_field :empresa, value: true %>

    <%= f.submit "Crea mi cuenta", class: "btn btn-primary", style: "background-color: #008489; color: white; font-weight: bolder;" %>

<% end %>
</div>

            

            

            
