<div class="container" style="background-color: white;">
  <% provide(:title, "Edit user") %>
    <div class="edit_user">
    <% if current_user == @user %>
      <h1 style="font-family: 'Open Sans'; text-align: left; font-weight: bolder;">Update your profile</h1>
      <div class="row">
        <div class="col-md-6 col-md-offset-3" style="padding: 30px 15px;">
          <%= form_for(@user)  do |f| %>
            <%= render 'shared/error_messages', object: f.object %>

            <h5 style="font-weight: bolder;"><%= f.label :name, style: "color: #0084B4;" %></h5>
            <h5 style="font-weight: bolder; color: #d9d9d9;"><%= f.text_field :name, class: 'form-control' %></h5>



            <h5 style="font-weight: bolder;"><%= f.label :description, style: "color: #0084B4;" %></h5>
            <h5 style="font-weight: bolder; color: #d9d9d9;"><%= f.text_area :description, class: 'form-control', style: "height: 100px; " %></h5>

            <% if @user.empresa == true %>
                <h5 style="font-weight: bolder;"><%= f.label :experiencia, style: "color: #0084B4;" %></h5>
                <h5 style="font-weight: bolder; color: #d9d9d9;"><%= f.text_area :experiencia, class: 'form-control', style: "height: 100px; " %></h5>
            <% end %>


            <h5 style="font-weight: bolder;"><%= f.label :email, style: "color: #0084B4;" %></h5>
            <h5 style="font-weight: bolder; color: #d9d9d9;"><%= f.email_field :email, class: 'form-control' %></h5>

            <h5 style="font-weight: bolder;"><%= f.label "Tu provincia", style: "color: #0084B4;" %></h5>
            <h5 style="font-weight: bolder; color: #555555;">                                
                <%= f.select :ciudad, [
                        'Albacete',
                        'Alicante',
                        'Almería',
                        'Álava',
                        'Asturias',
                        'Ávila',
                        'Badajoz',
                        'Illes Balears',
                        'Barcelona',
                        'Bizkaia',
                        'Burgos',
                        'Cáceres',
                        'Cádiz',
                        'Cantabria',
                        'Castellón',
                        'Ciudad Real',
                        'Córdoba',
                        'A Coruña',
                        'Cuenca',
                        'Gipuzkoa',
                        'Girona',
                        'Granada',
                        'Guadalajara',
                        'Huelva',
                        'Huesca',
                        'Jaén',
                        'León',
                        'Lleida',
                        'Lugo',
                        'Madrid',
                        'Málaga',
                        'Murcia',
                        'Navarra',
                        'Ourense',
                        'Palencia',
                        'Las Palmas',
                        'Pontevedra',
                        'La Rioja',
                        'Salamanca',
                        'Santa Cruz de Tenerife',
                        'Segovia',
                        'Sevilla',
                        'Soria',
                        'Tarragona',
                        'Teruel',
                        'Toledo',
                        'Valencia',
                        'Valladolid',
                        'Zamora',
                        'Zaragoza',
                        'Ceuta',
                        'Melilla'] %></h5>

            <h5 style="font-weight: bolder;"><%= f.label :direccion, style: "color: #0084B4;" %></h5>
            <h5 style="font-weight: bolder; color: #d9d9d9;"><%= f.text_field :direccion, class: 'form-control', placeholder: "Tu dirección" %></h5>                        

            <h5 style="font-weight: bolder;"><%= f.label "", "Your picture", style: "color: #0084B4;" %></h5>
            <h5 style="font-weight: bolder;"><%= f.file_field :foto, accept: 'image/jpeg,image/gif,image/png', style: "color: #555555;" %></h5>

            <% if @user.empresa == true %>

            <h5 style="font-weight: bolder;"><%= f.label "Add your linkedIN profile, just copy your link.", style: "color: #0084B4;" %></h5>
            <h5 style="font-weight: bolder; color: #d9d9d9;"><%= f.text_field :linkedin, class: 'form-control' %></h5>

            <h5 style="font-weight: bolder;"><%= f.label "Add your facebook profile, just copy your link.", style: "color: #0084B4;" %></h5>            
            <h5 style="font-weight: bolder; color: #d9d9d9;"><%= f.text_field :facebook, class: 'form-control' %></h5>

            <h5 style="font-weight: bolder;"><%= f.label "Add your twitter profile, just copy your link.", style: "color: #0084B4;" %></h5>            
            <h5 style="font-weight: bolder; color: #d9d9d9;"><%= f.text_field :twitter, class: 'form-control' %></h5>

            <h5 style="font-weight: bolder;"><%= f.label "Add your pinterest profile, just copy your link.", style: "color: #0084B4;" %></h5>            
            <h5 style="font-weight: bolder; color: #d9d9d9;"><%= f.text_field :pinterest, class: 'form-control' %></h5>

            <% end %>

            <% if @user.empresa == true %>
                <h5 style="font-weight: bolder; color: #0084B4;">Añade tus servicios</h5>
                    <h5 style="font-weight: bolder; color: #444;">
                    <%= f.select :servicio1, [
                                    'Constructor (todas)',
                                    'Albañilería',
                                    'Alicatar',
                                    'Carpintería',
                                    'Carpintería de Aluminio',
                                    'Electricista',
                                    'Fontanería',
                                    'Pintor',
                                    'Instalador pladur',
                                    'Instalador Aire Acondicionado',
                                    'Instalador Cocinas',
                                    'Instalador Calefacción',
                                    'Metalista',
                                    'Parquetista',
                                    'Yesero'] %>
                    <%= f.select :servicio2, ['',
                                    'Constructor (todas)',
                                    'Albañilería',
                                    'Alicatar',
                                    'Carpintería',
                                    'Carpintería de Aluminio',
                                    'Electricista',
                                    'Fontanería',
                                    'Pintor',
                                    'Instalador pladur',
                                    'Instalador Aire Acondicionado',
                                    'Instalador Cocinas',
                                    'Instalador Calefacción',
                                    'Metalista',
                                    'Parquetista',
                                    'Yesero'] %>
                    <%= f.select :servicio3, ['',
                                    'Constructor (todas)',
                                    'Albañilería',
                                    'Alicatar',
                                    'Carpintería',
                                    'Carpintería de Aluminio',
                                    'Electricista',
                                    'Fontanería',
                                    'Pintor',
                                    'Instalador pladur',
                                    'Instalador Aire Acondicionado',
                                    'Instalador Cocinas',
                                    'Instalador Calefacción',
                                    'Metalista',
                                    'Parquetista',
                                    'Yesero'] %>
                    <%= f.select :servicio4, ['',
                                    'Constructor (todas)',
                                    'Albañilería',
                                    'Alicatar',
                                    'Carpintería',
                                    'Carpintería de Aluminio',
                                    'Electricista',
                                    'Fontanería',
                                    'Pintor',
                                    'Instalador pladur',
                                    'Instalador Aire Acondicionado',
                                    'Instalador Cocinas',
                                    'Instalador Calefacción',
                                    'Metalista',
                                    'Parquetista',
                                    'Yesero'] %>
                    <%= f.select :servicio5, ['',
                                    'Constructor (todas)',
                                    'Albañilería',
                                    'Alicatar',
                                    'Carpintería',
                                    'Carpintería de Aluminio',
                                    'Electricista',
                                    'Fontanería',
                                    'Pintor',
                                    'Instalador pladur',
                                    'Instalador Aire Acondicionado',
                                    'Instalador Cocinas',
                                    'Instalador Calefacción',
                                    'Metalista',
                                    'Parquetista',
                                    'Yesero'] %>
                    <%= f.select :servicio6, ['',
                                    'Constructor (todas)',
                                    'Albañilería',
                                    'Alicatar',
                                    'Carpintería',
                                    'Carpintería de Aluminio',
                                    'Electricista',
                                    'Fontanería',
                                    'Pintor',
                                    'Instalador pladur',
                                    'Instalador Aire Acondicionado',
                                    'Instalador Cocinas',
                                    'Instalador Calefacción',
                                    'Metalista',
                                    'Parquetista',
                                    'Yesero'] %>
                    <%= f.select :servicio7, ['',
                                    'Constructor (todas)',
                                    'Albañilería',
                                    'Alicatar',
                                    'Carpintería',
                                    'Carpintería de Aluminio',
                                    'Electricista',
                                    'Fontanería',
                                    'Pintor',
                                    'Instalador pladur',
                                    'Instalador Aire Acondicionado',
                                    'Instalador Cocinas',
                                    'Instalador Calefacción',
                                    'Metalista',
                                    'Parquetista',
                                    'Yesero'] %>
                    <%= f.select :servicio8, ['',
                                    'Constructor (todas)',
                                    'Albañilería',
                                    'Alicatar',
                                    'Carpintería',
                                    'Carpintería de Aluminio',
                                    'Electricista',
                                    'Fontanería',
                                    'Pintor',
                                    'Instalador pladur',
                                    'Instalador Aire Acondicionado',
                                    'Instalador Cocinas',
                                    'Instalador Calefacción',
                                    'Metalista',
                                    'Parquetista',
                                    'Yesero'] %>
                    <%= f.select :servicio9, ['',
                                    'Constructor (todas)',
                                    'Albañilería',
                                    'Alicatar',
                                    'Carpintería',
                                    'Carpintería de Aluminio',
                                    'Electricista',
                                    'Fontanería',
                                    'Pintor',
                                    'Instalador pladur',
                                    'Instalador Aire Acondicionado',
                                    'Instalador Cocinas',
                                    'Instalador Calefacción',
                                    'Metalista',
                                    'Parquetista',
                                    'Yesero'] %>
                    <%= f.select :servicio10, ['',
                                    'Constructor (todas)',
                                    'Albañilería',
                                    'Alicatar',
                                    'Carpintería',
                                    'Carpintería de Aluminio',
                                    'Electricista',
                                    'Fontanería',
                                    'Pintor',
                                    'Instalador pladur',
                                    'Instalador Aire Acondicionado',
                                    'Instalador Cocinas',
                                    'Instalador Calefacción',
                                    'Metalista',
                                    'Parquetista',
                                    'Yesero'] %>
            <% end %>                                                                                                                                                                                                                                                                                                                                   
            <h5 style="font-weight: bolder;"><%= f.label :password, style: "color: #0084B4;" %>
            <h5 style="font-weight: bolder; color: #d9d9d9;"><%= f.password_field :password, class: 'form-control' %></h5>

            <h5 style="font-weight: bolder;"><%= f.label :password_confirmation, "Confirmation", style: "color: #0084B4;" %></h5>
            <h5 style="font-weight: bolder; color: #d9d9d9;"><%= f.password_field :password_confirmation, class: 'form-control' %></h5>

            <%= f.submit "Guardar cambios", class: "btn btn-primary" %>

          <% end %>
        </div>
      </div>
    <% else %>
        <h3>No tienes derechos en esta página</h3>
    <% end %>       
    </div>

</div>