<div class="container">
  <% provide(:title, "Edit user") %>
  <h1>Update your profile</h1>

  

  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= form_for(@user)  do |f| %>
        <%= render 'shared/error_messages', object: f.object %>

        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control' %>.

        <%= f.label :description %>
        <%= f.text_field :description, class: 'form-control' %>

        <%= f.label :email %>
        <%= f.email_field :email, class: 'form-control' %>

        <%= f.label :pais %>
        <%= f.select(:pais, Pai.all.collect {|p| [ p.paisnombre ]} ) %>

        <%= f.label "Selecciona tu círculo autonómico para poder ser candidato y estar actualizado" %>
        <% if current_user.autonomia? %>
            <%= f.label "Selecciona tu círculo autonómico para poder ser candidato y estar actualizado" %>
            <%= f.select :autonomia, [
                'Andalucía',
                'Aragón',
                'Principado de Asturias',
                'Islas Baleares',
                'Canarias',
                'Cantabria',
                'Castilla-La Mancha',
                'Castilla y León',
                'Cataluña',
                'Comunidad Valenciana',
                'Extremadura',
                'Galicia',
                'La Rioja',
                'Comunidad de Madrid',
                'Región de Murcia',
                'Comunidad Foral de Navarra',
                'País Vasco'
                ] %>
            <% if current_user.provincia? %>
                <% @provincia = Provincia.where(provincia: current_user.provincia).first %>
                <% @municipios = Municipio.where(id_provincia: @provincia.id_provincia) %>
                <%= f.select(:provincia, Provincia.all.collect {|p| [ p.provincia ]} ) %>
                <% if  current_user.ciudad? %>
                    <%= f.select(:ciudad, @municipios.collect {|p| [ p.nombre ]} ) %>
                <% else %>
                <% end %>
            <% end %>
        <% else %>
        <% end %>

        <%= f.label "Selecciona tu círculo profesional para debatir sobre los temas importantes" %>
        <%= f.text_field :profesion, class: 'form-control' %>

        <%= f.label "", "Your picture" %>
        <%= f.file_field :foto, accept: 'image/jpeg,image/gif,image/png' %>

        <%= f.label "Add your linkedIN profile, just copy your link." %>
        <%= f.text_field :linkedin, class: 'form-control' %>

        <%= f.label :password %>
        <%= f.password_field :password, class: 'form-control' %>

        <%= f.label :password_confirmation, "Confirmation" %>
        <%= f.password_field :password_confirmation, class: 'form-control' %>

        <%= f.submit "Save changes", class: "btn btn-primary" %>

      <% end %>
    </div>
  </div>
</div>