<div class="container" style="background-color: white;">
  <% provide(:title, "Edit user") %>
    <div class="edit_user">
      <h1 style="font-family: 'Open Sans'; text-align: left;">Update your profile</h1>
      <div class="row">
        <div class="col-md-6 col-md-offset-3" style="padding: 30px 15px;">
          <%= form_for(@user)  do |f| %>
            <%= render 'shared/error_messages', object: f.object %>

            <%= f.label :name, style: "color: #0084B4;" %>
            <%= f.text_field :name, class: 'form-control' %>

            <%= f.label :description, style: "color: #0084B4;" %>
            <%= f.text_area :description, class: 'form-control', style: "height: 100px; ", maxlength: 300 %>

            <%= f.label :email, style: "color: #0084B4;" %>
            <%= f.email_field :email, class: 'form-control' %>

            <%= f.label :pais, style: "color: #0084B4;" %>
            <%= f.select(:pais, Pai.all.collect {|p| [ p.paisnombre ]} ) %>

            <%= f.label "Selecciona tu círculo profesional para debatir sobre los temas importantes", style: "color: #0084B4;" %>
            <%= f.text_field :profesion, class: 'form-control' %>

            <%= f.label "", "Your picture", style: "color: #0084B4;" %>
            <%= f.file_field :foto, accept: 'image/jpeg,image/gif,image/png' %>

            <%= f.label "Add your linkedIN profile, just copy your link.", style: "color: #0084B4;" %>
            <%= f.text_field :linkedin, class: 'form-control' %>

            <div>
                <ul style="list-style: none; padding: 0px;">
                    <li>
                        <%= f.label "Tús lobbys administrativos", style: "color: #0084B4;" %>
                    </li>
                    <li>
                        Círculo municipal:
                        <b><%= current_user.ciudad %></b>                   
                    </li>
                    <li>
                        Círculo provincial:
                       <b><%= current_user.provincia %></b>
                    </li>
                    <li>
                        Círculo autonómico:
                        <b><%= current_user.autonomia %></b>
                    </li>
                    <li style="padding-top: 20px;">
                        <%= link_to "Cambia tus círculos administrativos", edit_administrative_user_path( current_user), class: "btn btn-primary", style: "background-color: white; color: #0084B4; border: 1px line #0084B4;" %>
                    </li>
                </ul>        
            </div>


            <%= f.label :password, style: "color: #0084B4;" %>
            <%= f.password_field :password, class: 'form-control' %>

            <%= f.label :password_confirmation, "Confirmation", style: "color: #0084B4;" %>
            <%= f.password_field :password_confirmation, class: 'form-control' %>

            <%= f.submit "Save changes", class: "btn btn-primary" %>

          <% end %>
        </div>
      </div>        
    </div>

</div>