<div class="container">
	<% provide(:title, 'All users') %>
	<div class="row">
	  <aside class="col-sm-2" style="">
	    <section class="user_info">
	      <%= render 'shared/user_info' %>
	    </section>
	    <section class="stats">
	      <%= render 'shared/stats' %>
	    </section>
	  </aside>
	  <div class="col-sm-7">
	  	<div class="instrucciones" style="margin-top: 15px;">
          Tus candidatos de cada círculo administrativo. Los candidatos son aquellos que tienen una mayor compromiso dentro del círculo, expresada en número de seguidores pero también en forma de propuestas y votos.
      </div>
        <ul class="plazas">
          <li class="search">
          	<ul class="search_form" style="width: 100%;">
							<%= form_tag(users_path, method: :get) do %>
							<li class="boton_search">
								<%= submit_tag 'Search', class: "btn btn-primary btn-sm", style: "margin: 0px; padding: 3px 6px;" %>
							</li>
							<li style="display: inline-flex; width: 70%;">
								<%= text_field_tag :tern, params[:tern], placeholder: ' Enter search term...', style: "margin: 0px;" %>
							</li>
							<% end %>
						</ul>
					</li>
					<li class="titulo">
            <ul>
              <li>
                <span style="font-size: 14px;"><b><%= link_to "Todos los usuarios", users_path %></b></span>
              </li>
            </ul>
          </li>
          <li style="padding: 0px;">
          	<div class="elementos">
          		<%# render @users %>
          		<%# will_paginate %>
	          	<% @users.each do |user| %> 
	          		<ul class="master">
	          			<li style="border-bottom: 1px solid #dddfe2; width: auto; ">
	          				<ul class="foto_texto"" >
			          			<li class="foto">
												<%= image_tag user.foto.url, class: "img-circle", size: 55 if user.foto? %>
											</li>
											<li class="texto" style="width: 80%;">
												<ul>
													<li>
														<b><%= link_to user.name, user %></b>
													</li>
													<li style="font-size: 13px;">
														<b><%= user.followers.count %> seguidores.</b>
													</li>
													<li style="font-size: 13px;  color: #8c8c8c;">
														<% @post_plaza = Micropost.where(:user_id => user.id) %>
														<% @post_plaza_petition = @post_plaza.where(:petition => true) %>
														<%= @votos = Vote.where(:micropost_id => @post_plaza).count %> votos totales.
													</li>
													<li style="font-size: 13px; color: #8c8c8c;">
														<%= @post_plaza_petition.count %> iniciativas totales.
													</li>
													</li>
												</ul>
											</li>	          					
	          				</ul>
	          			</li>
									<li class="boton">
										<% if current_user.following?(user) %>
											<button type="button" class="btn btn-default,  btn-sm", style= "border: 1px solid #0084B4; background-color: white;"><span style="font-size: 13px; ">Siguiendo</span></button>
										<% else %>
											<button type="button" class="btn btn-primary btn-sm"><span style="font-size: 13px;"><%= link_to "Seguir", user, {style: "color: white"} %></span>
											</button>
										<% end %>
									</li>
								</ul>
							<% end %>         		
          	</div>
          </li>
				</ul>
			</div>

			<%# ya no es necesario paginarlo porque ya pasa por el if y no está paginado %>
			
  <div class="col-sm-3">
  	<div class="usuarios_sugeridos">
    	<h4>A quien seguir</h4>
    	<h4><%= current_user.name %> hecha un vistazo a las siguientes personas:</h4>
    	<% @tus_grupos = Group.where(user_id: current_user) %>
  		<% @tus_grupos.each do |tus_grupos| %>
    		<% @users_grupos = Group.where(plaza_id: tus_grupos.plaza_id) %>
    			<% @users_grupos.each do |users_grupos| %>
      			<% @users_plazas = User.where(id: users_grupos.user_id) %>
      			<% @plazas_users = Plaza.where(id: users_grupos.plaza_id) %>
      			<% @plazas_users.each do |plazas_users| %>
      			<% @users_plazas.each do |users_plazas| %>
      				<% unless current_user.following?(users_plazas) %>
	  						<li>
	  							<% if users_plazas != current_user %>
		  							<%= link_to users_plazas.name, users_plazas  %>
		  							<%= image_tag (users_plazas.foto.url), class: "img-circle", size: 45 if users_plazas.foto? if users_plazas != current_user %> en <i class="fa fa-circle-o" aria-hidden="true"></i> 
		    						<%= link_to plazas_users.name, user_plaza_path(user_id: current_user, id: plazas_users) %>
		    						<%= image_tag (plazas_users.foto.url), class: "img-circle", size: 45 if plazas_users.foto? if users_plazas != current_user %>
		    					<% end %>	
	  						</li>
      				<% end %>
      			<% end %>
      			<% end %>
    		<% end %>
  		<% end %>  		
  	</div>

  	</div>

	</div>
</div>

				