<% provide(:title, 'Ranks') %>
<div class="container"> 
	<ul style="display: inline-flex; list-style: none; width: 100%; padding-left: 0px;">
		<li style="padding-left: 0px; width: 100%;">
			<h5>Candidatos en</h5>
			<p style="line-height: 10px;"><b><%= current_user.ciudad %></b></p>
			<ul class="users" style="padding-left: 5px;">
				<li style="padding-left: 10px;">
					<% @candidatos_pueblo.each do |x| %>
				    <%= render (@user = User.where(:id => x.id).where(:ciudad => current_user.ciudad)) %>
					<% end %>
				</li>
			</ul>
		</li>
		<li style="padding-left: 0px; width: 100%;">
			<h5>Candidatos en</h5>
			<p style="line-height: 10px;"><b><%= current_user.autonomia %></b></p>
			<ul class="users" style="padding-left: 5px;">
				<li style="padding-left: 10px;">
					<% @candidatos_autonomia.each do |x| %>
				    <%= render (@user = User.where(:id => x.id).where(:autonomia => current_user.autonomia)) %>
					<% end %>
				</li>
			</ul>
		</li>
		<li style="padding-left: 0px; width: 100%;">
			<h5>Candidatos en</h5>
			<p style="line-height: 10px;"><b>Mundo</b></p>
			<ul class="users" style="padding-left: 5px;">
				<li style="padding-left: 10px;">
					<% @candidatos_mundo.each do |x| %>
				    <%= render (@user = User.where(:id => x.id)) %>
					<% end %>
				</li>
			</ul>
		</li>
	</ul>
</div>
