<div class="container">
  <% provide(:title, @user.name) %>
  <div class="row">
    <div class="constructor_show_user">
      <div class="col-sm-2">
        <div class="imagen_usuario">
          <%= image_tag @user.foto.url, class: "img", size: 300  if @user.foto? %>
          <%= render 'follow_form' if logged_in? %>
        </div>
      </div>

      <div class="col-sm-6">
        <% if @user.empresa == true %>
          <ul>
            <li>
              <h1 style="font-weight: 700; color: #666 !important; letter-spacing: -2px;"><%= @user.name %></h1>
            </li>
            <li>
              <h3>Experiencia</h3>
              <h3 style="font-weight: 300;"><%= @user.experiencia %></h3>
            </li>
            <li>
              <h3>Redes Sociales</h3>
              <% if @user.linkedin? %>
                <div class="">
                  <%= link_to "#{@user.linkedin}" do %>
                    <span style="font-size: 36px; padding-right: 20px;"><i class="fa fa-linkedin" aria-hidden="true"></i></span>
                  <% end %> 
                  <%= link_to "#{@user.facebook}" do %>
                    <span style="font-size: 36px; padding-right: 20px;"><i class="fa fa-facebook-official" aria-hidden="true"></i></span>
                  <% end %>
                  <%= link_to "#{@user.twitter}" do %>
                    <span style="font-size: 36px; padding-right: 20px;"><i class="fa fa-twitter" aria-hidden="true"></i></span>
                  <% end %>
                  <%= link_to "#{@user.pinterest}" do %>
                    <span style="font-size: 36px; padding-right: 20px;"><i class="fa fa-pinterest" aria-hidden="true"></i></span>
                  <% end %>                                
                </div>
              <% end %>            
            </li>
            <li>
              <h3>Descripcion</h3>
              <h3 style="font-weight: 300;"><%= @user.description %></h3>
            </li>
            <li>
              <h3>Donde estamos</h3>
              <h3 style="font-weight: 300;"><%= @user.direccion %></h3>
            </li>
            <li>
              <h3>Qué hacemos</h3>
              <div style="columns: 2">
                <h3 style="font-weight: 300; margin: 0px;"><%= @user.servicio1 if @user.servicio1? %></h3>
                <h3 style="font-weight: 300; margin: 0px;"><%= @user.servicio2 if @user.servicio2? %></h3>
                <h3 style="font-weight: 300; margin: 0px;"><%= @user.servicio3 if @user.servicio3? %></h3>
                <h3 style="font-weight: 300; margin: 0px;"><%= @user.servicio1 if @user.servicio4? %></h3>
                <h3 style="font-weight: 300; margin: 0px;"><%= @user.servicio2 if @user.servicio5? %></h3>
                <h3 style="font-weight: 300; margin: 0px;"><%= @user.servicio3 if @user.servicio6? %></h3>
                <h3 style="font-weight: 300; margin: 0px;"><%= @user.servicio1 if @user.servicio7? %></h3>
                <h3 style="font-weight: 300; margin: 0px;"><%= @user.servicio2 if @user.servicio8? %></h3>
                <h3 style="font-weight: 300; margin: 0px;"><%= @user.servicio3 if @user.servicio9? %></h3>
                <h3 style="font-weight: 300; margin: 0px;"><%= @user.servicio1 if @user.servicio10? %></h3>
                <h3 style="font-weight: 300; margin: 0px;"><%= @user.servicio2 if @user.servicio11? %></h3>
                <h3 style="font-weight: 300; margin: 0px;"><%= @user.servicio3 if @user.servicio12? %></h3>
              </div>
            </li>          
            <li>
              <h3>Pregúntanos algo</h3>
            </li>
            <li>
              <h3>Lo que opinan otros usuarios</h3>
              <%= render 'shared/valoracion_form' %>
            </li>
            <li>
              <h3>Posts</h3>
              <% if (@valoraciones = Micropost.where(user_valorado: @user.id)).any? %>
                <% @valoraciones.map do |valoracion| %> 
                  <% @user_valoracion = User.find(valoracion.user_id) %>
                  <ul style="border-bottom: 1px solid #ddd;">
                    <li style="display: inline-flex; border: none;">
                      <%= image_tag @user_valoracion.foto.url, class: "img-circle", size: 60  if @user.foto? %>
                      <div style="display: block; padding-left: 10px;">
                        <h3 style="display: inline-flex; margin: 0px;"><%= @user_valoracion.name %></h3>
                        <h5 style="display: block; margin: 0px; font-weight: 300;"><%= valoracion.created_at %> ago.</h5>
                        <h5 style="margin: 0px;">
                          <% if valoracion.valoracion == 'Muy mala' %>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star-o" aria-hidden="true"></i>
                            <i class="fa fa-star-o" aria-hidden="true"></i>
                            <i class="fa fa-star-o" aria-hidden="true"></i>
                            <i class="fa fa-star-o" aria-hidden="true"></i>
                          <% end %>
                          <% if valoracion.valoracion == 'Mala' %>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star-o" aria-hidden="true"></i>
                            <i class="fa fa-star-o" aria-hidden="true"></i>
                            <i class="fa fa-star-o" aria-hidden="true"></i>
                          <% end %>
                          <% if valoracion.valoracion == 'Aceptable' %>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star-o" aria-hidden="true"></i>
                            <i class="fa fa-star-o" aria-hidden="true"></i>
                          <% end %>
                          <% if valoracion.valoracion == 'Recomendable' %>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star-o" aria-hidden="true"></i>
                          <% end %>
                          <% if valoracion.valoracion == 'Muy recomendable' %>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                          <% end %>                                                                        
                        </h5>
                      </div>
                    </li>
                    <li>
                      <h3 style="font-weight: 300; margin: 0px;"><%= valoracion.content %></h3>
                    </li>
                  </ul>
                <% end %>
              <% end %>
            </li>
          </ul>
        <% else %>
          <ul>
            <li>
              <h1 style="font-weight: 700; color: #666 !important; letter-spacing: -2px;"><%= @user.name %></h1>
              <h3 style="font-weight: 300; margin: 0px;">Cliente privado</h3>
            </li>
          </ul>
        <% end %>
        
      </div>

      <div class="col-sm-4">
        <div class="imagen_usuario_web">
          <%= image_tag @user.foto.url, class: "img", size: 300  if @user.foto? %> 
          <%= render 'follow_form' if logged_in? %>
        </div>
      </div>

    </div>

  </div>
</div>