<div class="container">
  <% provide(:title, @user.name) %>
  <div class="row">
    <div class="col-md-2">
      <div class="plaza_stats">
        <div>
          <div class="background_img"></div>
          <ul class="plaza_name_img">
            <li>
              <div class="plaza_img">
                  <%= image_tag @user.foto.url, class: "img-circle", size: 75  if @user.foto? %> 
              </div>
            </li>
            <li>
              <div class="plaza_name">
                <%= @user.name %>
              </div>
            </li>
            <% if @user.description? %>
            <li class="description">
              <%= @user.description %>
            </li>
            <% end %>
          </ul>
        </div>
      </div>

      <div class="aside_content">
        <ul class="principal">
          <li class="titulo">
            Posicion del usuario dentro del círculo
          </li>
          <li class="lista_block">
            0
          </li>
        </ul>
      </div>

      <div class="aside_content">
        <ul class="inline" style="margin-bottom: 0px;">
          <li class="titulo">
            Perfil de linkedIN
          </li>
          <li class="lista_block" style="position: absolute; right: 25px;">
            <%= link_to image_tag("linkedinlogo.png", size: 25), "#{@user.linkedin}" if @user.linkedin? %> 
          </li>
        </ul>
      </div>

      <div class="aside_content">
        <ul class="principal">
          <li class="titulo">
            Comunidad
          </li>
          <li class="lista_block">
            <ul class="inline">
              <li>
                <i class="fa fa-user-o" aria-hidden="true"></i>   Seguidores
              </li>
              <li class="right">
                <a href="<%= followers_user_path(@user) %>">
                  <%= @user.followers.count %>
                </a>
              </li>
            </ul>
          </li>
          <li class="lista_block">
            <ul class="inline">
              <li>
                <i class="fa fa-user-o" aria-hidden="true"></i>   Seguidos
              </li>
              <li class="right">
                <a href="<%= following_user_path(@user) %>">
                  <%= @user.following.count %>
                </a>
              </li>
            </ul>
          </li>
          <li class="lista_block">
            <ul class="inline">
              <li>
                <i class="fa fa-envelope-open-o" aria-hidden="true"></i>   Iniciativas
              </li>
              <li class="right">
                <%= @microposts.where(:petition => true).count %>
              </li>
            </ul>
          </li>
          <li class="lista_block">
            <ul class="inline">
              <li>
                <i class="fa fa-hand-o-up" aria-hidden="true"></i>   Votos totales
              </li>
              <li class="right">
                <%= Vote.where(:micropost_id => @microposts).count %>
              </li>
            </ul>
          </li>
          <li class="lista_block">
            <ul class="inline">
              <li>
                <i class="fa fa-circle-o" aria-hidden="true"></i>   Círculos con los que colabora
              </li>
              <li class="right">
                <%= @plazas_grupos.count %>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      
    </div>

    <div class="col-md-6" style="margin-top: 15px;">
      <%= render 'follow_form' if logged_in? %>
      <% if @microposts.any? %>
        <h5>Posts (<%= @microposts.count %>)</h5>
        <ol class="microposts">
          <%= render @microposts %>
        </ol>
        <%= will_paginate @microposts %>
      <% end %>
    </div>

    <div class="col-md-4" style="margin-top: 12px;">
      

      <div class="aside_content">
        <ul class="principal">
          <li class="titulo">
            Temas que interesan al usuario
          </li>
          <li class="lista_block">
            <ul class="inline">
              <li>
                <% @microposts.take(3).each do |post| %>
                  <b><%= link_to post.hashtag1, {:controller => "microposts", action: "hashtag", :id => post.id}  %></b>  
                <% end %>
              </li>
            </ul>
          </li>
        </ul>
      </div>

      <div class="aside_content">
        <ul class="principal">
          <li class="titulo">
            Tus Iniciativas/Propuestas/Votaciones
          </li>
          <% @peticiones.each do |petition| %>
          <li class="lista_block">
            <ul class="inline">
              <li class="inline">
                <%= image_tag petition.picture.url, size: 50 if petition.picture? %>
              </li>
              <li class="inline">
                <span class="nombres"><%= link_to petition.title, micropost_path(id: petition) %></b></span>
              </li>
              <li class="right" style="padding-top: 10px;">
                <% @votos = Vote.where(:micropost_id => petition) %>
                <% @votos_realizados = @votos.count %>
                <% if @votos_realizados != 0 %>
                <% @votos_positivos = @votos.where(:like => true).count %>
                <i class="fa fa-thumbs-o-up" aria-hidden="true"></i> <%= @votos_positivos*100/(@votos_realizados) %> %
                <% else %>
                  0 %
                <% end %>
              </li>
            </ul>
            <% end %>
          </li>
        </ul>
      </div>

      <div class="aside_content">
        <ul class="principal">
          <li class="titulo">
            Iniciativas que apoya <%= @user.name %>
          </li>
          <% @votos = Vote.where(:user_id => @user.id).where(like: 1) %>
          <% @votos.each do |voto| %>
            <% @peticiones_votadas = @peticiones_all.where(id: voto.micropost_id) %>
            <% @peticiones_votadas.each do |petition| %>
              <li class="lista_block">
                <ul class="inline">
                  <li class="inline">
                    <%= image_tag petition.picture.url, size: 50 if petition.picture? %>
                  </li>
                  <li class="inline">
                    <span class="nombres"><%= link_to petition.title, micropost_path(id: petition) %></b></span>
                  </li>
                  <li class="right" style="padding-top: 10px;">
                  </li>
                </ul>
              </li>
            <% end %>
          <% end %>
        </ul>
      </div>

      <div class="aside_content">
        <ul class="principal">
          <li class="titulo">
            Iniciativas que rechaza <%= @user.name %>
          </li>
          <% @votos = Vote.where(:user_id => @user.id).where(dislike: 1) %>
          <% @votos.each do |voto| %>
            <% @peticiones_votadas = @peticiones_all.where(id: voto.micropost_id) %>
            <% @peticiones_votadas.take(5).each do |petition| %>
              <li class="lista_block">
                <ul class="inline">
                  <li class="inline">
                    <%= image_tag petition.picture.url, size: 50 if petition.picture? %>
                  </li>
                  <li class="inline">
                    <span class="nombres"><%= link_to petition.title, micropost_path(id: petition) %></b></span>
                  </li>
                  <li class="right" style="padding-top: 10px;">
                  </li>
                </ul>
              </li>
            <% end %>
          <% end %>
        </ul>
      </div>

      <div class="aside_content">
        <ul class="principal">
          <li class="titulo">
            Círculos en los que participa <%= @user.name %>
          </li>
          <% @plazas_grupos.each do |grupo| %>
            <% @plaza_seguida = Plaza.where(:id => grupo.plaza_id) %>
            <% @plaza_seguida.each do |plaza| %>
              <li class="lista_block">
                <ul class="inline">
                  <li class="inline">
                    <%= image_tag plaza.foto.url, class: "img-circle", size: 55 if plaza.foto? %>
                  </li>
                  <li class="inline">
                    <span class="nombres" style="width: 100%;"><%= link_to plaza.name, user_plaza_path(id: plaza.id, user_id: current_user.id) %></b></span>
                  </li>
                </ul>
              </li>
            <% end %>
          <% end %>
        </ul>
      </div>

    </div>
  </div>
</div>