<div class="campos" style="margin-top: 0px;">

  <div class="iconos_inicio">
    <% if logged_in? %>
      <% if  current_user.empresa == true %>
        <h3 style="font-weight: bold; margin-top: 100px; color: #444;">Descubre lo que ConstructUX puede hacer por tu empresa</h3>
        <ul class="ofertas" style="font-family: 'Open Sans'; font-weight: 600; font-size: 16px;">
          <li>
            <%= image_tag('nueva_vivienda_pequena.jpg', size: "40", class: 'oferta_imagen' ) %> <span style="display: block; align-items: center; padding-top: 15px;">Pásate a premium
            </span>
          </li>
          <li>
            <%= image_tag('retirar_muebles.jpg', size: "40", class: 'oferta_imagen' ) %> <span style=""><span style="display: block; align-items: center; padding-top: 15px;">Publica ofertas</span></span>
            
          </li>
          <li>
            <%= image_tag('retirar_muebles.jpg', size: "40", class: 'oferta_imagen' ) %> <span style=""><span style="display: block; align-items: center; padding-top: 15px;">¿Cómo está tu empresa frente a la competencia?</span></span>
            
          </li>                 
        </ul>
      <% else %>
        <h3 style="font-weight: bold; margin-top: 100px; color: #444;">Descubre lo que ConstructUX puede hacer por tu reforma:</h3>
        <ul class="ofertas" style="font-family: 'Open Sans'; font-weight: 600; font-size: 16px;">
          <li>
            <%= image_tag('nueva_vivienda_pequena.jpg', size: "40", class: 'oferta_imagen' ) %> <span>Presupuestos</span>
          </li>
          <li>
            <%= image_tag('retirar_muebles.jpg', size: "40", class: 'oferta_imagen' ) %> <span>Diseño</span>
          </li>
          <li>
            <%= image_tag('nuevos_materiales.jpg', size: "40", class: 'oferta_imagen' ) %> <span>Materiales</span>
          </li>                 
        </ul>  
      <% end %>
    <% else %>
      <h3 style="font-weight: bold; margin-top: 100px; color: #444;">Descubre lo que ConstructUX puede hacer por tu reforma:</h3>
        <ul class="ofertas" style="font-family: 'Open Sans'; font-weight: 600; font-size: 16px;">
          <li>
            <%= image_tag('nueva_vivienda_pequena.jpg', size: "40", class: 'oferta_imagen' ) %> <span>Presupuestos</span>
          </li>
          <li>
            <%= image_tag('retirar_muebles.jpg', size: "40", class: 'oferta_imagen' ) %> <span>Diseño</span>
          </li>
          <li>
            <%= image_tag('nuevos_materiales.jpg', size: "40", class: 'oferta_imagen' ) %> <span>Materiales</span>
          </li>                 
        </ul> 
    <% end %>
  </div>         

<%
=begin%>
            <% if Partida.all.any? %>
                <% @partidas = Partida.where.not(empresa: nil) %>
                <h3 style="font-weight: bold;">Ofertas para tí</h3>
                <ul class="lista_principal" style="">
                    <% @partidas.take(10).map do |partida| %>
                      <li class="lista_oferta" style="width: 23%; margin: 5px;">
                        <ul class="elemento" style=" font-family: 'Open Sans'; width: 230px; margin: 5px;">
                          <%= link_to partida_path(partida) do %>
                            <li>
                              <div class="card mb-3" style="">
                                <div class="card2" style="overflow-x: hidden; overflow-y: hidden; height: 150px; border-radius: 10px;">
                                  <div class="img_prueba" style="position: relative; display: inline-block; bottom: -50%; right: -50%;">
                                    <% if partida.foto? %>
                                      <%= image_tag(partida.foto.url, class: "img_prueba") %>
                                    <% else %>
                                      <%= image_tag(("partida_default.jpg"), class: "img_prueba") %>
                                    <% end %>
                                  </div>
                                </div>
                              </div>
                            
                          </li>
                          <div class="texto" style="">
                            <li class="nombre">
                              <div class="nombre">
                                  <button type="button" class="btn btn-sm btn-info" style="background-color: white; border: 1px solid grey;" ><i class="fa fa-info" aria-hidden="true" style="color: grey;"></i></button>
                                  <%= partida.titulo if partida.titulo != nil %>
                              </div>
                            </li>
                            <li>
                              <div class="description" style="height: 80px; overflow: hidden;"><h5><%= partida.description if partida.description != nil %></h5> </div>
                            </li>
                            <li class="empresa" style="padding-left: 0px;">
                              <% if partida.empresa != nil %>
                                <% @empresa = Empresa.find( partida.empresa) %>
                                <% @user_empresa = User.find(@empresa.user_id) %>
                              <% end %>
                              <span style="display: block; font-weight: 600;"><%= @user_empresa.name %></span>
                              <span class="stars" style="display: block; padding-bottom: 10px;font-weight: 600; color: #008489 !important;"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i> 0 valoraciones</span>
                            </li>                           
                            <li class="precio_oferta" style="padding-left: 0px;">
                              <span style="font-size: 14px; padding-top: 10px;">Presupuesto: <span style="font-size: 16px;"><b><%= partida.importe if partida.importe != nil %> €/<%= partida.um if partida.um %></b></span></span>
                            </li>
                            <li>
                              <h5 style="font-weight: 300; color: grey;"></h5>
                            </li>
                            <% end %>
                            <li class="iconos">
                              <button type="button" class="btn btn-sm btn-info" data-toggle="popover" title="Tiempo" data-content="<%= partida.rendimiento if partida.rendimiento != nil %> h/<%= partida.um %>" style="background-color: white; border: none; padding: 5px 5px;" ><i class="fa fa-clock-o" aria-hidden="true" style="color: #d9534f;"></i></button>

                              <button type="button" class="btn btn-sm btn-info" data-toggle="popover" title="Mano de Obra" data-content="<%= partida.man_obra if partida.man_obra != nil %>" style="border: none; background-color: white; border: none; padding: 5px 5px;" ><i class="fa fa-users" aria-hidden="true" style="color: #d9534f;"></i></button>
                              
                              <button type="button" class="btn btn-sm btn-info" data-toggle="popover" title="Material incluido" data-content="<%= partida.mat_incluidos if partida.mat_incluidos != nil %>" style="border: none; background-color: white; border: none; padding: 5px 5px;" ><i class="fa fa-briefcase" aria-hidden="true" style="color: #d9534f;"></i></button>

                              <button type="button" class="btn btn-sm btn-info" data-toggle="popover" title="Fases" data-content="<%= partida.fases if partida.fases != nil %>" style="border: none; background-color: white; border: none;" ><i class="fa fa-info-circle" aria-hidden="true" style="color: #d9534f;"></i></button>

                              <button type="button" class="btn btn-sm btn-info" data-toggle="popover" title="Cond. Terminación" data-content="<%= partida.cond_terminacion if partida.cond_terminacion != nil %>" style="border: none; background-color: white; border: none; padding: 5px 5px;" ><i class="fa fa-info-circle" aria-hidden="true" style="color: #d9534f;"></i></button>

                              <% if partida.mat_aportar != nil %>
                              <div style="float: right;">
                                  <button type="button" class="btn btn-sm btn-info" data-toggle="popover" title="Aportar" data-content="<%= partida.mat_aportar if partida.mat_aportar != nil %>" data-placement="left" style="background-color: white; border: 1px solid #d9534f; padding: 5px 5px;" ><i class="fa fa-briefcase" aria-hidden="true" style="color: #d9534f;"><i class="fa fa-plus" aria-hidden="true" style="color: #d9534f;"></i></i></button>
                              </div>
                              <% end %>
                            </li>
                          </div>
                        </ul>
                      </li>                      
                    <% end %>        
                </ul>

            <% end %>  
<%
=end%> 

          <% @ofertas_partidas = Partida.all %>
          <% if @ofertas_partidas.where.not(empresa: nil).any? %>
            <h3 style="font-weight: bold;">Ofertas para tí</h3>
            <ul class="lista_principal" style="">
                <% @ofertas_partidas.where.not(empresa: nil).order("created_at DESC").take(8).map do |partida| %>
                  <li class="lista_oferta" style="width: 23%; margin: 5px;">
                    <ul class="elemento" style=" font-family: 'Open Sans'; width: 230px; margin: 5px;">
                      <%= link_to partida_path(partida) do %>
                        <li>
                          <div class="card mb-3" style="">
                            <div class="card2" style="overflow-x: hidden; overflow-y: hidden; height: 150px; border-radius: 10px;">
                              <div class="img_prueba" style="position: relative; display: inline-block; bottom: -50%; right: -50%;">
                                <% if partida.foto? %>
                                  <%= image_tag(partida.foto.url, class: "img_prueba") %>
                                <% else %>
                                  <%= image_tag(("partida_default.jpg"), class: "img_prueba") %>
                                <% end %>
                              </div>
                            </div>
                          </div>
                        
                      </li>
                      <div class="texto" style="">
                        <li class="nombre">
                          <div class="nombre">
                              <button type="button" class="btn btn-sm btn-info" style="background-color: white; border: 1px solid grey;" ><i class="fa fa-info" aria-hidden="true" style="color: grey;"></i></button>
                              <%= partida.titulo if partida.titulo != nil %>
                          </div>
                        </li>
                        <li>
                          <div class="description" style="height: 80px; overflow: hidden;"><h5><%= partida.description if partida.description != nil %></h5> </div>
                        </li>
                        <li class="empresa" style="padding-left: 0px;">
                          <% if partida.empresa != nil %>
                            <% @empresa = Empresa.find( partida.empresa) %>
                            <% @user_empresa = User.find(@empresa.user_id) %>
                          <% end %>
                          <span style="display: block; font-weight: 600;"><%= @user_empresa.name %></span>
                          <span class="stars" style="display: block; padding-bottom: 10px;font-weight: 600; color: #008489 !important;"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i> 0 valoraciones</span>
                        </li>                           
                        <li class="precio_oferta" style="padding-left: 0px;">
                          <span style="font-size: 14px; padding-top: 10px;">Presupuesto: <span style="font-size: 16px;"><b><%= partida.importe if partida.importe != nil %> €/<%= partida.um if partida.um %></b></span></span>
                        </li>
                        <li>
                          <h5 style="font-weight: 300; color: grey;"></h5>
                        </li>
                        <% end %>
                        <li class="iconos">
                          <button type="button" class="btn btn-sm btn-info" data-toggle="popover" title="Tiempo" data-content="<%= partida.rendimiento if partida.rendimiento != nil %> h/<%= partida.um %>" style="background-color: white; border: none; padding: 5px 5px;" ><i class="far fa-clock" aria-hidden="true" style="color: #d9534f;"></i></button>

                          <button type="button" class="btn btn-sm btn-info" data-toggle="popover" title="Mano de Obra" data-content="<%= partida.man_obra if partida.man_obra != nil %>" style="border: none; background-color: white; border: none; padding: 5px 5px;" ><i class="fa fa-users" aria-hidden="true" style="color: #d9534f;"></i></button>
                          
                          <button type="button" class="btn btn-sm btn-info" data-toggle="popover" title="Material incluido" data-content="<%= partida.mat_incluidos if partida.mat_incluidos != nil %>" style="border: none; background-color: white; border: none; padding: 5px 5px;" ><i class="fa fa-briefcase" aria-hidden="true" style="color: #d9534f;"></i></button>

                          <button type="button" class="btn btn-sm btn-info" data-toggle="popover" title="Fases" data-content="<%= partida.fases if partida.fases != nil %>" style="border: none; background-color: white; border: none;" ><i class="fa fa-info-circle" aria-hidden="true" style="color: #d9534f;"></i></button>

                          <button type="button" class="btn btn-sm btn-info" data-toggle="popover" title="Cond. Terminación" data-content="<%= partida.cond_terminacion if partida.cond_terminacion != nil %>" style="border: none; background-color: white; border: none; padding: 5px 5px;" ><i class="fa fa-info-circle" aria-hidden="true" style="color: #d9534f;"></i></button>

                          <% if partida.mat_aportar != nil %>
                          <div style="float: right;">
                              <button type="button" class="btn btn-sm btn-info" data-toggle="popover" title="Aportar" data-content="<%= partida.mat_aportar if partida.mat_aportar != nil %>" data-placement="left" style="background-color: white; border: 1px solid #d9534f; padding: 5px 5px;" ><i class="fa fa-briefcase" aria-hidden="true" style="color: #d9534f;"><i class="fa fa-plus" aria-hidden="true" style="color: #d9534f;"></i></i></button>
                          </div>
                          <% end %>
                        </li>
                      </div>
                    </ul>
                  </li>                      
                <% end %>        
            </ul>
          <% end %>


    <h3 style="font-weight: bold; margin-top: 50px; color: #444;">Propuestas destacadas:</h3>
    <ul class="lista_principal" style="">

        <li class="lista_oferta">
            <ul class="elemento">
                <% @task = Task.find_by(task: 'alb_baldosa') %>
                <li>
                  <div class="card mb-3" style="width: 210px; border: 1px solid #ddd; border-radius: 5px; display: block; border-radius: 10px;">
                    <div class="" style="overflow-x: hidden; overflow-y: hidden; height: 150px; border-radius: 10px;">
                      <div class="img_prueba" style="position: relative; display: inline-block; bottom: -50%; right: -50%;">                      
                        <%= image_tag(('colocar_baldosa.jpg'), class: "img_prueba", style: "border-radius: 5px;") %>
                      </div>
                    </div>
                  </div>
                </li>
              <li class="nombre">
                <div class="nombre">
                    <button type="button" class="btn btn-sm btn-info" data-toggle="popover" title=" <%= @task.nombre if @task.nombre != nil %>" data-content="<%= @task.desc_tecnica %>" style="background-color: white; border: 1px solid grey;" ><i class="fa fa-info" aria-hidden="true" style="color: grey;"></i></button>
                    <%= @task.nombre if @task.nombre != nil %>
                </div>
              </li>
              <li>
                <div class="description" style="padding-top: 5px;"><span><%= @task.description if @task.description != nil %></span> </div>
              </li>
              <li class="empresa" style="padding-left: 0px;">
                <span style="display: block;">Empresa Roberto construcciones y reformas</span>
                <span class="stars" style="display: block; padding-bottom: 10px;font-weight: 600; color: #008489 !important;"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i> 33 valoraciones</span>
              </li>                
              <li class="precio_oferta" style="padding-left: 0px;">
                <span style="font-size: 14px; padding-top: 10px;">presupuesto: <span style="font-size: 16px;"><b><%= @task.importe if @task.importe != nil %> €/<%= @task.um %></b></span></span>
              </li>
                <li class="iconos">
                  <span style="color: #d9534f; font-size: 13px; font-weight: 400;">Info para tu reforma:</span>
                    <button type="button" class="btn btn-sm btn-info" data-toggle="popover" title="Tiempo" data-content="<%= @task.rendimiento if @task.rendimiento != nil %> h/<%= @task.um %>" style="background-color: white; border: none;" ><i class="glyphicon glyphicon-time" aria-hidden="true" style="color: #d9534f; font-size: 15px;"></i></button>

                    <button type="button" class="btn btn-sm btn-info" data-toggle="popover" title="Mano de Obra" data-content="<%= @task.man_obra if @task.man_obra != nil %>" style="border: none; background-color: white; border: none;" ><i class="fa fa-users" aria-hidden="true" style="color: #d9534f;"></i></button>
                    
                    <button type="button" class="btn btn-sm btn-info" data-toggle="popover" title="Material incluido" data-content="<%= @task.mat_incluido if @task.mat_incluido != nil %>" style="border: none; background-color: white; border: none;" ><i class="fa fa-briefcase" aria-hidden="true" style="color: #d9534f;"></i></button>

                    <button type="button" class="btn btn-sm btn-info" data-toggle="popover" title="Fases" data-content="<%= @task.fases if @task.fases != nil %>" style="border: none; background-color: white; border: none;" ><i class="fa fa-info-circle" aria-hidden="true" style="color: #d9534f;"></i></button>

                    <button type="button" class="btn btn-sm btn-info" data-toggle="popover" title="Cond. Terminación" data-content="<%= @task.cond_terminacion if @task.cond_terminacion != nil %>" style="border: none; background-color: white; border: none;" ><i class="fa fa-info-circle" aria-hidden="true" style="color: #d9534f;"></i></button>

                    <% if @task.mat_aportar != nil %>
                    <div style="float: right;">
                        <button type="button" class="btn btn-sm btn-info" data-toggle="popover" title="Aportar" data-content="<%= @task.mat_aportar if @task.mat_aportar != nil %>" data-placement="left" style="background-color: white; border: 1px solid #d9534f;" ><i class="fa fa-briefcase" aria-hidden="true" style="color: #d9534f;"><i class="fa fa-plus" aria-hidden="true" style="color: #d9534f;"></i></i></button>
                    </div>
                    <% end %>
                </li>
            </ul>
        </li>

        <li class="lista_oferta">
            <ul class="elemento">
                <% @task = Task.find_by(task: 'alb_tabique_pladur') %>
                <li>
                  <div class="card mb-3" style="width: 210px; border: 1px solid #ddd; border-radius: 5px; display: block; border-radius: 10px;">
                    <div class="" style="overflow-x: hidden; overflow-y: hidden; height: 150px; border-radius: 10px;">
                      <div class="img_prueba" style="position: relative; display: inline-block; bottom: -50%; right: -50%;">                      
                        <%= image_tag(('pared_pladur.jpg'), class: "img_prueba") %>
                      </div>
                    </div>
                  </div>
                </li>
              <li class="nombre">
                <div class="nombre">
                    <button type="button" class="btn btn-sm btn-info" data-toggle="popover" title=" <%= @task.nombre if @task.nombre != nil %>" data-content="<%= @task.desc_tecnica %>" style="background-color: white; border: 1px solid grey;" ><i class="fa fa-info" aria-hidden="true" style="color: grey;"></i></button>
                    <%= @task.nombre if @task.nombre != nil %>
                </div>
              </li>
              <li>
                <div class="description" style="padding-top: 5px;"><span><%= @task.description if @task.description != nil %></span> </div>
              </li>
              <li class="empresa" style="padding-left: 0px;">
                <span style="display: block;">Empresa SOLIMPLA Construcciones y Reformas</span>
                <span class="stars" style="display: block; padding-bottom: 10px;font-weight: 600; color: #008489 !important;"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i> 13 valoraciones</span>
              </li>                
              <li class="precio_oferta" style="padding-left: 0px;">
                <span style="font-size: 14px; padding-top: 10px;">presupuesto: <span style="font-size: 16px;"><b><%= @task.importe if @task.importe != nil %> €/<%= @task.um %></b></span></span>
              </li>
                <li class="iconos">
                  <span style="color: #d9534f; font-size: 13px; font-weight: 400;">Info para tu reforma:</span>
                    <button type="button" class="btn btn-sm btn-info" data-toggle="popover" title="Tiempo" data-content="<%= @task.rendimiento if @task.rendimiento != nil %> h/<%= @task.um %>" style="background-color: white; border: none;" ><i class="glyphicon glyphicon-time" aria-hidden="true" style="color: #d9534f; font-size: 15px;"></i></button>

                    <button type="button" class="btn btn-sm btn-info" data-toggle="popover" title="Mano de Obra" data-content="<%= @task.man_obra if @task.man_obra != nil %>" style="border: none; background-color: white; border: none;" ><i class="fa fa-users" aria-hidden="true" style="color: #d9534f;"></i></button>
                    
                    <button type="button" class="btn btn-sm btn-info" data-toggle="popover" title="Material incluido" data-content="<%= @task.mat_incluido if @task.mat_incluido != nil %>" style="border: none; background-color: white; border: none;" ><i class="fa fa-briefcase" aria-hidden="true" style="color: #d9534f;"></i></button>

                    <button type="button" class="btn btn-sm btn-info" data-toggle="popover" title="Fases" data-content="<%= @task.fases if @task.fases != nil %>" style="border: none; background-color: white; border: none;" ><i class="fa fa-info-circle" aria-hidden="true" style="color: #d9534f;"></i></button>

                    <button type="button" class="btn btn-sm btn-info" data-toggle="popover" title="Cond. Terminación" data-content="<%= @task.cond_terminacion if @task.cond_terminacion != nil %>" style="border: none; background-color: white; border: none;" ><i class="fa fa-info-circle" aria-hidden="true" style="color: #d9534f;"></i></button>

                    <% if @task.mat_aportar != nil %>
                    <div style="float: right;">
                        <button type="button" class="btn btn-sm btn-info" data-toggle="popover" title="Aportar" data-content="<%= @task.mat_aportar if @task.mat_aportar != nil %>" data-placement="left" style="background-color: white; border: 1px solid #d9534f;" ><i class="fa fa-briefcase" aria-hidden="true" style="color: #d9534f;"><i class="fa fa-plus" aria-hidden="true" style="color: #d9534f;"></i></i></button>
                    </div>
                    <% end %>
                </li>
            </ul>
        </li>          

        <li class="lista_oferta">
            <ul class="elemento">
                <% @task = Task.find_by(task: 'demo_quitar_mobi_cocina') %>
                <li>
                  <div class="card mb-3" style="width: 210px; border: 1px solid #ddd; border-radius: 5px; display: block;  border-radius: 10px;">
                    <div class="" style="overflow-x: hidden; overflow-y: hidden; height: 150px; border-radius: 10px;">
                      <div class="img_prueba" style="position: relative; display: inline-block; bottom: -50%; right: -50%;">                      
                        <%= image_tag(('retirar_mobiliario_cocina.jpg'), class: "img_prueba") %>
                      </div>
                    </div>
                  </div>
                </li>
              <li class="nombre">
                <div class="nombre">
                    <button type="button" class="btn btn-sm btn-info" data-toggle="popover" title=" <%= @task.nombre if @task.nombre != nil %>" data-content="<%= @task.desc_tecnica %>" style="background-color: white; border: 1px solid grey;" ><i class="fa fa-info" aria-hidden="true" style="color: grey;"></i></button>
                    <%= @task.nombre if @task.nombre != nil %>
                </div>
              </li>
              <li>
                <div class="description" style="padding-top: 5px;"><span><%= @task.description if @task.description != nil %></span> </div>
              </li>
              <li class="empresa" style="padding-left: 0px;">
                <span style="display: block;">Empresa Roberto construcciones y reformas</span>
                <span class="stars" style="display: block; padding-bottom: 10px;font-weight: 600; color: #008489 !important;"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i> 27 valoraciones</span>
              </li>                
              <li class="precio_oferta" style="padding-left: 0px;">
                <span style="font-size: 14px; padding-top: 10px;">presupuesto: <span style="font-size: 16px;"><b><%= @task.importe if @task.importe != nil %> €/<%= @task.um %></b></span></span>
              </li>
                <li class="iconos">
                  <span style="color: #d9534f; font-size: 13px; font-weight: 400;">Info para tu reforma:</span>
                    <button type="button" class="btn btn-sm btn-info" data-toggle="popover" title="Tiempo" data-content="<%= @task.rendimiento if @task.rendimiento != nil %> h/<%= @task.um %>" style="background-color: white; border: none;" ><i class="glyphicon glyphicon-time" aria-hidden="true" style="color: #d9534f; font-size: 15px;"></i></button>

                    <button type="button" class="btn btn-sm btn-info" data-toggle="popover" title="Mano de Obra" data-content="<%= @task.man_obra if @task.man_obra != nil %>" style="border: none; background-color: white; border: none;" ><i class="fa fa-users" aria-hidden="true" style="color: #d9534f;"></i></button>
                    
                    <button type="button" class="btn btn-sm btn-info" data-toggle="popover" title="Material incluido" data-content="<%= @task.mat_incluido if @task.mat_incluido != nil %>" style="border: none; background-color: white; border: none;" ><i class="fa fa-briefcase" aria-hidden="true" style="color: #d9534f;"></i></button>

                    <button type="button" class="btn btn-sm btn-info" data-toggle="popover" title="Fases" data-content="<%= @task.fases if @task.fases != nil %>" style="border: none; background-color: white; border: none;" ><i class="fa fa-info-circle" aria-hidden="true" style="color: #d9534f;"></i></button>

                    <button type="button" class="btn btn-sm btn-info" data-toggle="popover" title="Cond. Terminación" data-content="<%= @task.cond_terminacion if @task.cond_terminacion != nil %>" style="border: none; background-color: white; border: none;" ><i class="fa fa-info-circle" aria-hidden="true" style="color: #d9534f;"></i></button>

                    <% if @task.mat_aportar != nil %>
                    <div style="float: right;">
                        <button type="button" class="btn btn-sm btn-info" data-toggle="popover" title="Aportar" data-content="<%= @task.mat_aportar if @task.mat_aportar != nil %>" data-placement="left" style="background-color: white; border: 1px solid #d9534f;" ><i class="fa fa-briefcase" aria-hidden="true" style="color: #d9534f;"><i class="fa fa-plus" aria-hidden="true" style="color: #d9534f;"></i></i></button>
                    </div>
                    <% end %>
                </li>
            </ul>
        </li>

        <li class="lista_oferta">
            <ul class="elemento">
                <% @task = Task.find_by(task: 'alb_tabique_fabrica') %>
                <li>
                  <div class="card mb-3" style="width: 210px; border: 1px solid #ddd; border-radius: 5px; display: block; border-radius: 10px;">
                    <div class="" style="overflow-x: hidden; overflow-y: hidden; height: 150px; border-radius: 10px;">
                      <div class="img_prueba" style="position: relative; display: inline-block; bottom: -50%; right: -50%;">                      
                        <%= image_tag(('tabique_fabrica.jpg'), class: "img_prueba") %>
                      </div>
                    </div>
                  </div>
                </li>
              <li class="nombre">
                <div class="nombre">
                    <button type="button" class="btn btn-sm btn-info" data-toggle="popover" title=" <%= @task.nombre if @task.nombre != nil %>" data-content="<%= @task.desc_tecnica %>" style="background-color: white; border: 1px solid grey;" ><i class="fa fa-info" aria-hidden="true" style="color: grey;"></i></button>
                    <%= @task.nombre if @task.nombre != nil %>
                </div>
              </li>
              <li>
                <div class="description" style="padding-top: 5px;"><span><%= @task.description if @task.description != nil %></span> </div>
              </li>
              <li class="empresa" style="padding-left: 0px;">
                <span style="display: block;">Empresa SOLIMPLA Construcciones y reformas</span>
                <span class="stars" style="display: block; padding-bottom: 10px;font-weight: 600; color: #008489 !important;"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i> 59 valoraciones</span>
              </li>                
              <li class="precio_oferta" style="padding-left: 0px;">
                <span style="font-size: 14px; padding-top: 10px;">presupuesto: <span style="font-size: 16px;"><b><%= @task.importe if @task.importe != nil %> €/<%= @task.um %></b></span></span>
              </li>
                <li class="iconos">
                  <span style="color: #d9534f; font-size: 13px; font-weight: 400;">Info para tu reforma:</span>
                    <button type="button" class="btn btn-sm btn-info" data-toggle="popover" title="Tiempo" data-content="<%= @task.rendimiento if @task.rendimiento != nil %> h/<%= @task.um %>" style="background-color: white; border: none;" ><i class="glyphicon glyphicon-time" aria-hidden="true" style="color: #d9534f; font-size: 15px;"></i></button>

                    <button type="button" class="btn btn-sm btn-info" data-toggle="popover" title="Mano de Obra" data-content="<%= @task.man_obra if @task.man_obra != nil %>" style="border: none; background-color: white; border: none;" ><i class="fa fa-users" aria-hidden="true" style="color: #d9534f;"></i></button>
                    
                    <button type="button" class="btn btn-sm btn-info" data-toggle="popover" title="Material incluido" data-content="<%= @task.mat_incluido if @task.mat_incluido != nil %>" style="border: none; background-color: white; border: none;" ><i class="fa fa-briefcase" aria-hidden="true" style="color: #d9534f;"></i></button>

                    <button type="button" class="btn btn-sm btn-info" data-toggle="popover" title="Fases" data-content="<%= @task.fases if @task.fases != nil %>" style="border: none; background-color: white; border: none;" ><i class="fa fa-info-circle" aria-hidden="true" style="color: #d9534f;"></i></button>

                    <button type="button" class="btn btn-sm btn-info" data-toggle="popover" title="Cond. Terminación" data-content="<%= @task.cond_terminacion if @task.cond_terminacion != nil %>" style="border: none; background-color: white; border: none;" ><i class="fa fa-info-circle" aria-hidden="true" style="color: #d9534f;"></i></button>

                    <% if @task.mat_aportar != nil %>
                    <div style="float: right;">
                        <button type="button" class="btn btn-sm btn-info" data-toggle="popover" title="Aportar" data-content="<%= @task.mat_aportar if @task.mat_aportar != nil %>" data-placement="left" style="background-color: white; border: 1px solid #d9534f;" ><i class="fa fa-briefcase" aria-hidden="true" style="color: #d9534f;"><i class="fa fa-plus" aria-hidden="true" style="color: #d9534f;"></i></i></button>
                    </div>
                    <% end %>
                </li>
            </ul>
        </li>          


        <li class="lista_oferta">
            <ul class="elemento">
                <% @task = Task.find_by(task: 'demo_retir_electrodomesticos') %>
                <li>
                  <div class="card mb-3" style="width: 210px; border: 1px solid #ddd; border-radius: 5px; display: block; border-radius: 10px;">
                    <div class="" style="overflow-x: hidden; overflow-y: hidden; height: 150px; border-radius: 10px;">
                      <div class="img_prueba" style="position: relative; display: inline-block; bottom: -50%; right: -50%;">                      
                        <%= image_tag(('retirar_electrodomesticos.jpg'), class: "img_prueba") %>
                      </div>
                    </div>
                  </div>
                </li>
              <li class="nombre">
                <div class="nombre">
                    <button type="button" class="btn btn-sm btn-info" data-toggle="popover" title=" <%= @task.nombre if @task.nombre != nil %>" data-content="<%= @task.desc_tecnica %>" style="background-color: white; border: 1px solid grey;" ><i class="fa fa-info" aria-hidden="true" style="color: grey;"></i></button>
                    <%= @task.nombre if @task.nombre != nil %>
                </div>
              </li>
              <li>
                <div class="description" style="padding-top: 5px;"><span><%= @task.description if @task.description != nil %></span> </div>
              </li>
              <li class="empresa" style="padding-left: 0px;">
                <span style="display: block;">Empresa Roberto construcciones y reformas</span>
                <span class="stars" style="display: block; padding-bottom: 10px;font-weight: 600; color: #008489 !important;"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i> 89 valoraciones</span>
              </li>                
              <li class="precio_oferta" style="padding-left: 0px;">
                <span style="font-size: 14px; padding-top: 10px;">presupuesto: <span style="font-size: 16px;"><b><%= @task.importe if @task.importe != nil %> €/<%= @task.um %></b></span></span>
              </li>
                <li class="iconos">
                  <span style="color: #d9534f; font-size: 13px; font-weight: 400;">Info para tu reforma:</span>
                    <button type="button" class="btn btn-sm btn-info" data-toggle="popover" title="Tiempo" data-content="<%= @task.rendimiento if @task.rendimiento != nil %> h/<%= @task.um %>" style="background-color: white; border: none;" ><i class="glyphicon glyphicon-time" aria-hidden="true" style="color: #d9534f; font-size: 15px;"></i></button>

                    <button type="button" class="btn btn-sm btn-info" data-toggle="popover" title="Mano de Obra" data-content="<%= @task.man_obra if @task.man_obra != nil %>" style="border: none; background-color: white; border: none;" ><i class="fa fa-users" aria-hidden="true" style="color: #d9534f;"></i></button>
                    
                    <button type="button" class="btn btn-sm btn-info" data-toggle="popover" title="Material incluido" data-content="<%= @task.mat_incluido if @task.mat_incluido != nil %>" style="border: none; background-color: white; border: none;" ><i class="fa fa-briefcase" aria-hidden="true" style="color: #d9534f;"></i></button>

                    <button type="button" class="btn btn-sm btn-info" data-toggle="popover" title="Fases" data-content="<%= @task.fases if @task.fases != nil %>" style="border: none; background-color: white; border: none;" ><i class="fa fa-info-circle" aria-hidden="true" style="color: #d9534f;"></i></button>

                    <button type="button" class="btn btn-sm btn-info" data-toggle="popover" title="Cond. Terminación" data-content="<%= @task.cond_terminacion if @task.cond_terminacion != nil %>" style="border: none; background-color: white; border: none;" ><i class="fa fa-info-circle" aria-hidden="true" style="color: #d9534f;"></i></button>

                    <% if @task.mat_aportar != nil %>
                    <div style="float: right;">
                        <button type="button" class="btn btn-sm btn-info" data-toggle="popover" title="Aportar" data-content="<%= @task.mat_aportar if @task.mat_aportar != nil %>" data-placement="left" style="background-color: white; border: 1px solid #d9534f;" ><i class="fa fa-briefcase" aria-hidden="true" style="color: #d9534f;"><i class="fa fa-plus" aria-hidden="true" style="color: #d9534f;"></i></i></button>
                    </div>
                    <% end %>
                </li>
            </ul>
        </li>
    </ul>

    <h3 style="font-weight: bold; margin-top: 50px; color: #444;">Productos seleccionados</h3>
    <h4>    
      <ul class="lista_principal" style="">
        <li class="lista_oferta" style=" ">
            <ul class="elemento" id="quitar_azulejo" style="">
                <% @task = Task.find_by(task: 'demo_quitar_azulejo') %>
              <li>
                  <div class="card mb-3" style="width: 210px; border: 1px solid #ddd; border-radius: 5px; display: block; border-radius: 10px;">
                    <div class="" style="overflow-x: hidden; overflow-y: hidden; height: 150px; border-radius: 10px;">
                      <div class="img_prueba" style="position: relative; display: inline-block; bottom: -50%; right: -50%;">                  
                    <%= image_tag(('quitar_azulejo.jpg'), class: "img_prueba") %>
                  </div>
                </div>
              </div>
              </li>
              <li class="nombre">
                <div class="nombre" style="">
                    <button type="button" class="btn btn-sm btn-info" style="background-color: white; border: 1px solid grey;" ><i class="fa fa-info" aria-hidden="true" style="color: grey;"></i></button>
                    <span>Revestimientos interiores 3form</span>
                </div>
              </li>
              <li>
                <div class="description" style="padding-top: 5px;"><span>Permite destacar los espacios mediante la traslucidez de los diversos elementos encapsulados que lo caracterizan, teniendo como resultado un producto de alto impacto visual, especialmente en oficinas. Su particularidad es crear instalaciones bien iluminadas que a su vez, otorgan la privacidad necesaria para los distintos espacios. En estos casos se incorporan diseños orgánicos generando ambientes cálidos, luminosos con una propuesta única e innovadora.</span> </div>
              </li>
              <li class="empresa" style="padding-left: 0px;">
                <span style="display: block;">Hunter Douglas</span>
                <span class="stars" style="display: block; padding-bottom: 10px;font-weight: 600; color: #008489 !important;"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="far fa-star"></i> 16 valoraciones</span>
              </li>
              <li class="precio_oferta" style="padding-left: 0px;">
                <span style="font-size: 14px; padding-top: 10px;">presupuesto: <span style="font-size: 16px;"><b><%= @task.importe if @task.importe != nil %> €/<%= @task.um %></b></span></span>
              </li>
            </ul>
        </li>

        <li class="lista_oferta" style="">
            <ul class="elemento" style="">
                <% @task = Task.find_by(task: 'demo_quitar_baldosa') %>
              <li>
                  <div class="card mb-3" style="width: 210px; border: 1px solid #ddd; border-radius: 5px; display: block; border-radius: 10px;">
                    <div class="" style="overflow-x: hidden; overflow-y: hidden; height: 150px; border-radius: 10px;">
                      <div class="img_prueba" style="position: relative; display: inline-block; bottom: -50%; right: -50%;">                  
                    <%= image_tag(('wc_gino_bd.jpg'), class: "img_prueba") %>
                  </div>
                </div>
              </div>
              </li>
              <li class="nombre">
                <div class="nombre">
                    <button type="button" class="btn btn-sm btn-info" style="background-color: white; border: 1px solid grey;" ><i class="fa fa-info" aria-hidden="true" style="color: grey;"></i></button>
                    PACK WC "Ginos"
                </div>
              </li>
              <li>
                <div class="description" style="padding-top: 5px;"><span>Incluye tanque, inodoro y tapa con cierre amortiguado. Salida dual.</span> </div>
              </li>
              <li class="empresa" style="padding-left: 0px;">
                <span style="display: block;">Brico Depot Getafe</span>
                <span class="stars" style="display: block; padding-bottom: 10px;font-weight: 600; color: #008489 !important;"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i> 22 valoraciones</span>
              </li>                
              <li class="precio_oferta" style="padding-left: 0px;">
                <span style="font-size: 14px; padding-top: 10px;">presupuesto: <span style="font-size: 16px;"><b>129 €/ud</b></span></span>
              </li>
            </ul>        
        </li>

        <li class="lista_oferta" style="">
            <ul class="elemento" style="">
                <% @task = Task.find_by(task: 'demo_quitar_falso_techo') %>
              <li class="">
                  <div class="card mb-3" style="width: 210px; border: 1px solid #ddd; border-radius: 5px; display: block; border-radius: 10px;">
                    <div class="" style="overflow-x: hidden; overflow-y: hidden; height: 150px; border-radius: 10px;">
                      <div class="img_prueba" style="position: relative; display: inline-block; bottom: -50%; right: -50%;">                  
                    <%= image_tag(('lama_vinilo_roble.jpg') , class: "img_prueba")%>
                  </div>
                </div>
              </div>
              </li>
              <li class="nombre">
                <div class="nombre">
                    <button type="button" class="btn btn-sm btn-info"  style="background-color: white; border: 1px solid grey;" ><i class="fa fa-info" aria-hidden="true" style="color: grey;"></i></button>
                    LAMA DE VINILO CLICK ROBLE NATURAL
                </div>
              </li>
              <li>
                <div class="description" style="padding-top: 5px;"><span>Lama 122 x 18 cm. Espesor 4,3 mm y capa de uso 0,33 mm. Color roble natural. Vendido en paquetes de 1,76 m2.</span> </div>
              </li>
              <li class="empresa" style="padding-left: 0px;">
                <span style="display: block;">Brico Depot</span>
                <span class="stars" style="display: block; padding-bottom: 10px;font-weight: 600; color: #008489 !important;"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i> 5 valoraciones</span>
              </li>                
              <li class="precio_oferta" style="padding-left: 0px;">
                <span style="font-size: 14px; padding-top: 10px;">presupuesto: <span style="font-size: 16px;"><b>20.95 €/m²</b></span></span>
              </li>
            </ul>        
        </li>

        <li class="lista_oferta">
            <ul class="elemento">
                <% @task = Task.find_by(task: 'demo_quitar_tabique') %>
                <li>
                  <div class="card mb-3" style="width: 210px; border: 1px solid #ddd; border-radius: 5px; display: block; border-radius: 10px;">
                    <div class="" style="overflow-x: hidden; overflow-y: hidden; height: 150px; border-radius: 10px;">
                      <div class="img_prueba" style="position: relative; display: inline-block; bottom: -50%; right: -50%;">                      
                        <%= image_tag(('oslo-pq-mobimarket.jpg'), class: "img_prueba") %>
                      </div>
                    </div>
                  </div>
                </li>
              <li class="nombre">
                <div class="nombre">
                    <button type="button" class="btn btn-sm btn-info" style="background-color: white; border: 1px solid grey;" ><i class="fa fa-info" aria-hidden="true" style="color: grey;"></i></button>
                    Aparador Vintage
                </div>
              </li>
              <li>
                <div class="description" style="padding-top: 5px;"><span>
                Esta tendencia de decoración se inspira en la estética de la década de los 50 y 60 recuperando lo mejor de esos años, pero con una mirada actual y contemporánea. El aparador de 2 puertas y 3 cajones OSLO en color blanco mate con detalles en color roble patinado es un buen ejemplo de ello.Retoma las líneas cuadradas para dar forma a la estructura y eleva el conjunto con unas patas redondeadas de haya maciza. </span> </div>
              </li>
              <li class="empresa" style="padding-left: 0px;">
                <span style="display: block;">Mobimarket</span>
                <span class="stars" style="display: block; padding-bottom: 10px;font-weight: 600; color: #008489 !important;"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i> 77 valoraciones</span>
              </li>                
              <li class="precio_oferta" style="padding-left: 0px;">
                <span style="font-size: 14px; padding-top: 10px;">presupuesto: <span style="font-size: 16px;"><b>159 €/ud</b></span></span>
              </li>
            </ul>
        </li>
    </ul></h4>


    <h3 style="font-weight: bold; margin-top: 50px; color: #444;">Descubre materiales increibles</h3>
    <h4>
      <ul class="lista_principal" style="">
          <li class="lista_oferta">

              <ul class="elemento">
                  <% @task = Task.find_by(task: 'demo_quitar_bidet') %>
                  <li>
                  <div class="card mb-3" style="width: 210px; border: 1px solid #ddd; border-radius: 5px; display: block; border-radius: 10px;">
                    <div class="" style="overflow-x: hidden; overflow-y: hidden; height: 150px; border-radius: 10px;">
                      <div class="img_prueba" style="position: relative; display: inline-block; bottom: -50%; right: -50%;">                        
                          <%= image_tag(('esquina_victorian_nou.jpg'), class: "img_prueba") %>
                        </div>
                      </div>
                    </div>
                  </li>
                <li class="nombre">
                  <div class="nombre">
                      <button type="button" class="btn btn-sm btn-info" style="background-color: white; border: 1px solid grey;" ><i class="fa fa-info" aria-hidden="true" style="color: grey;"></i></button>
                      Esquina Victorian Nou (ud)
                  </div>
                </li>
                <li>
                  <div class="description" style="padding-top: 5px;"><span>La imitación de un producto hecho a mano, único e irrepetible en cada detalle, se une a la técnica y precisión de hoy. Nuevos avances capaces de reproducir el propio recuerdo, la nostalgia, el gusto y el estilo del pasado. Se combina con las bases Blancas, Gris, Azul y Rojo. (ud)</span> </div>
                </li>
                <li class="empresa" style="padding-left: 0px;">
                  <%= link_to  "https://www.paratureforma.com/esquina-victorian-nou.html" do %><span>paratureforma.com</span><% end %>
                  <span class="stars" style="display: block; padding-bottom: 10px;font-weight: 600; color: #008489 !important;"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="far fa-star"></i> 53 valoraciones</span>
                </li>                
                <li class="precio_oferta" style="padding-left: 0px;">
                  <span style="font-size: 14px; padding-top: 10px;">presupuesto: <span style="font-size: 16px;"><b>0.76 €/ud</b></span></span>
                </li>
              </ul>
          </li>
        

        
          <li class="lista_oferta">
              <ul class="elemento">
                  <% @task = Task.find_by(task: 'demo_quitar_plato_ducha') %>
                  <li>
                  <div class="card mb-3" style="width: 210px; border: 1px solid #ddd; border-radius: 5px; display: block; border-radius: 10px;">
                    <div class="" style="overflow-x: hidden; overflow-y: hidden; height: 150px; border-radius: 10px;">
                      <div class="img_prueba" style="position: relative; display: inline-block; bottom: -50%; right: -50%;">                        
                          <%= image_tag(('pi-cuarcita-azahar.jpg'), class: "img_prueba") %>
                        </div>
                      </div>
                    </div>
                  </li>
                <li class="nombre">
                  <div class="nombre">
                      <button type="button" class="btn btn-sm btn-info" style="background-color: white; border: 1px solid grey;" ><i class="fa fa-info" aria-hidden="true" style="color: grey;"></i></button>
                      Cuarcita azahar
                  </div>
                </li>
                <li>
                  <div class="description" style="padding-top: 5px;"><span>Con la gama de piedras irregulares de Geser podrás crear el ambiente perfecto para cualquier situación con su excelente calidad de material.</span> </div>
                </li>
                <li class="empresa" style="padding-left: 0px;">
                  <span style="display: block;"><%= link_to "https://www.paratureforma.com/cuarcita-azahar.html" do %>paratureforma.com<% end %></span>
                  <span class="stars" style="display: block; padding-bottom: 10px;font-weight: 600; color: #008489 !important;"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i> 29 valoraciones</span>
                </li>                
                <li class="precio_oferta" style="padding-left: 0px;">
                  <span style="font-size: 14px; padding-top: 10px;">presupuesto: <span style="font-size: 16px;"><b>11.61 €/m²</b></span></span>
                </li>
              </ul>
          </li>


        
          <li class="lista_oferta">
              <ul class="elemento">
                  <% @task = Task.find_by(task: 'demo_quitar_mampara') %>
                  <li>
                  <div class="card mb-3" style="width: 210px; border: 1px solid #ddd; border-radius: 5px; display: block; border-radius: 10px;">
                    <div class="" style="overflow-x: hidden; overflow-y: hidden; height: 150px; border-radius: 10px;">
                      <div class="img_prueba" style="position: relative; display: inline-block; bottom: -50%; right: -50%;">                        
                          <%= image_tag(('paves_azul.jpg'), class: "img_prueba") %>
                        </div>
                      </div>
                    </div>
                  </li>
                <li class="nombre">
                  <div class="nombre">
                      <button type="button" class="btn btn-sm btn-info" style="background-color: white; border: 1px solid grey;" ><i class="fa fa-info" aria-hidden="true" style="color: grey;"></i></button>
                      Pavés azul ondulado
                  </div>
                </li>
                <li>
                  <div class="description" style="padding-top: 5px;"><span>Hacen el efecto de un tragaluz, y además, son perfectos como separadores de ambientes dentro de un mismo espacio. Estos ladrillos están compuesto de dos gruesos bloques de cristal que se unen entre ellos sometiéndolos a un proceso de vaciado, en el que se elimina todo el aire del interior de las dos partes que forman el ladrillo de cristal o pavés, y de esta forma se consiguen bloques totalmente aislantes, tanto para la temperatura como para los sonidos.</span> </div>
                </li>
                <li class="empresa" style="padding-left: 0px;">
                  <span style="display: block;"><%= link_to "https://www.paratureforma.com/paves-azul-ondulado-es.html" do %>paratureforma.com<% end %></span>
                  <span class="stars" style="display: block; padding-bottom: 10px;font-weight: 600; color: #008489 !important;"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="far fa-star"></i> 17 valoraciones</span>
                </li>                
                <li class="precio_oferta" style="padding-left: 0px;">
                  <span style="font-size: 14px; padding-top: 10px;">presupuesto: <span style="font-size: 16px;"><b>5,84 € €/ud</b></span></span>
                </li>
              </ul>
          </li>
        <li class="lista_oferta">
            <ul class="elemento">
                <% @task = Task.find_by(task: 'demo_quitar_mueble_bano') %>
                <li>
                  <div class="card mb-3" style="width: 210px; border: 1px solid #ddd; border-radius: 5px; display: block; border-radius: 10px;">
                    <div class="" style="overflow-x: hidden; overflow-y: hidden; height: 150px; border-radius: 10px;">
                      <div class="img_prueba" style="position: relative; display: inline-block; bottom: -50%; right: -50%;">                      
                        <%= image_tag(('Trencadis_INS---Pez.jpg'), class: "img_prueba") %>
                      </div>
                    </div>
                  </div>
                </li>
              <li class="nombre">
                <div class="nombre">
                    <button type="button" class="btn btn-sm btn-info" style="background-color: white; border: 1px solid grey;" ><i class="fa fa-info" aria-hidden="true" style="color: grey;"></i></button>
                    Inserto Pez
                </div>
              </li>
              <li>
                <div class="description" style="padding-top: 5px;"><span><%= @task.description if @task.description != nil %></span> </div>
              </li>
              <li class="empresa" style="padding-left: 0px;">
                <span> <%= link_to "https://www.paratureforma.com/inserto-pez-interleva.html" do %>planreforma.com<% end %></span>
                <span class="stars" style="display: block; padding-bottom: 10px;font-weight: 600; color: #008489 !important;"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i> 23 valoraciones</span>
              </li>                
              <li class="precio_oferta" style="padding-left: 0px;">
                <span style="font-size: 14px; padding-top: 10px;">presupuesto: <span style="font-size: 16px;"><b><%= @task.importe if @task.importe != nil %> €/<%= @task.um %></b></span></span>
              </li>
            </ul>
        </li>
      </ul>      
    </h4>


</div>
