<% provide(:title, 'Lista de usuarios') %>
<h4><%= current_user.ciudad %></h4>
<h4></h4>
<div class="user_avatars">


<ul class="users">
<% 
=begin %>
	<% @user.each do |user|%>
	<li><%= user.name %> <%= user.profesion %> <%= user.followers.size %>  <%= user.ciudad %><li>
	<% end %>
<%
=end %>
 <!-- es necesario pasar esto al controlador para quitarlo de aqui y poner varios rankins a la vez -->

<!-- <%= @users = User.find_by_sql(
      'SELECT   	users.id,
      COUNT     	(relationships.followed_id)
      AS        	numbersOfFollowers
      FROM      	relationships
      LEFT JOIN 	users
      ON        	relationships.followed_id = users.id
      GROUP BY    	users.id	
      ORDER BY 		count(followed_id) 
      DESC
      ') %> -->


<li><%= @users.each do |x| %>
    <%= render (@user = User.where(:id => x.id).where(:ciudad => current_user.ciudad)) %>

	<% end %></li>

</div>
</ul>

<h4><%= current_user.autonomia %></h4>
<h4></h4>
<div class="user_avatars">


<ul class="users">
<% 
=begin %>
      <% @user.each do |user|%>
      <li><%= user.name %> <%= user.profesion %> <%= user.followers.size %>  <%= user.ciudad %><li>
      <% end %>
<%
=end %>
 <!-- es necesario pasar esto al controlador para quitarlo de aqui y poner varios rankins a la vez -->
<!-- <%= @users = User.find_by_sql(
      'SELECT     users.id,
      COUNT       (relationships.followed_id)
      AS          numbersOfFollowers
      FROM        relationships
      LEFT JOIN   users
      ON          relationships.followed_id = users.id
      GROUP BY          users.id  
      ORDER BY          count(followed_id) 
      DESC
      ') %> -->

<%= "#{@users[1]}" %>

<li><%= @users.each do |x| %>
    <%= render (@user = User.where(:id => x.id).where(:autonomia => current_user.autonomia)) %>

      <% end %></li>

</div>
</ul>
