
<!-- Formulario del micropost -->
<%= form_for(@micropost, html: { multipart: true }) do |f| %>



<%= f.hidden_field :content, value: current_user.id %>
<%= f.hidden_field :user_id, value: current_user.id %>
<%= f.hidden_field :hashtag1, value: "cliente" %>
<%= f.hidden_field :hashtag2, value: @reform.id %>

<h3><%= f.submit "Contactar con nuestra oficina de Arquitectura", class: "btn", style: "background-color: white; padding: 10px; border-color: #666; color: #666; border-radius: 10px; font-weight: 900;", data: { confirm: 'Genial, muchas gracias. En breve nos pondremos en contacto' } %></h3>

<% end %>

