<!-- Colapsable -->


<button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo">Share something</button>

<div id="demo" class="collapse">
<!-- Formulario del micropost -->

    <%= form_for(@micropost, html: { multipart: true }) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
          <div class="field">
            <%= f.text_area :content, placeholder: "Your comments" %>
          </div>

            <div class="field">
                <%= f.text_field :video, placeholder: "Or send us a video. Just copy the video code from youtube" %>
            </div>
      <h5>Send us a picture</h5>
          <span class="picture">
            <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %>
          </span>

      <h5>Hashtags</h5>

      <div class="col-xs-4">
            <%= f.select :hashtag1, [
            '',
            'Family',
            'People rights',
            'Education',
            'Energy',
            'Environment',
            'Health Care',
            'Immigration',
            'Jobs and Economy',
            'National Security',
            'Goverments',
            'Elderly',
            'Science and Technology',
            'Voting',
            'Reforms and Proposals',
            'Sports',
            'Daily Life'] %>
        </div>

<!--
    <div class="col-xs-3">
    <%= f.select :hashtag2, [
    '',
    'Family',
    'People rights',
    'Education',
    'Energy',
    'Environment',
    'Health Care',
    'Immigration',
    'Jobs and Economy',
    'National Security',
    'Goverments',
    'Elderly',
    'Science and Technology',
    'Voting',
    'Reforms and Proposals',
    'Sports',
    'Daily Life'] %>
    </div>

    <div class="col-xs-3">
    <%= f.select :hashtag3, [
    '',
    'Family',
    'People rights',
    'Education',
    'Energy',
    'Environment',
    'Health Care',
    'Immigration',
    'Jobs and Economy',
    'National Security',
    'Goverments',
    'Elderly',
    'Science and Technology',
    'Voting',
    'Reforms and Proposals',
    'Sports',
    'Daily Life'] %>
    </div>
-->
  <%= f.submit "Post", class: "btn btn-info" %>

<!-- links -->
    <div class="field">
        <%= f.text_area :link, placeholder: "Or maybe a link" %>
    </div>

<% end %>
</div>


<script type="text/javascript">
  $('#micropost_picture').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 2) {
      alert('Maximum file size is 2MB. Please choose a smaller file.');
    }
  });
</script>

<!-- fin del formulario del post -->

<!-- fin colapsable -->
