<% @posts = Micropost.where(:user_id => current_user.id) %>
<% @peticiones = Micropost.where(:user_id => current_user.id).where(:petition => true) %>
<% @peticiones_all = Micropost.where(:petition => true) %>
<% @plazas_grupos = Group.where(:user_id => current_user.id) %>

	<section class="plaza_stats">
    <div>
      <div class="background_img"></div>
      <ul class="plaza_name_img">
        <li>
          <div class="plaza_img">
              <%= image_tag current_user.foto.url, class: "img-circle", size: 75  if current_user.foto? %> 
          </div>
        </li>
        <li>
          <div class="plaza_name">
            <%= current_user.name if current_user.name? %>
          </div>
        </li>
        <% if current_user.description? %>
        <li class="description">
          <%= current_user.description %>
        </li>
        <% end %>
      </ul>
    </div>
  </section>

  <div class="aside_content">
    <ul class="inline" style="margin-bottom: 0px;">
      <li class="titulo">
        <%= link_to "Nueva consulta", '/petition', class: "btn btn-primary" %>
      </li>
    </ul>
  </div>

  <div class="aside_content">
    <ul class="inline" style="margin-bottom: 0px;">
      <li class="titulo">
        Perfil de linkedIN
      </li>
      <li class="lista_block" style="position: absolute; right: 20px; padding-top: 5px; padding-right: 0px;">
        <%= link_to image_tag("linkedinlogo.png", size: 25), "#{current_user.linkedin}" if current_user.linkedin? %> 
      </li>
    </ul>
  </div>

  <div class="aside_content">
    <ul class="principal">
      <li class="titulo">
        Comunidad
      </li>
      <li class="lista_block">
        <ul class="inline">
          <li>
            <i class="fa fa-user-o" aria-hidden="true"></i>   Seguidores
          </li>
          <li class="right">
            <a href="<%= followers_user_path(current_user) %>">
              <%= current_user.followers.count %>
            </a>
          </li>
        </ul>
      </li>
      <li class="lista_block">
        <ul class="inline">
          <li>
            <i class="fa fa-user-o" aria-hidden="true"></i>   Seguidos
          </li>
          <li class="right">
            <a href="<%= following_user_path(current_user) %>">
              <%= current_user.following.count %>
            </a>
          </li>
        </ul>
      </li>
      <li class="lista_block">
        <ul class="inline">
          <li>
            <i class="fa fa-envelope-open-o" aria-hidden="true"></i>   Iniciativas
          </li>
          <li class="right">
            <%= @posts.where(:petition => true).count %>
          </li>
        </ul>
      </li>
      <li class="lista_block">
        <ul class="inline">
          <li>
            <i class="fa fa-hand-o-up" aria-hidden="true"></i>   Votos recibidos totales
          </li>
          <li class="right">
            <%= Vote.where(:micropost_id => @microposts).count %>
          </li>
        </ul>
      </li>
      <li class="lista_block">
        <ul class="inline">
          <li style="width: 90%;">
            <i class="fa fa-circle-o" aria-hidden="true"></i>   Todos los círculos con los que colabora
          </li>
          <li class="right">
            <%= @plazas_grupos.count %>
          </li>
        </ul>
      </li>
    </ul>
  </div>

<span class="badge"><%#  pluralize(current_user.microposts.count, "micropost") %></span>


