<li id="micropost-<%= micropost.id %>">
  <div>
    <% if micropost.title? %>
        <span style="width: 25%; background-color: #c2d7f9; padding: 5px; font-size: 12px; border-radius: 15px;"><i class="fa fa-file-text-o" aria-hidden="true"></i><b> Consulta ciudadana</b></span>
        <h4>
          <b><%= link_to micropost.title, controller: "microposts", action: "show", id: micropost.id %></b>
        </h4>
    <% end %>
    <!-- botones de causa, consulta y acción en el encabezado -->
<%
=begin%>
    <% if micropost.plaza_id? %>
      <% @plaza =  Plaza.find_by(:id => micropost.plaza_id) %>
      <% if @plaza.action != nil %>
        <%= button_tag(class: "btn btn-primary btn-sm", style: "background-color: #0084B4;") do %>
          <div class="if-petition"><b>Causa</b></div>
        <% end %>
      <% end %>
      <% if @plaza.causa != nil %>
        <%= button_tag(class: "btn btn-primary btn-sm", style: "background-color: #0084B4;") do %>
          <div class="if-petition"><b>Acción</b></div>
        <% end %>
      <% end %>
    <% else %>
    <% end %>
  </div>
<%
=end%>

    <div class="votos_seguidores">
<% if logged_in? %>      
      <% @followings = current_user.following.count %>
      <% @votos_post_seguidores = Vote.where(micropost_id: micropost).where(user_id: current_user.following) %>
      <% @votos_post_seguidores.take(6).each do |votos_seguidores| %>
        <% @seguido_voto = User.where(id: votos_seguidores.user_id) %>
        <% @seguido_voto.each do |seguido| %>
          <b><%= link_to seguido.name, seguido, {style: "color: #7e7e81;"} %></b>&nbsp;
          <% if votos_seguidores.like == 1 %>
            <i class="fa fa-thumbs-o-up fa-lg" aria-hidden="true" style="color: green;"></i>&nbsp;
            <% if micropost.petition == true %>
              apoya la iniciativa &nbsp;&nbsp;|&nbsp;&nbsp;
            <% else %>
              le gusta el post &nbsp;&nbsp;|&nbsp;&nbsp;
            <% end %>
          <% else %>
            <i class="fa fa-thumbs-o-down fa-lg" aria-hidden="true" style="color: red;"></i>&nbsp;
            <% if micropost.petition == true %>
              rechaza la iniciativa &nbsp;&nbsp;|&nbsp;&nbsp;
            <% else %>
              no le gusta el post &nbsp;&nbsp;|&nbsp;&nbsp;
            <% end %>
          <% end %>
        <% end %>
      <% end %>
<% end %>                  
    </div>



  <div class="header-post">
    <ul class="user-data" style="background-color: transparent; display: inline-flex;">
      <li style="padding-left: 5px; margin-top: 5px;">
        <%= image_tag (micropost.user.foto.url), class: "img-circle", size: 45 if micropost.user.foto? %>
      </li>
      <li style="font-size: 14px;">
        <ul style="display: inline-block; list-style: none; padding-left: 5px;">
          <li style="padding-top: 5px;">
            <% if micropost.plaza_id? %>
              <b><%= link_to micropost.user.name, micropost.user, style: "font-size: 13px;" %></b>
              <% @plaza =  Plaza.find_by(:id => micropost.plaza_id) %>
              <span class="plaza-seguida"> ha publicado en &nbsp;
              <% if @plaza != nil %>
                <% if @plaza.action != true %>
                  <% if @plaza.causa != true %>
                    <i class="fa fa-circle-o fa-lg" aria-hidden="true"></i>
                  <% else %>
                  <i class="fa fa-heart-o fa-lg" aria-hidden="true"></i>
                  <% end %>
                <% else %>
                  <i class="fa fa-bolt fa-lg" aria-hidden="true"></i>
                <% end %>
<% if logged_in? %>              
                <b><%= link_to @plaza.name, user_plaza_path(user_id: current_user, id: @plaza.id), {style: "color: #7e7e81;"} %>
                </b>
<% end %>
              <% end %>
            <% else %>
              <b><%= link_to micropost.user.name, micropost.user %></b>
            <% end %>
          </li>
          <li style="display: inline-flex;">
            <span>
              <%# micropost.user.followers.count "followers.&nbsp;&nbsp;" %>
              <span class="timestamp" style="line-height: 80%;"><i class="fa fa-calendar-times-o" aria-hidden="true"></i>
              Posted <%= time_ago_in_words(micropost.created_at) %> ago.
              <% if current_user?(micropost.user) %>
                <%= link_to "delete", micropost, method: :delete, data: { confirm: "You sure?" }, id: micropost %>
              <% end %>
              </span>
            </span>
          </li>
        </ul>
      </li>
    </ul>
  </div>
  <!--  Contenido texto -->
    <div class="content" style="font-size: 14px;">
      <% if micropost.petition == true %>
        <%= truncate(micropost.content, :length => 400) %><span style="position: absolute; right: 20px;"><%= link_to "...more", controller: "microposts", action: "show", id: micropost.id %>
      <% else %>
        <%= micropost.content %>
      <% end %>  
    </div>
     
  <!--  Imagen -->
  <% if micropost.picture? %>
    <div class="picture_content"> <%= image_tag (micropost.picture.url), class: "img-responsive", width: "100%"   %> 
    </div>
  <% end %>

  <!--  video -->
  <% if micropost.video? %>
    <div class="video-responsive">
      <iframe src="https://www.youtube.com/embed/<%= micropost.video %>" frameborder="0" allowfullscreen></iframe>
    </div>
  <% end %>

  <!--  links -->
  <% if micropost.link? %>
    <div class="links">
<%
=begin%>
    <% doc = Nokogiri::HTML(open(micropost.link, 'User-Agent' => 'ruby'), nil, 'UTF-8', 'ISO-8859') %>  
      <% if doc != nil %>
        <div class= "title-link"><% title = doc.at_css("title") %>
          <% if title != nil %>
            <%= title.text %>
          <% end %>
        </div>
        <% src = doc.xpath('//body//img[@width > 300 or @alt = @title]/@src')  %>
          <% if src != nil %>
          <div class="picture_link" style="max-height: 400, padding-bottom: 8px;" >
          <%= image_tag (src.first), class: "img-responsive", width: "100%" if src.any? %>
          </div>
        <% end %>
      <% end %>
<%
=end%>
      <div class= "title-link">
        <% if micropost.title_link != nil %>
          <%= micropost.title_link %>
        <% end %>
      </div>
      <div class="picture_link" style="max-height: 400, padding-bottom: 8px;" >
        <% if micropost.photo_link != nil %>
          <%= image_tag (micropost.photo_link), class: "img-responsive", width: "100%" %>
        <% end %>
      </div>
  
      <div class="enlace_texto">
        <%= link_to truncate(micropost.link.scan( /([^>]*)./).first.last, :length => 30), micropost.link %>
      </div>
    </div>       
  <% end %>
  
<!-- votos -->
<!-- votos positivos -->
  <ul class="social_elements">
    <div id="vote<%= micropost.id %>">
      <%# @votosPositivos = micropost.votes.where(:like => 1).count %>
      <%# @votosNegativos = micropost.votes.where(:dislike => 1).count %>
<% if logged_in? %>
    <% @voto_usuario = Vote.where(user_id: current_user.id, micropost_id: micropost.id) %>
    <li style="display: inline-flex;">
      <% if @voto_usuario.empty? %>
        <%= form_for([micropost, Vote.new], remote: true) do |f| %>
          <%= f.hidden_field :user_id, :value => current_user.id %>
          <%= f.hidden_field :like, :value => 1 %> 
          <%= f.hidden_field :dislike, :value => 0 %> 
            <%= button_tag(class: "btn btn-link btn-sm", style: "color: #595959;") do %><i class="fa fa-thumbs-o-up fa-lg" aria-hidden="true" style="color: #595959;"></i>  <%= @votosPositivos = micropost.votes.where(:like => 1).count %></span>  Up
            <% end %>
        <% end %>
      <% else %>
        <% @micropost = micropost %>
        <% @voto_usuario.each do |voto_usuario| %>
          <%= form_tag(update_like_micropost_vote_path(micropost_id: micropost, id: voto_usuario), method: :put, remote: true) do |f| %>  
            <%= button_tag(class: "btn btn-link btn-sm", style: "color: #595959;") do %><i class="fa fa-thumbs-o-up fa-lg" aria-hidden="true" style="color: #595959;"></i>  <%= @votosPositivos = micropost.votes.where(:like => 1).count %></span>  Up
            <% end %>
          <% end %>
        <% end %>
      <% end %>
<% else %>
    <%= button_tag(class: "btn btn-link btn-sm", style: "color: #595959;") do %><i class="fa fa-thumbs-o-up fa-lg" aria-hidden="true" style="color: #595959;"></i>  <%= @votosPositivos = micropost.votes.where(:like => 1).count %></span>  Up
        <% end %>
<% end %>

<!-- votos negativos -->
<% if logged_in? %>

      <% if @voto_usuario.empty? %>
        <%= form_for([micropost, Vote.new], remote: true) do |f| %>
          <%= f.hidden_field :user_id, :value => current_user.id %>
          <%= f.hidden_field :like, :value => 0 %> 
          <%= f.hidden_field :dislike, :value => 1 %> 
          <%= button_tag(class: "btn btn-link btn-sm", style: "color: #595959;") do %>
            <i class="fa fa-thumbs-o-down fa-lg" aria-hidden="true" style="color: #595959;"></i> <%= @votosNegativos = micropost.votes.where(:dislike => 1).count %>  Down 
          <% end %>
        <% end %>
      <% else %>
        <% @voto_usuario.each do |voto_usuario| %>
          <%= form_tag(update_dislike_micropost_vote_path(micropost_id: micropost, id: voto_usuario), method: :put, remote: true) do |f| %>
              <%= button_tag(class: "btn btn-link btn-sm", style: "color: #595959;") do %><i class="fa fa-thumbs-o-down fa-lg" aria-hidden="true" style="color: #595959;"></i>  <%= @votosNegativos = micropost.votes.where(:dislike => 1).count %></span>  Up
              <% end %>
          <% end %>
        <% end %>
      <% end %> 

<% else %>
        <%= button_tag(class: "btn btn-link btn-sm", style: "color: #595959;") do %><i class="fa fa-thumbs-o-down fa-lg" aria-hidden="true" style="color: #595959;"></i><%= @votosNegativos = micropost.votes.where(:dislike => 1).count %></span>  Down    
        <% end %>
<% end %>
  </div>

  <!-- hashtags -->
  <li style="padding-top: 10px; text-align: right;">
    <% if micropost.hashtag1? %>
      <a class="hashtag"><b><i class="fa fa-tags fa-lg" aria-hidden="true"></i></b>&nbsp;<%= link_to micropost.hashtag1,hashtag_micropost_path(micropost), {style: "color: #595959;"} %></a>
    <% end %>
  </li>

  <!-- comentarios -->
  <li style="padding-top: 10px; text-align: left;">
    <span class="numbercomments"><b><i class="fa fa-comment-o fa-lg" aria-hidden="true"></i></b>&nbsp;<%= micropost.comments.count %> comentarios</span>
  </li>
</ul>

<!-- Create and comments -->
<!-- -------------------------------------------------------------------------- -->

    <button type="button" class="btn btn-link btn-sm" data-toggle="collapse" data-target="#comentarios<%= micropost.id %>"><i class="fa fa-reply" aria-hidden="true"></i></button>
    <div id="comentarios<%= micropost.id %>" class="collapse">
      <% if logged_in? %>
        <!-- create comment -->
        <div class="fondo_create_comment">
          <ul class="post_comment">
            <li>
              <%= image_tag (current_user.foto.url), class: "img-circle", size: 30 if current_user.foto? %>
              
            </li>
            <li style="width: 85%;">
              <%= form_for([micropost, Comment.new], remote: true) do |f| %>
                <%= f.text_area :contenido, placeholder: "Add a comment..." %>
                <%= f.hidden_field :user_id, :value => current_user.id %>
            </li>
            <li>
              <%= button_tag(class: "btn btn-primary btn-sm", style: "padding: 5px 3px; background-color: #c2d7f9; color: black; border: 0px;m padding-left: 5px; padding-right: 5px;") do %>
                Comment
              <% end %>
              <% end %>
            </li>
          </ul>  
        </div>
        
      <% else %>
        <ul class="post_comment" style="border-top: 1px solid #e6e9ec; padding-top: 5px; width: 100%; display: inline-flex; background-color: white; margin-bottom: 5px;">
          <li style="background-color: #c2d7f9; padding: 5px; border-radius: 10px; font-size: 13px;"><b><%= link_to "Plase login to comment or vote", '/login' %></b></li> &nbsp;&nbsp;or&nbsp;&nbsp;
          <li style="background-color: #c2d7f9; padding: 5px; border-radius: 10px; font-size: 13px;"><b><%= link_to "Singup", '/signup' %></b></li>
        </ul>

      <% end %>
    
      <!-- comentarios --> 
      <% @micropost = micropost %>
      <div id="<%= micropost.id %>" class="fondo-comments" %>
        <% micropost.comments.order("created_at desc").take(3).each do |comment| %>
          <div class="comentario" style="padding: 4px 5px;">
            <% if micropost.comments.any? %>
              <ul style="width: 100%;">
                <li class="imagen">
                  <%= image_tag (comment.user.foto.url), class: "img-circle", size: 30 if comment.user.foto? %>
                </li>
                <li class="texto" style="width: 85%; display: inline-flex;">
                  <div style="padding-top: 5px; word-wrap: break-word; line-break: strict; overflow-wrap: break-word; width: 100%;">
                    <b><%= link_to comment.user.name, comment.user %></b>&nbsp;<%= truncate(comment.contenido, length: 300) %><span class="timestamp" style="font-size: 11px; margin: 0px; padding: 0px;">&nbsp;&nbsp;<%= time_ago_in_words(comment.created_at) %> ago.</span>
                  </div>
                </li>
              </ul>
            <% end %> 
          </div>
        <% end %>
      </div>

    </div>
<!-- -------------------------------------------------------------------------- -->

  <div class="show_more">
    <%= link_to "Mostar todo", micropost_path(id: micropost), style: "color: grey;" %>
  </div>

</li>
