<li id="micropost-<%= micropost.id %>">
 <!-- <%= link_to gravatar_for(micropost.user, size: 50), micropost.user %> -->
  <%= image_tag (micropost.user.foto.url), class: "img-circle", size: 65 if micropost.user.foto? %>

        <span class="user"><%= link_to micropost.user.name, micropost.user %>
          <span class="timestamp">
            Posted <%= time_ago_in_words(micropost.created_at) %> ago.
            <% if current_user?(micropost.user) %>
              <%= link_to "delete", micropost, method: :delete,
                                               data: { confirm: "You sure?" } %>
            <% end %>
          </span>
        </span>

        

<!--  Contenido texto -->
        <span class="content">
          <%= micropost.content %> 
        </span>

<!--  Imagen -->
  <% if micropost.picture? %>
    <div class="picture_content"> <%= image_tag (micropost.picture.url), class: "img-responsive", width: "90%"   %> 
    </div>
  <% end %>


<!--  video -->
  <% if micropost.video? %>
    <div class="video-responsive">
      <iframe
      src="https://www.youtube.com/embed/<%= micropost.video %>" frameborder="0" allowfullscreen></iframe>
    </div>
  <% end %>

<!--  links -->

  <% if micropost.link? %>
    <span class="container"> 
      <div class="links">
   <!-- <%= doc = Nokogiri::HTML(open(micropost.link), nil, 'UTF-8', 'ISO-8859') %> -->
        <h4><span class= "content"><%= @title = doc.at_css("title").text %></span></h4>

    </span>
  <% end %>
<% 
=begin %>        
        <%= @imagen = doc.at_css("img")["src"] %>
        <%# @imagen4 = doc.at_css("img")["width"] %>
        <%# @imagen5 = doc.xpath("//img").each do |item| %>
          <%# img_attributes = item.attributes.values %>
            <%# img_attributes.each do |attr| %>
              <%# p attr.value >= "100" %>
              <%# attr.select { |heigth| height("height") >= 100 } %>
            <%# end %>

            
        <span class="container"><ul>
        <%= @imagen5 = doc.xpath("//img[@width>'100'][@src]").each do |item| %>
            <li><%= p (@src = item["src"]) %></li></ul></span>



        <!--- <% if @src =! nil %> -->
          <span class="picture_content"> <%= image_tag (@src), class: "img-responsive", size: 100  %></span>
        <% end %>
<%
=end %>
        <!-- <% if micropost.link? %> -->
          <span class= "content"><%= link_to (micropost.link.scan( /([^>]*)./).first.last), micropost.link %></span>
        <% end %>
       </div> 


<% 
=begin %>
      <%= url = micropost.link %>
      <%= doc = Nokogiri::HTML(open(url)) %>
      <%= puts doc.at_css("title").text %>
      <%= doc.css(".item").each do |item| %>
      <%= title = item.at_css("#articulo-titulo").text %>
      <%= price = item.at_css("").text[/\$[0-9\.]+/] %>
      <%= puts "#{title} - #{price}" %>
      <%= puts item.at_css("#articulo-titulo")[:href] %>
<%
=end %>    
    

  <div class="container">
    <!-- votos -->
      <!-- necesitamos poner el update de votos del usuario -->
        <!-- votos positivos -->
        <div class="col-sm-2">
          <%= form_for([micropost, Vote.new]) do |f| %>
              <%= f.hidden_field :user_id, :value => current_user.id %>
              <%= f.hidden_field :like, :value => 1 %> 
              <%= f.hidden_field :dislike, :value => 0 %> 
                <!-- tenemos que decirle que me ponga el número de votos de cada micropost independiente -->
            
              <span class="votes">     
                <div class="btn-group btn-group-md">
                  <%= button_tag(class: "btn btn-default") do %><span class="glyphicon glyphicon-hand-up" aria-hidden="true"><%= @votosPositivos = micropost.votes.where(:like => 1).count %></span>
                  <% end %>   
          <% end %>
            
          <!-- votos negativos -->
          
            <%= form_for([micropost, Vote.new]) do |f| %>
              <%= f.hidden_field :user_id, :value => current_user.id %> 
              <%= f.hidden_field :like, :value => 0 %> 
              <%= f.hidden_field :dislike, :value => 1 %> 

              <%= button_tag(class: "btn btn-default") do %><span class="glyphicon glyphicon-hand-down" aria-hidden="true"><%= @votosNegativos = micropost.votes.where(:dislike => 1).count %></span>        
            <% end %>
            </div>
          <% end %>
        </div>


    <!-- hashtags -->
    <div class="col-sm-2">
      <% if micropost.hashtag1? %>
        <span class="hashtag"><span class="glyphicon glyphicon-tags" aria-hidden="true"></span>          <%= link_to micropost.hashtag1, hashtag_micropost_path(micropost) %></span>
      <% end %>
    </div>

    <div class="col-sm-2">
    <!-- comentarios -->
      <span class="numbercomments"><span class="glyphicon glyphicon-comment" aria-hidden="true"></span>          <%= micropost.comments.count %> comentarios</span>
    </div>
</div>


<% 
=begin %>
  <span class="votes">
    <%= form_for([micropost, Vote.new]) do |f| %>
      <div class="field">
          <%= f.hidden_field :user_id, :value => current_user.id %> 

      </div>

      <div class="actions">
        <%= f.submit %>
      </div>
    <% end %>
  </span>
<%
=end %>

<!-- comentarios -->

  <% micropost.comments.order("created_at desc").take(3).each do |comment| %>
        <span class="comentario">
          <% if micropost.comments.any? %>
                <h5><%= image_tag (comment.user.foto.url), class: "img-circle", size: 30 if comment.user.foto? %>
                <%= link_to comment.user.name, comment.user %>        <%= comment.contenido %></h5>
                <h6><%= comment.created_at %></h6>
          <% else %>
          <% end %>         
        </span>
  <% end %>



  <h2>Add a comment:</h2>
  <%= form_for([micropost, Comment.new]) do |f| %>
    <div class="field">
        <%= f.text_area :contenido, placeholder: "Add a comment" %><br/>
        <%= f.hidden_field :user_id, :value => current_user.id %> 
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
 

<% 
=begin %>
  <ul>
    <%= render(partial: 'comments/comment', collection: micropost.comments) %>
  </ul>
<%
=end %>

  
<!--
  <% if micropost.hashtag2? %>

  <div class="hashtag">
  <span class="label label-info">
  <%= micropost.hashtag2 %></span> 
  </div>

  <% end %>

  <% if micropost.hashtag3? %>

  <div class="hashtag">
  <span class="label label-info"><% micropost.hashtag3 %></span>
  </div>
  <% end %>
-->

</li>