<li id="micropost-<%= micropost.id %>">
<div class="petition-title">
  <% if micropost.title? %>
  <div class="if-petition">Petition</div>
    <h4><b><%= link_to micropost.title, controller: "microposts", action: "show", id: micropost.id %></b></h4>
  
<% else %>
<% end %>
</div>

<div class="header-post" style="">
  <span style="padding-left: 15px; margin-top: 10px;">
    <%= image_tag (micropost.user.foto.url), class: "img-circle", size: 40 if micropost.user.foto? %>
  </span>
  <ul class="user-data" style="background-color: transparent;">
    <li style="font-size: 15px;">
      <% if micropost.plaza_id? %>
        <b><%= link_to micropost.user.name, micropost.user %></b>
        <!-- <%= @plaza =  Plaza.where(:id => micropost.plaza_id) %> -->
        <span class="plaza-seguida"> ha publicado en 
          <b>
            <% @plaza.each do |plaza| %>
              <%= p plaza.name %>
            <% end %>
          </b></span>
      <% else %>
        <b><%= link_to micropost.user.name, micropost.user %></b>
      <% end %>
    </li>
    <li style="display: inline-flex; font-size: 12px; ">
      <%= micropost.user.followers.count %> followers
    </li>
    <li>
      <span class="timestamp">
        Posted <%= time_ago_in_words(micropost.created_at) %> ago.
        <% if current_user?(micropost.user) %>
          <%= link_to "delete", micropost, method: :delete, data: { confirm: "You sure?" }, id: micropost.id %>
        <% end %>
      </span>
    </li>
    <li style="font-size: 11px;">
      <%# micropost.plaza_id %>
      <%# @plaza = User.where(:id => micropost.plaza_id).first %>
      <%# @plaza_name%>
    </li>
  </ul>
</div>
  <!--  Contenido texto -->
  <span class="content">
    <%= micropost.content %> 
  </span>
  <!--  Imagen -->
  <% if micropost.picture? %>
    <div class="picture_content"> <%= image_tag (micropost.picture.url), class: "img-responsive", width: "100%"   %> 
    </div>
  <% end %>

  <!--  video -->
  <% if micropost.video? %>
    <div class="video-responsive">
      <iframe src="https://www.youtube.com/embed/<%= micropost.video %>" frameborder="0" allowfullscreen></iframe>
    </div>
  <% end %>

  <!--  links -->
  <% if micropost.link? %>
    <div class="links">  
      <!-- <%= doc = Nokogiri::HTML(open(micropost.link), nil, 'UTF-8', 'ISO-8859') %> -->
      <span class= "title-link"><%= @title = doc.at_css("title").text %></span>
       <!-- <%= @src = doc.xpath('//body//img[@width > 300 or @alt = @title]/@src')  %> -->
       <% if @src != nil %>
        <div class="picture_content" style="max-height: 400, padding-bottom: 8px;" >
        <%= image_tag (@src.first), class: "img-responsive", width: "100%" if @src.any? %>
        </div>
      <% end %>
  
      <span class="enlace-texto">
        <%= link_to truncate(micropost.link.scan( /([^>]*)./).first.last, :length => 30), micropost.link %></span>
    </div>       
  <% end %>    
  
<% 
=begin %>        
        <%= @imagen = doc.at_css("img")["src"] %>
        <%# @imagen4 = doc.at_css("img")["width"] %>
        <%# @imagen5 = doc.xpath("//img").each do |item| %>
          <%# img_attributes = item.attributes.values %>
            <%# img_attributes.each do |attr| %>
              <%# p attr.value >= "100" %>
              <%# attr.select { |heigth| height("height") >= 100 } %>
            <%# end %>

            
        <span class="container"><ul>
        <%= @imagen5 = doc.xpath("//img[@width>'100'][@src]").each do |item| %>
            <li><%= p (@src = item["src"]) %></li></ul></span>



        <!--- <% if @src =! nil %> -->
          <span class="picture_content"> <%= image_tag (@src), class: "img-responsive", size: 100  %></span>
        <% end %>
<%
=end %>
  
<% 
=begin %>
      <%= url = micropost.link %>
      <%= doc = Nokogiri::HTML(open(url)) %>
      <%= puts doc.at_css("title").text %>
      <%= doc.css(".item").each do |item| %>
      <%= title = item.at_css("#articulo-titulo").text %>
      <%= price = item.at_css("").text[/\$[0-9\.]+/] %>
      <%= puts "#{title} - #{price}" %>
      <%= puts item.at_css("#articulo-titulo")[:href] %>
<%
=end %>


<!-- votos -->
<!-- necesitamos poner el update de votos del usuario -->
<!-- votos positivos -->
  <ul class="social_elements">
    <li style="display: inline-flex;">
    <% if (@voto_usuario = Vote.where(user_id: current_user.id, micropost_id: micropost.id)).empty? %>
      <%= form_for([micropost, Vote.new], remote: true) do |f| %>
        <%= f.hidden_field :user_id, :value => current_user.id %>
        <%= f.hidden_field :like, :value => 1 %> 
        <%= f.hidden_field :dislike, :value => 0 %> 
          <%= button_tag(class: "btn btn-link btn-sm") do %><i class="fa fa-thumbs-o-up fa-lg" aria-hidden="true"></i>  <%= @votosPositivos = micropost.votes.where(:like => 1).count %></span>  Up
          <% end %>
      <% end %>
    <% else %>
      <%= link_to update_like_micropost_vote_path(micropost, @voto_usuario), :class => "btn btn-link btn-sm" do %><i class="fa fa-thumbs-o-up fa-lg" aria-hidden="true"></i>  <%= @votosPositivos = micropost.votes.where(:like => 1).count %></span>
          Up
      <% end %>       
    <% end %>

  <!-- votos negativos -->
  <% if (@voto_usuario = Vote.where(user_id: current_user.id, micropost_id: micropost.id)).empty? %>
    <%= form_for([micropost, Vote.new], remote: true) do |f| %>
      <%= f.hidden_field :user_id, :value => current_user.id %>
      <%= f.hidden_field :like, :value => 0 %> 
      <%= f.hidden_field :dislike, :value => 1 %> 
      <%= button_tag(class: "btn btn-link btn-sm") do %><i class="fa fa-thumbs-o-down fa-lg" aria-hidden="true"></i>  <%= @votosNegativos = micropost.votes.where(:dislike => 1).count %></span>  Down
      <% end %>
    <% end %>
  <% else %>
    <%= link_to update_dislike_micropost_vote_path(micropost, @voto_usuario), :class => "btn btn-link btn-sm" do %><i class="fa fa-thumbs-o-down fa-lg" aria-hidden="true"></i>  <%= @votosNegativos = micropost.votes.where(:dislike => 1).count %></span>
          Down
    <% end %>    
  <% end %> 

    <!-- hashtags -->
    <li style="padding-top: 10px; text-align: right;">
      <% if micropost.hashtag1? %>
        <a class="hashtag"><span class="glyphicon glyphicon-tags" aria-hidden="true"></span><%= link_to micropost.hashtag1,hashtag_micropost_path(micropost) %></a>
      <% end %>
    </li>

    <!-- comentarios -->
    <li style="padding-top: 10px;">
      <span class="numbercomments"><span class="glyphicon glyphicon-comment" aria-hidden="true"></span>          <%= micropost.comments.count %> comentarios</span>
    </li>
  </ul>

<!-- comentarios --> 
<div class="fondo-comments" %>  
  <% micropost.comments.order("created_at desc").take(3).each do |comment| %>
    <span class="comentario">
      <% if micropost.comments.any? %>
        <span style="margin: 0px; padding-top: 5px;"><%= image_tag (comment.user.foto.url), class: "img-circle", size: 30 if comment.user.foto? %>
          <b style="font-size: 13px;"><%= link_to comment.user.name, comment.user %></b>        <span style="font-size: 13px;"><%= comment.contenido %></span></span>
          <span class="" style="font-size: 11px; color: #8c8c8c;"> <%= time_ago_in_words(comment.created_at) %> ago.</span>
        <% else %>
      <% end %>         
    </span>
    <% end %>
  <% if logged_in? %>
    <!-- create comment -->
    <ul class="post_comment" style="border-top: 1px solid #e6e9ec; padding-top: 5px; width: 100%; display: inline-flex; ">
      <li style="background-color: #f6f7f9;"><%= image_tag (current_user.foto.url), class: "img-circle", size: 30 if current_user.foto? %></li>
      <li style="width: 80%; background-color: #f6f7f9;"><%= form_for([micropost, Comment.new]) do |f| %>

      <%= f.text_area :contenido, placeholder: "Add a comment..." %>
      <%= f.hidden_field :user_id, :value => current_user.id %></li>
      <li style="background-color: #f6f7f9;">
        <div class="actions">
          <%= f.submit "Comment" %>
        </div>
      </li>
    </ul>
  <% end %>
</div>
<% else %>
  <ul class="post_comment" style="border-top: 1px solid #e6e9ec; padding-top: 5px; width: 100%; display: inline-flex; ">
    <li style="background-color: #f2f2f2; padding-left: 15px;"><%= link_to "Plase login to comment.", '/login' %></li>
    <li style="background-color: #f2f2f2; padding-left: 15px;"><%= link_to "Singup", '/signup' %></li>
  </ul>
<% end %>
<!--
  <% if micropost.hashtag2? %>
    <div class="hashtag">
    <span class="label label-info">
    <%= micropost.hashtag2 %></span> 
    </div>
  <% end %>
-->
</span>
</li>
