<li id="micropost-<%= micropost.id %>">
<div class="title-post">
  <% if micropost.title? %>
      <p><%= link_to micropost.title, controller: "microposts", action: "show", id: micropost.id %></p>
  <% else %>
  <% end %>
</div>
<div class="post" style="background-color: #e6fff5; margin: -15px;">
  <span style="padding-left: 15px; margin-top: 10px;">
    <%= image_tag (micropost.user.foto.url), class: "img-circle", size: 40 if micropost.user.foto? %>
  </span>
  <ul class="user-data" style="background-color: transparent; padding-left: 5px; padding-top: 5px;">
    <li>
      <%= link_to micropost.user.name, micropost.user %>
    </li>
    <li style="display: inline-flex; font-size: 11px; ">
      <%= micropost.user.followers.count %> followers
    </li>
    <li style="font-size: 11px;">
      <%= micropost.plaza_id %>
      <%= @plaza = User.where(:id => micropost.plaza_id) %>
      <%= @plaza_name%>
    </li>
  </ul>
  <span class="timestamp">
    Posted <%= time_ago_in_words(micropost.created_at) %> ago.
    <% if current_user?(micropost.user) %>
      <%= link_to "delete", micropost, method: :delete, data: { confirm: "You sure?" }, id: micropost.id %>
    <% end %>
  </span>
</div>
  <!--  Contenido texto -->
  <span class="content">
    <%= micropost.content %> 
  </span>
  <!--  Imagen -->
  <% if micropost.picture? %>
    <div class="picture_content"> <%= image_tag (micropost.picture.url), class: "img-responsive", width: "100%"   %> 
    </div>
  <% end %>

  <!--  video -->
  <% if micropost.video? %>
    <div class="video-responsive">
      <iframe src="https://www.youtube.com/embed/<%= micropost.video %>" frameborder="0" allowfullscreen></iframe>
    </div>
  <% end %>

  <!--  links -->
  <div class="links">  
    <% if micropost.link? %>
      <!-- <%= doc = Nokogiri::HTML(open(micropost.link), nil, 'UTF-8', 'ISO-8859') %> -->
      <h4><span class= "content" style="padding-top: 5px; margin-left: : 2px; "><%= @title = doc.at_css("title").text %></span></h4>
       <!-- <%= @src = doc.xpath('//body//img[@width > 300 or @alt = @title]/@src')  %> -->
       <% if @src != nil %>
        <div class="picture_content" style="max-height: 400" >
          <%= image_tag (@src.first), class: "img-responsive", width: "100%" if @src.any? %>
        </div>
    <% end %>
  <% end %>


    <% if micropost.link? %>
      <a style="padding: 5px; overflow: hidden; text-overflow:ellipsis;">
        <%= link_to truncate(micropost.link.scan( /([^>]*)./).first.last, :length => 30), micropost.link %></a>       
    <% end %>    
  </div>
<% 
=begin %>        
        <%= @imagen = doc.at_css("img")["src"] %>
        <%# @imagen4 = doc.at_css("img")["width"] %>
        <%# @imagen5 = doc.xpath("//img").each do |item| %>
          <%# img_attributes = item.attributes.values %>
            <%# img_attributes.each do |attr| %>
              <%# p attr.value >= "100" %>
              <%# attr.select { |heigth| height("height") >= 100 } %>
            <%# end %>

            
        <span class="container"><ul>
        <%= @imagen5 = doc.xpath("//img[@width>'100'][@src]").each do |item| %>
            <li><%= p (@src = item["src"]) %></li></ul></span>



        <!--- <% if @src =! nil %> -->
          <span class="picture_content"> <%= image_tag (@src), class: "img-responsive", size: 100  %></span>
        <% end %>
<%
=end %>
  
<% 
=begin %>
      <%= url = micropost.link %>
      <%= doc = Nokogiri::HTML(open(url)) %>
      <%= puts doc.at_css("title").text %>
      <%= doc.css(".item").each do |item| %>
      <%= title = item.at_css("#articulo-titulo").text %>
      <%= price = item.at_css("").text[/\$[0-9\.]+/] %>
      <%= puts "#{title} - #{price}" %>
      <%= puts item.at_css("#articulo-titulo")[:href] %>
<%
=end %>


<!-- votos -->
<!-- necesitamos poner el update de votos del usuario -->
<!-- votos positivos -->
  <ul class="social_elements" style="margin-bottom: 5px;">
    <li style="display: inline-flex;">
    
    <%= form_for([micropost, Vote.new], remote: true) do |f| %>
      <% if (@voto_usuario = micropost.votes.select(:user_id == current_user.id)).empty? %>
        <%= f.hidden_field :user_id, :value => current_user.id %>
        <%= f.hidden_field :like, :value => 1 %> 
        <%= f.hidden_field :dislike, :value => 0 %> 
          <%= button_tag(class: "btn btn-default btn-sm") do %><span class="glyphicon glyphicon-hand-up" aria-hidden="true"><%= @votosPositivos = micropost.votes.where(:like => 1).count %></span>  Like
          <% end %>
      <% else %>
        <!-- <%= @vote = micropost.votes.select(:user_id == current_user.id) %> -->
        <%= link_to update_like_micropost_vote_path(micropost, @vote[0]), :class => "btn btn-default btn-sm" do %><span class="glyphicon glyphicon-hand-up" aria-hidden="true"><%= @votosPositivos = micropost.votes.where(:like => 1).count %></span>
          Like
        <% end %> 
      <% end %>      
    <% end %>
  <!-- votos negativos -->
  <%= form_for([micropost, Vote.new], remote: true) do |f| %>
      <% if (@voto_usuario = micropost.votes.select(:user_id == current_user.id)).empty? %>
        <%= f.hidden_field :user_id, :value => current_user.id %>
        <%= f.hidden_field :like, :value => 0 %> 
        <%= f.hidden_field :dislike, :value => 1 %> 
          <%= button_tag(class: "btn btn-default btn-sm") do %><span class="glyphicon glyphicon-hand-down" aria-hidden="true"><%= @votosPositivos = micropost.votes.where(:like => 1).count %></span>  Like
          <% end %>
      <% else %>
        <!-- <%= @vote = micropost.votes.select(:user_id == current_user.id) %> -->
        <%= link_to update_dislike_micropost_vote_path(micropost, @vote[0]), :class => "btn btn-default btn-sm" do %><span class="glyphicon glyphicon-hand-down" aria-hidden="true"><%= @votosPositivos = micropost.votes.where(:dislike => 1).count %></span>
          Like
        <% end %> 
      <% end %>      
    <% end %>


    <!-- hashtags -->
    <li style="padding-top: 10px;">
      <% if micropost.hashtag1? %>
        <a class="hashtag"><span class="glyphicon glyphicon-tags" aria-hidden="true"></span><%= link_to micropost.hashtag1,hashtag_micropost_path(micropost) %></a>
      <% end %>
    </li>
    <!-- comentarios -->
    <li style="padding-top: 10px;">
      <span class="numbercomments"><span class="glyphicon glyphicon-comment" aria-hidden="true"></span>          <%= micropost.comments.count %> comentarios</span>
    </li>
  </ul>
  <!-- comentarios --> 
<div class="" style="background-color: #f2f2f2;">  
    <% micropost.comments.order("created_at desc").take(3).each do |comment| %>
      <span class="comentario">
        <% if micropost.comments.any? %>
          <span style="margin: 0px; padding-top: 5px;"><%= image_tag (comment.user.foto.url), class: "img-circle", size: 30 if comment.user.foto? %>
                  <%= link_to comment.user.name, comment.user %>        <%= comment.contenido %></span>
                  <span class="" style="font-size: 11px; color: #8c8c8c;"> <%= time_ago_in_words(comment.created_at) %> ago.</span>
        <% else %>
      <% end %>         
    </span>
    <% end %>
    <!-- create comment -->
    <ul class="post_comment" style="border-top: 1px solid #e6e9ec; padding-top: 5px; width: 100%; display: inline-flex; ">
      <li style="background-color: #f2f2f2;"><%= image_tag (current_user.foto.url), class: "img-circle", size: 30 if current_user.foto? %></li>
      <li style="width: 80%; background-color: #f2f2f2;"><%= form_for([micropost, Comment.new]) do |f| %>

      <%= f.text_area :contenido, placeholder: "Add a comment..." %>
      <%= f.hidden_field :user_id, :value => current_user.id %></li>
      <li style="background-color: #f2f2f2;"><div class="actions">
        <%= f.submit "Comment" %>
      </div></li>
    </ul>
    <% end %>
</div>
<!--
  <% if micropost.hashtag2? %>
    <div class="hashtag">
    <span class="label label-info">
    <%= micropost.hashtag2 %></span> 
    </div>
  <% end %>
-->
</span>
</li>
