<div class="container">
<% provide(:title, 'Consultas') %>    
	<div class="row">
    <aside class="col-sm-2">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
    </aside>

	  <div class="col-sm-6">
	  	<div class="instrucciones" style="margin-top: 15px;">
	  		<i class="fa fa-info fa-lg" aria-hidden="true"></i>&nbsp;
	  		Es necesario precisar las peticiones que son especificas del usuario, pendientes, de sus plazas y sugueridas según sus intereses
	  	</div>
		  <% if @petitions.where(petition: true).any? %>
		   	<% @petitions.take(20).each do |micropost| %>
		   		<% if micropost.petition == true %>
						<div class="petition_index">
							<div class="principal">
								<div>
									<!--  Imagen -->
									<% if micropost.picture? %>
								    <div class="picture_content_petition_index"> <%= image_tag (micropost.picture.url), class: "img_petition_index" %> 
								    </div>
									<% end %>
								</div>
								
								<div class="title-petition">
									<!--  Titulo -->
										<b><%= link_to micropost.title, micropost_path(id: micropost.id), style: "color: black;" %></b>
								</div>

								<div class="content">
									<!--  Contenido texto -->
										<%= truncate(micropost.content, :length => 150) %>
										<%= link_to ".more", controller: "microposts", action: "show", id: micropost.id %>
								</div>

								<div class="votos_seguidores">
									<div style="font-size: 16px"><b>Lo que opinan tus amigos</b></div>
									<% @seguidores = current_user.following.count %>
									<% @votos_post_seguidores = Vote.where(micropost_id: micropost).where(user_id: current_user.following) %>
									<% @votos_post_seguidores.each do |votos_seguidores| %>
										<% @seguido_voto = User.where(id: votos_seguidores.user_id) %>
										<% @seguido_voto.each do |seguido| %>
											<b><%= link_to seguido.name, seguido, {style: "color: #7e7e81;"} %></b>&nbsp;
											<% if votos_seguidores.like == 1 %>
							          <i class="fa fa-thumbs-o-up fa-lg" aria-hidden="true" style="color: green;"></i>&nbsp;
							          <% if micropost.petition == true %>
							            apoya la iniciativa &nbsp;&nbsp;|&nbsp;&nbsp;
							          <% else %>
							            le gusta el post &nbsp;&nbsp;|&nbsp;&nbsp;
							          <% end %>
							        <% else %>
							          <i class="fa fa-thumbs-o-down fa-lg" aria-hidden="true" style="color: red;"></i>&nbsp;
							          <% if micropost.petition == true %>
							            rechaza la iniciativa &nbsp;&nbsp;|&nbsp;&nbsp;
							          <% else %>
							            no le gusta el post &nbsp;&nbsp;|&nbsp;&nbsp;
							          <% end %>
							        <% end %>
										<% end %>
									<% end %>
								</div>

								<div class="usuario">
									<ul class="usuario">
										<li class="block">
								      <%= image_tag (micropost.user.foto.url), class: "img-circle", size: 38 if micropost.user.foto? %>
								  	</li>
								    <li>	
								      <ul class="block">
								        <li style="width: 70%;">
								          <b><%= link_to micropost.user.name, micropost.user %></b>

									    	<% if micropost.hashtag1? %>
													 sobre &nbsp; <span class="fa fa-tags" aria-hidden="true"></span>&nbsp;<b><%= link_to micropost.hashtag1, hashtag_micropost_path(micropost), {style: "color: #777777;"} %></b>
												 <% end %>

													<% if micropost.plaza_id? %>
														<% @plaza =  Plaza.where(:id => micropost.plaza_id) %>
														<% @plaza.each do |plaza| %>
															en&nbsp;&nbsp;<i class="fa fa-circle-o" aria-hidden="true"></i>&nbsp;<b><%= link_to plaza.name, user_plaza_path(id: plaza, user_id: current_user), {style: "color: #777777;"} %>.</b>
														<% end %>
													<% end %>
												</li>
									    </ul>
									  </li>
								    <li>
											<ul class="lista_derecha">
												<li>
													<span class="fa fa-thumbs-o-up" aria-hidden="true"></span>&nbsp;&nbsp;<%= micropost.votes.count %>&nbsp;&nbsp;votantes
											  </li>
											  <li>
													<span class="numbercomments"><span class="glyphicon glyphicon-comment" aria-hidden="true"></span>&nbsp;&nbsp;<%= micropost.comments.count %>&nbsp; comentarios</span>
												</li>
											</ul>
										</li>
									</ul>
								</div>
							</div>
						</div>
					<% end %>
		   	<% end %>
		  <% else %>
		  	<% @petitions = @microposts %>
		  	<div class="instrucciones">
		  		<i class="fa fa-info fa-lg" aria-hidden="true"></i>&nbsp;
		  		No dispones de consultas de tu red política, pero te mostramos las consultas más importantes
		  	</div>
		  	<div class="instrucciones">
		  		<i class="fa fa-info fa-lg" aria-hidden="true"></i>&nbsp;
		  		Falta por completar las consultas de cada usuario y si son para todos los públicos que aparezcan en el feed
		  	</div>
		   	<% @petitions.take(20).each do |micropost| %>
		   		<% if micropost.petition == true %>
						<div class="petition_index">
							<div class="principal">
								<div>
									<!--  Imagen -->
									<% if micropost.picture? %>
								    <div class="picture_content_petition_index"> <%= image_tag (micropost.picture.url), class: "img_petition_index" %> 
								    </div>
									<% end %>
								</div>
								
								<div class="title-petition">
									<!--  Titulo -->
										<b><%= link_to micropost.title, controller: "microposts", action: "show", id: micropost.id %></b>
								</div>

								<div class="content">
									<!--  Contenido texto -->
										<%= truncate(micropost.content, :length => 150) %>
										<%= link_to ".more", controller: "microposts", action: "show", id: micropost.id %>
								</div>

								<div class="votos_seguidores">
									<% @seguidores = current_user.following.count %>
									<% @votos_post_seguidores = Vote.where(micropost_id: micropost).where(user_id: current_user.following) %>
									<% @votos_post_seguidores.take(5).each do |votos_seguidores| %>
										<% @seguido_voto = User.where(id: votos_seguidores.user_id) %>
										<% @seguido_voto.each do |seguido| %>
											<b><%= link_to seguido.name, seguido, {style: "color: #7e7e81;"} %></b>&nbsp;
											<% if votos_seguidores.like == 1 %>
							          <i class="fa fa-thumbs-o-up fa-lg" aria-hidden="true" style="color: green;"></i>&nbsp;
							          <% if micropost.petition == true %>
							            apoya la iniciativa &nbsp;&nbsp;|&nbsp;&nbsp;
							          <% else %>
							            le gusta el post &nbsp;&nbsp;|&nbsp;&nbsp;
							          <% end %>
							        <% else %>
							          <i class="fa fa-thumbs-o-down fa-lg" aria-hidden="true" style="color: red;"></i>&nbsp;
							          <% if micropost.petition == true %>
							            rechaza la iniciativa &nbsp;&nbsp;|&nbsp;&nbsp;
							          <% else %>
							            no le gusta el post &nbsp;&nbsp;|&nbsp;&nbsp;
							          <% end %>
							        <% end %>
										<% end %>
									<% end %>
								</div>

								<div class="usuario">
									<ul class="usuario">
										<li class="block">
								      <%= image_tag (micropost.user.foto.url), class: "img-circle", size: 38 if micropost.user.foto? %>
								  	</li>
								    <li>	
								      <ul class="block" style="width: 100%; display: inline-flex;">
								        <li style="width: 65%;">
								          <b><%= link_to micropost.user.name, micropost.user %></b>

									    	<% if micropost.hashtag1? %>
													 sobre &nbsp; <span class="fa fa-tags" aria-hidden="true"></span>&nbsp;<b><%= link_to micropost.hashtag1, hashtag_micropost_path(micropost), {style: "color: #777777;"} %></b>
												 <% end %>

													<% if micropost.plaza_id? %>
														<% @plaza =  Plaza.where(:id => micropost.plaza_id) %>
														<% @plaza.each do |plaza| %>
															en&nbsp;&nbsp;<i class="fa fa-circle-o" aria-hidden="true"></i>&nbsp;<b><%= link_to plaza.name, user_plaza_path(id: @plaza, user_id: current_user), {style: "color: #777777;"} %>.</b>
														<% end %>
													<% end %>
												</li>
									    </ul>
									  </li>
								    <li>
											<ul class="lista_derecha">
												<li>
													<span class="fa fa-thumbs-o-up" aria-hidden="true"></span>&nbsp;&nbsp;<%= micropost.votes.count %>&nbsp;&nbsp;votantes
											  </li>
											  <li>
													<span class="numbercomments"><span class="glyphicon glyphicon-comment" aria-hidden="true"></span>&nbsp;&nbsp;<%= micropost.comments.count %>&nbsp; comentarios</span>
												</li>
											</ul>
										</li>
									</ul>
								</div>
							</div>
						</div>
					<% end %>
		   	<% end %>
		  <% end %>
		</div>

		<div class="col-sm-4" style="margin-top: 1px;">
		    <%# render 'shared/lista' %>
		  <div style="background-color: white; border: 1px solid #dddfe2; margin-top: 15px; padding: 5px; font-size: 13px;">
		  	<i class="fa fa-info fa-lg" aria-hidden="true"></i>&nbsp;
		  	Echa un vistazo a las siguientes consultas ciudadanas:
		  </div>
		  <%= render 'microposts/petition_short' %>
		</div>

  </div>
</div>
