<!-- Colapsable -->
<!--<button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo" style="margin: 5px;">Share something</button>
    <div id="demo" class="collapse"> -->
    <!-- Formulario del micropost -->
<%= form_for(@micropost, html: { multipart: true }) do |f| %>
<%= render 'shared/error_messages', object: f.object %>
<%= f.hidden_field :petition, :value => true %>
<%= f.hidden_field :user_id, :value => current_user.id %>
<div class="share-content">
    <ul style="list-style-type: none; -webkit-padding-start: 5px; margin: 0px;">
        <li style="display: inline-flex; margin-top: 10px;">
            <%= image_tag (current_user.foto.url), class: "img-circle", size: 25 if current_user.foto? %>
        </li>
        <li style="display: inline-flex; width: 90%; margin: 0px;">
            <p>
                Explain your proposals, the problem and the  solution you are proposing: 
            </p>
            <%= f.text_area :content, placeholder: "Share something with the community..." %>
        </li>

    </ul>
    <span>
        <%= f.text_area :title, placeholder: "Title for the petition..." %>
    </span>
    <div class="iconos-share">
        <ul style="display: inline-flex; list-style-type: none; width: 100%; margin-bottom: 3px; border-bottom: 1px solid #e6e9ec; border-top: 1px solid #e6e9ec; padding-left: 15px;">
            <li style="width: 30%;">
                <button type="button" class="btn btn-default btn-sm" data-toggle="collapse" data-target="#link"><span class="fa fa-newspaper-o fa-2x" aria-hidden="true"></span> Link </button>
                    <div id="link" class="collapse">
                <%= f.text_field :link, placeholder: "Or maybe a link" %>
                    </div>           
            </li>
            <li style="width: 30%;">
                <button type="button" class="btn btn-default btn-sm" data-toggle="collapse" data-target="#video"><span class="fa fa-video-camera fa-2x" aria-hidden="true"></span> Video </button>
                    <div id="video" class="collapse">
                <%= f.text_field :video, placeholder: "Or send us a video. Just copy the video code from youtube" %>
                    </div>
            </li>
            <li style="padding: 0px; width: 25%; margin-left: 10px;">
                    <div id="test">
                        <div class="wrapper" style="margin-top: 12px; margin-bottom: 0px;">
                            <%= f.file_field(:picture, accept: 'image/jpeg,image/gif,image/png',  class: 'file_input') %>
                        </div>
                    <button class= "btn btn-default btn-sm"><span class="fa fa-picture-o fa-2x" aria-hidden="true"></span> Image </button>
                </div>
            </li>
        </ul>
        <ul style="display: inline-flex; list-style-type: none; width: 100%; margin-bottom: 3px;">
            <li style="display: inline; margin-bottom: 0px; width: 50%;">
                <ul style="display: inline-flex;">
                    <li>
                        <span class="fa fa-hashtag" aria-hidden="true">Hashtag </span>
                    </li>
                    <li style="padding: 3px;"><%= f.select :hashtag1, [
                        '',
                        'Family',
                        'People rights',
                        'Education',
                        'Energy',
                        'Environment',
                        'Health Care',
                        'Immigration',
                        'Jobs and Economy',
                        'National Security',
                        'Goverments',
                        'Elderly',
                        'Science and Technology',
                        'Voting',
                        'Reforms and Proposals',
                        'Sports',
                        'Daily Life'] %>
                    </li>
                </ul>
            </li>
            <li>
                <%= f.submit "Post", class: "btn btn-info btn-sm" %>
            </li>  
        </ul>
    </div>
</div>
<!-- </div> -->

    <!--
        <div class="col-xs-3">
        <%= f.select :hashtag2, [
        '',
        'Family',
        'People rights',
        'Education',
        'Energy',
        'Environment',
        'Health Care',
        'Immigration',
        'Jobs and Economy',
        'National Security',
        'Goverments',
        'Elderly',
        'Science and Technology',
        'Voting',
        'Reforms and Proposals',
        'Sports',
        'Daily Life'] %>
        </div>

        <div class="col-xs-3">
        <%= f.select :hashtag3, [
        '',
        'Family',
        'People rights',
        'Education',
        'Energy',
        'Environment',
        'Health Care',
        'Immigration',
        'Jobs and Economy',
        'National Security',
        'Goverments',
        'Elderly',
        'Science and Technology',
        'Voting',
        'Reforms and Proposals',
        'Sports',
        'Daily Life'] %>
        </div>
    -->
      
        
    <% end %>    

<script type="text/javascript">
  $('#micropost_picture').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 2) {
      alert('Maximum file size is 2MB. Please choose a smaller file.');
    }
  });
</script>

<!-- fin del formulario del post -->

<!-- fin colapsable -->
