<div class="container">
<% provide(:title, 'Petitions') %>    
	<div class="row">
    <aside class="col-sm-2" style="">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
    </aside>

    <div class="col-sm-7">
		<h1 style="font-size: 30px;">Your petitions</h1>
		<ul class="ul-petitions">
		<% @microposts.each do |micropost| %>
		<li style="border: 1px solid #e6e9ec; margin-bottom: 20px;">
			<!--  Introducción -->
				<ul class="encabezado" style="list-style: none; padding-right: 15px; display: inline-flex; text-align: left; width: 100%;margin-bottom: 10px;">
					<li style="text-align: left; width: 1%; position: absolute; left: 10px;">
						<%= render (@plaza =  User.where(:id => micropost.plaza_id)) %>
					</li>
					<li style="text-align: right; padding-top: 15px;">
						
					</li>
					<li style="text-align: right; position: absolute; right: 25px;">
						<ul style="display: inline-block; list-style: none"><li>
						<span class="numbercomments"><span class="fa fa-thumbs-o-up" aria-hidden="true"></span>          <%= micropost.votes.count %>  votantes</span></li>
						<li><% if micropost.hashtag1? %>
						  <span class="hashtag" style="padding-left: 15px;"><span class="fa fa-tags" aria-hidden="true"></span>  <%= link_to micropost.hashtag1, hashtag_micropost_path(micropost) %></span></li></ul>
						<% end %>
					</li>
				</ul>

			<!--  Imagen -->
			<% if micropost.picture? %>
				      <div class="picture_content_petition_index"> <%= image_tag (micropost.picture.url), class: "img_petition_index" %> 
				      </div>
			<% end %>	

			<!--  Titulo -->
			<span class="title-petition" style="font-size: 18px; color: black;">
				<%= link_to micropost.title, controller: "microposts", action: "show", id: micropost.id %> 
			</span>

			<!--  Contenido texto -->
			<div class="content" style="padding-left: 10px; padding-right: 5px; font-style: 14px;">
				<%= truncate(micropost.content, :length => 150) %><span style="position: absolute; right: 20px;"><%= link_to "...more", controller: "microposts", action: "show", id: micropost.id %></span> 
	   		</div>

	   	<!-- Usuario -->
			<ul style="padding: 10px; list-style: none; display: inline-flex; background-color: white; width: 100%;">
				<li style="display: inline-flex;">
		  			<span>
		      			<%= image_tag (micropost.user.foto.url), class: "img-circle", size: 38 if micropost.user.foto? %>
		  			</span>
		  		</li>
		      	<li>	
		      		<ul style="list-style: none; padding: 0px; padding-left: 5px; width: 100%; margin: 0px;">
		        		<li>
		          			<%= link_to micropost.user.name, micropost.user %>
		        		</li>
		        		<li style="display: inline-flex; font-size: 11px;">
		          			<%= micropost.user.followers.count %> followers
		        		</li>
		        		<li style="font-size: 11px;">
		        		</li>
		      		</ul>
		      	</li>

						<!-- comentarios -->
						<li style="padding-top: 10px; position: absolute; right: 20px;">
							<span class="numbercomments"><span class="glyphicon glyphicon-comment" aria-hidden="true"></span>          <%= micropost.comments.count %> comentarios</span>
						</li>
			</ul>

		<% end %>
		</li>
		</ul>
	</div>

  <div class="col-sm-3">
    <h4>Tus Listas electorales</h4>
      <%= render 'shared/lista' %>
    </div>
  </div>

</div>
