<%# if @micropost.plaza_id != nil %>
<div class="container">
  <% provide(:title, "Petition") %>
  <div class="row">
    <aside class="col-md-4">
      <% if logged_in? %> 
        <section>
          <h1>
            <%= image_tag @user.foto.url, size: 150 if current_user.foto? %>
            <%= @user.name %>
          </h1>
        </section>
        <section class="stats">
          <%= render 'shared/stats' %>
        </section>
      <% end %>
    </aside>
    <div class="col-md-8">
      <h4>Posts</h4>
      <ol class="microposts">
        <p><%= @micropost.title %></p>
        <p><%= @micropost.content %></p>
        <p><%= @micropost.user.name %></p>
        <%= render @micropost %>
      </ol>
    </div>
  </div>
</div>
<%# else %>
<%# end %>