<%= form_for(confirmacion) do |f| %>
  <% if confirmacion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(confirmacion.errors.count, "error") %> prohibited this confirmacion from being saved:</h2>

      <ul>
      <% confirmacion.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.hidden_field :reform_id, value: @reform.id %>
  <%= f.hidden_field :cost, value: @budgets %>
  <% if current_user.empresa == true %>
    <%= f.hidden_field :empresa, value: true %>
    <%= f.hidden_field :usuario, value: false %>
  <% else %>  
    <%= f.hidden_field :empresa, value: false %>
    <%= f.hidden_field :usuario, value: true %>
  <% end %>
  
  <div class="actions">
    <% if current_user.empresa == true %>
      <h3><%= f.submit "Presentar presupuesto al cliente", style: "background-color: white; padding: 10px; border-color: #1DA1F2; color: #1DA1F2; border-radius: 10px; font-weight: 900;", data: { confirm: '¿Estás seguro?' } %></h3>

    <% else %>

      <h3 style=""><h5>Pide presupuestos, <b>es gratis y sin compromiso</b></h5><%= f.submit "Pide presupuestos, gratis, sin compromiso", style: "background-color: white; padding: 10px; border-color: #1DA1F2; color: #1DA1F2; border-radius: 10px; font-weight: 900; align-items: center;", data: { confirm: '¿Estás seguro? Cuando pidas los presupuestos ya no puedes modificar los datos del proyecto, ¿Continuamos?' } %></h3>
      <h3 style="color: #444; font-weight: 600;">Recibiras lo antes posible las propuestas para tu proyecto de empresas valoradas por otros usuarios, para, si quieres, ponerte en contacto con ellas para realizar el proyecto.</h3>
    <% end %>
  </div>
<% end %>

