<header class="navbar navbar-fixed-top" style="margin-bottom: 0px; border-bottom: 0.5px solid #ddd;">
  <div class="container" style="padding: 0px;">
      <div class="icons_list">
        <% if logged_in? %>
          <ul class="icons">
            <li class="dropdown" style="width: 80%;">
              <%= link_to root_path do %>
                <div class="logo" style="display: inline-flex; align-items: center;">
                  <h3 style="font-size: 22px; font-weight: 900; font-family: 'Open Sans'; margin: 0px; color: #555; letter-spacing: -1.5px;"><i class="fa fa-building fa-lg" aria-hidden="true" style="font-size: 18px;"></i>&nbsp;&nbsp; ConstructUX</h3>
                </div>
              <% end %>               
            </li>

            <li class="dropdown">
              <%# link_to '/petitions' do %>
                <div>
                  <% @votos_petitions = Vote.where(micropost_id: current_user.feed_petition).where(user_id: current_user).count %>
                  <% @pendientes = current_user.feed_petition.count - @votos_petitions %>

                  <div class="icon_mobile">
                    <i class="fa fa-envelope-open fa-lg" aria-hidden="true" style="color: #666"></i>
                    <% if @pendientes > 0 %>
                      <div style="background: red; border-radius: 0.8em; -moz-border-radius: 0.8em; -webkit-border-radius: 0.8em;  display: inline-block; line-height: 1.6em; text-align: center; width: 1.6em; font-size: 12px; margin-left: -7px;">
                            <b><%= @pendientes %></b>
                      </div>
                    <% else %>
                      <div style="background: green; border-radius: 0.8em; -moz-border-radius: 0.8em; -webkit-border-radius: 0.8em;  display: inline-block; line-height: 1.6em; text-align: center; width: 1.6em; font-size: 12px; margin-left: -7px;">
                            <b><%= @pendientes %></b>
                      </div>
                    <% end %>                    
                    
                  </div>
                  
                  <div class="icon_web">
                    <i class="fa fa-envelope-open fa-lg" aria-hidden="true" style="color: #666"></i>
                    <% if @pendientes > 0 %>
                      <div style="background: red; border-radius: 0.8em; -moz-border-radius: 0.8em; -webkit-border-radius: 0.8em;  display: inline-block; line-height: 1.6em; text-align: center; width: 1.6em; font-size: 12px;  margin-left: -7px;">
                            <b><%= @pendientes %></b>
                      </div>
                    <% else %>
                      <div style="background: green; border-radius: 0.8em; -moz-border-radius: 0.8em; -webkit-border-radius: 0.8em;  display: inline-block; line-height: 1.6em; text-align: center; width: 1.6em; font-size: 12px;  margin-left: -7px;">
                            <b><%= @pendientes %></b>
                      </div>
                    <% end %>
                    <span class="icon"> Mensajes</span>
                  </div>                  
                </div>
              <%# end %>
            </li>
            <li class="dropdown" style="">
              <div class="icon_mobile">
                <%= link_to reforms_path do %>
                  <div class="glyphicon glyphicon-briefcase" style="font-size: 20px; color: #666;"></div>
                <% end %>
              </div>                                   
            
              <%= link_to reforms_path do %>
              <div class="icon_web">
                <div class="glyphicon glyphicon-briefcase" style="font-size: 16px; color: #666;"></div>
                <div class="logo" style="display: inline-flex; align-items: center;">
                  <span class="icon"> Tus Proyectos</span>
              </div>
              <% end %>               
            </li>            
            <li class="dropdown"> 
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">&nbsp;
                  <div class="icon_mobile" style="display: inline-flex;">
                    <i class="fa fa-user fa-lg" aria-hidden="true" style=" margin-top: 5px; color: #666;"></i>
                    &nbsp;<span class="icon"> Perfil</span><b class="caret" style="display: inline-flex;  margin-top: 10px;"></b>
                  </div>
              </a>

              <ul class="dropdown-menu" style="left: auto; right: 0px; font-size: 14px; text-align: left;">
                <li style="text-align: left; margin-top: 10px;">
                  <%= link_to current_user do %>
                  <%= image_tag current_user.foto.url, class: "img-rounded", size: 20 if current_user.foto? %> <b>Perfil</b>
                  <% end %>
                </li>
                <li style="text-align: left; margin-top: 10px;">
                  <%= link_to edit_user_path(current_user) do %>
                  <i class="fa fa-cogs" aria-hidden="true" style="color: #1DA1F2;"></i> <b>Configuración</b>
                  <% end %>
                </li>
                <% if current_user.empresa == true %>
                  <li style="text-align: left; margin-top: 10px;">
                    <% if Empresa.find_by(id: current_user.id) != nil %>
                      <%= link_to empresa_path(id: current_user.id) do %>
                      <i class="fa fa-circle-o" aria-hidden="true" style="color: #1DA1F2;"></i> <b>Tus Datos</b>
                      <% end %>
                    <% else %>
                      <%= link_to "Introduce tus datos", new_empresa_path %>
                    <% end %>    
                  </li>
                <% end %>                                            
                <li class="divider"></li>
                <li>
                    <%= link_to logout_path, method: "delete" do %>
                    <i class="fa fa-sign-out" aria-hidden="true"></i> <b>Salir</b>
                    <% end %>
                </li>
              </ul>
            </li>
        <% else %>
            <ul class="icons" style="padding-right: 30px; padding-left: 30px;">
              <li class="dropdown-home" style="width: 60%; padding-top: 12px; text-align: left;">
                <%= link_to root_path do %>                
                  <i class="fa-building fa-lg" style=""></i>&nbsp;&nbsp;
                  <span style=" font-size: 18px; font-weight: 900;">ConstructUX</span>
                <% end %>
              </li>
              <li class="dropdown-home" style="width: 20%;">
                <%= link_to login_path do %>
                    <span style="color: #666">Login</span>
                <% end %>
              </li>
              <li class="dropdown-home" style="width: 20%;">
                <%= link_to signup_path do %>
                    <span style="color: #666">Signup</span>
                <% end %>
              </li>
            </ul>
          </ul>
        <% end %>
      </div>
  </div>
</header>