<header class="navbar navbar-fixed-top navbar-inverse" style="background-color: #0084B4; border-bottom: 0px;">
  <div class="container-fluid" style="align-content: center; display: flex; justify-content: center; width: 70%;">
      <div class="icons-list">
        <% if logged_in? %>
          <ul style="display: inline-flex; list-style: none; margin-top: 8px; padding-left: 5px; width: 100%;">
            <li>
              <%= link_to root_path do %>
                <i class="fa fa-home fa-lg" aria-hidden="true" style="color: white"></i><p style="color: white">loobIN</p>
              <% end %>
            </li>
          
            <li>
              <%= link_to user_plazas_path(current_user) do %>
                <i class="fa fa-circle-o-notch fa-lg" aria-hidden="true" style="color: white"></i><p style="color: white">Círculos</p> <!-- MyLoobis -->
              <% end %>
            </li>
            <li>
              <%= link_to '/lista' do %>
                <i class="fa fa-university fa-lg" aria-hidden="true" style="color: white"></i><p style="color: white">Candidatos</p>
              <% end %>
            </li>
            <li>
              <%= link_to users_path do %>
                <i class="fa fa-users fa-lg" aria-hidden="true" style="color: white"></i><p style="color: white">Usuarios</p>
              <% end %>
            </li>
            <li>
              <%= link_to '/petitions' do %>
                <i class="fa fa-envelope-open fa-lg" aria-hidden="true" style="color: white"></i><p style="color: white">Consultas</p>
              <% end %>
            </li>
            <li>
              
            </li>
            <li class="dropdown" style="display: inline-flex;">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="padding-left: 3px; padding-right: 3px; font-size: 0.9em; "><span class="glyphicon glyphicon-user" style="color: white; text-align: center;"></span>
                  <span style="color: white">My Account</span><b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li><%= link_to "Profile", current_user %></li>
                  <li><%= link_to "Settings", edit_user_path(current_user) %></li>
                  <li>
                    <%= link_to "Selecciona tu círculo municipal", edit_administrative_path(id: current_user), class: "btn btn-primary" %>
                  </li>
                  <li class="divider"></li>
                  <li>
                    <%= link_to "Log out", logout_path, method: "delete" %>
                  </li>
                </ul>
              </li>
        <% else %>
            <ul style="display: inline-flex; list-style: none; margin-top: 8px; padding-left: 5px; width: 30%; text-align: center; ">
              <li style="text-align: center;">
                <%= link_to root_path do %>
                  <i class="fa fa-home fa-lg" style="color: white"></i><p style="color: white">loobIN</p>
                <% end %>
              </li>
              <li>
                <%= link_to login_path do %>
                  <i class="fa fa-sign-in fa-lg" style="margin-top: 10px; color: white"></i><p style="color: white">Login</p>
                <% end %>
              </li>
            </ul> 
          </ul>
        <% end %>
      </div>
  </div>
</header>