<header class="navbar navbar-fixed-top" style="margin-bottom: 0px;">
  <div class="container" style="padding: 0px;">
      <div class="icons_list">
        <% if logged_in? %>
          <ul class="icons">
            <li class="dropdown" style="width: 30%;">
              <%= link_to root_path do %>
                <div class="logo">
                  <i class="fa fa-university fa-lg" aria-hidden="true" style="color: white"></i><span style="font-size: 18px;"><b> polittizen</b></span>
                </div>
                
              <% end %>               
            </li>
            <li class="dropdown">
              <%= link_to user_plazas_path(current_user) do %>
                <div>
                   <span><i class="fa fa-circle-o fa-lg" aria-hidden="true" style="color: white"></i> Círculos</span>       
                </div>
              <% end %>
            </li>
            <li class="dropdown">
              <%= link_to '/lista' do %>              
                <div>
                  <i class="fa fa-university fa-lg" aria-hidden="true" style="color: white"></i> <span>Candidatos</span>                
                </div>
              <% end %>
            </li>
            <li class="dropdown">
              <%= link_to users_path do %>
                <div>
                  <i class="fa fa-users fa-lg" aria-hidden="true" style="color: white"></i> <span>Usuarios</span>                
                </div>
              <% end %>
            </li>
            <li class="dropdown">
              <%= link_to '/petitions' do %>
                <div>
                  <i class="fa fa-envelope-open fa-lg" aria-hidden="true" style="color: white"></i> <span>Consultas</span> 
                </div>
              <% end %>
            </li>
            <li class="dropdown" >
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user fa-lg" aria-hidden="true" style="text-align: center; color: white;"></i>&nbsp;<b class="caret" style="display: inline-flex; color: white;"></b>&nbsp;
              <span>You</span>
              </a>
              <ul class="dropdown-menu" style="left: auto; right: 0px;">
                <li><%= link_to "Profile", current_user %></li>
                <li><%= link_to "Settings", edit_user_path(current_user) %></li>
                <li>
                    <%= link_to "Círculos", edit_administrative_user_path( current_user), class: "btn btn-primary" %>
                </li>
                <li class="divider"></li>
                <li>
                    <%= link_to "Log out", logout_path, method: "delete" %>
                </li>
              </ul>
            </li>
        <% else %>
            <ul class="icons" style="padding-right: 30px; padding-left: 30px;">
              <li class="dropdown-home" style="width: 60%; padding-top: 12px; text-align: left;">
                <%= link_to root_path do %>                
                  <i class="fa fa-university fa-lg" style="color: white;"></i>&nbsp;&nbsp;
                  <span style="color: white; font-size: 18px; font-weight: lighter;">polittizen</span>
                <% end %>
              </li>
              <li class="dropdown-home" style="width: 20%;">
                <%= link_to login_path do %>
                    <span style="color: white">Login</span>
                <% end %>
              </li>
              <li class="dropdown-home" style="width: 20%;">
                <%= link_to signup_path do %>
                    <span style="color: white">Signup</span>
                <% end %>
              </li>
            </ul>
          </ul>
        <% end %>
      </div>
  </div>
</header>