<!DOCTYPE html>
<html lang="es" xml:lang="es">
<head>
  

  <meta charset="utf-8">
  <meta name="description" content="Dise単ador de reformas, ajusta tu presupuesto a tu medida con las mejores ofertas, materiales y presupuestos para tu reforma.">
  <meta name="keywords" content="materiales de construccion, planos de casas, reforma, presupuesto, reformas en general, presupuestos de reformas, presupuesto reformar ba単o, presupuesto reformar cocina, fontanero, electricista, alba単il, calcula tu reforma, calcula tu presupuesto">
  <meta name="author" content="Roberto Villasevil Bargue単o">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag  'application', media: 'all',
                                              'data-turbolinks-track': 'reload' %>

    <link href='//fonts.googleapis.com/css?family=Open+Sans:200,400,600,700,800,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css" integrity="sha384-5SOiIsAziJl6AWe0HWRKTXlfcSHKmYV4RBF18PPJ173Kzn7jzMyFuTtk8JA7QQG1" crossorigin="anonymous">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render 'layouts/shim' %>

    <%= favicon_link_tag 'logo_ux.png' %>

    <%= content_for?(:head) ? yield(:head) : '' %> 

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-115472018-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-115472018-2');
    </script>  

    
  </head>
  <body>
    <%= render 'layouts/header' %>
    <div class="container" style="">
      <div class="row" style="">
        <div class="col-sm-12" style="padding: 0px;">    
          <% flash.each do |message_type, message| %>
          <div class="col-md-2"></div>
          <div class="col-md-10">
            <div class="alert alert-<%= message_type %>"><h3><%= message %></h3></div>
          </div>
          <% end %>
          <%= yield %>              

          <%= render 'layouts/footer' %>
          <%= debug(params) if Rails.env.development? %>          
        </div>
      </div>
    </div>

    <!-- FacebookSDK
    // https://developers.facebook.com/docs/plugins/page-plugin/ -->
    <script>
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk')); // Replace 'facebook-jssdk' with your page id.

      // Compatibility with Turbolinks 5
      (function($) {
        var fbRoot;

        function saveFacebookRoot() {
          if ($('#fb-root').length) {
            fbRoot = $('#fb-root').detach();
          }
      };

      function restoreFacebookRoot() {
        if (fbRoot != null) {
          if ($('#fb-root').length) {
            $('#fb-root').replaceWith(fbRoot);
          } else {
            $('body').append(fbRoot);
          }
        }

        if (typeof FB !== "undefined" && FB !== null) { // Instance of FacebookSDK
          FB.XFBML.parse();
        }
      };

      document.addEventListener('turbolinks:request-start', saveFacebookRoot)
      document.addEventListener('turbolinks:load', restoreFacebookRoot)
    }(jQuery));
  </script>
    
  </body>
</html>
